.THIS{
}
.THIS .datecss{
    color:black !important;
}
.THIS.mobileView{
    display:none !important;
}
.THIS .ROIpdf-btn-padding {
    padding-right: 20px;
}
.THIS .ROIpdf-btn-padding-left {
    padding-left: 20px;
}

.THIS .ROIpdf-size-padding {
    width: 200px;
}
.THIS .ROIpdf button {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border: none;
    white-space: nowrap;
    background: #00c4f4;
    color: white;
    border-radius: 6px;
    padding: 5% 25%;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
}
.THIS.FLbutton{
    background: #00C4F4 !important;
    color: white !important;
}
.THIS .slds-modal__container{
    max-width: 80% !important;
    width:80% !important;
    /* max-height:80% !important;
    height:80% !important;
    overflow :hidden !important;
    */
}
.THIS .slds-modal{
    
    padding-top:3rem;
    height:100%;
    
}
.THIS .slds-modal__container{
    font-size :12px !important;
    
}
.THIS .hgtcls{
    height:100%;
}
/*
.THIS .slds-backdrop{
opacity:0.2 !important;
}
.THIS .slds-backdrop{
opacity:0.2 !important;
}
*/

.THIS .slds-grid {
    padding-left: 0.5rem!important;
    padding-right: 1rem!important;
}
.THIS.slds-col {
    padding: 1px !important;
    font-size:12px !important ;
}
.THIS .slds-p-bottom_small {
    padding: 3px !important;
}
.THIS .slds-p-bottom_medium {
    padding: 8px !important;
}
.THIS .headingColor{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 500;
    color: #122377;
}
.THIS #textId span{
    color: #16325c !important;
    
}
.THIS #emailId span{
    color: #16325c !important;
}
.THIS #msignOption span {
    font-size: 12px !important;
}
.THIS .nopading {
    padding-left: 0px !important;
}
.THIS .underLine{
   text-decoration: underline !important;
    font-weight: 500 !important;
}
.THIS .fntStyle{
    font-style:oblique;
}
.THIS .slds-align_absolute-right{
    text-align:right;
}
.THIS .bgColor{
    background:linear-gradient(to right, #122377, #009EB4);
}
.THIS .bgColor button{
    color:white;
    border: 2px solid white;
    font-weight:bold;
    padding-right: 1rem;
}

.THIS .slds-size--2-of-3{
    box-shadow:inset 4rem 0px 53px -46px rgba(0, 0, 0, 0.4) !important;
    padding:3rem !important;
    padding-top:1rem !important;
    
}

.THIS .slds-form-element__label{
    color:#16325c !important;
}
.THIS .BgColor button{
    
    background:#cccccc;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .slds-addFamilyMem-box {
    background:#00C4F4;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .BgColorEnable button{
    
    background:#00C4F4;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .slds-change-color{
    background-color: black;
}
.THIS .slds-modal__header
{
    border-bottom :none !important;
    padding : 0px !important;
}
.THIS .auth-h1{
    font-family: "Cormorant Garamond", serif;
    color: #323232;
    font-style: italic;
    font-size :20px;
    font-weight : 500 ;
}
.THIS .auth-document p{
    color: #252525;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.THIS .auth-document .body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #00C4F4;
    text-transform:uppercase;

    
    
}
.THIS .auth-document hr {
    display: block;
    margin: 1rem 0;
    border-top: 1px solid #d8dde6;
    /* height: 1px; */
    /* clear: both; */
    
}
.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}
.THIS .slds-fade-in-open-view {
    opacity: 1;
    background: none !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}
/*
.THIS .slds-scrollable {
overflow: scroll !important;
}*/

@media (max-width: 567px){
    
    .THIS.mobileView{
        display:block !important;
    }
    .THIS.desktopview{
        display:none !important;
    }
    
    .THIS.slds-modal__content{
        font-size : 12px !important;
    }
    .THIS .slds-size--1-of-3{
        max-width:100% ;
        width:100%
    }
    .THIS .slds-size--1-of-3{
        max-width:100% ;
        width:100%
    }
    
    .THIS .slds-size--1-of-3{
        box-shadow:inset 0rem 0px 0px 0px rgba(0, 0, 0, 0) !important;
        padding:1rem !important;
        padding-top:1rem !important;
        
    }
    .THIS .slds-size--2-of-3{
        box-shadow: inset 4rem 0 53px -46px rgba(0, 0, 0, 0.4)!important;
        padding: 2rem!important;
        padding-top: 1rem!important;
    }
    .THIS .slds-col {
        padding: 1px !important;
        font-size:12px !important ;
    }
    .THIS .signatureLabel {  
        padding-right: 5rem !important;
    }
}