.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .textwrap{
    word-wrap: break-word;white-space: normal;
}

.THIS .scroll_xAxis {
  overflow-x: scroll;
}

.THIS .HeaderSpace{
    width: 100px;
}

.THIS .HeaderExtraSpace{
    width: 9%;
}