.THIS .inputSize svg{
    width:1rem !important; 
    height:1rem !important;
}
.THIS .searchBoxSize{
    height:1rem;
}
.THIS .divCss .slds-icon {
    width: 1rem;
    height: 1rem;
}
.THIS .searchicon svg{
    width:1rem;
    height:1rem;
    margin-top:13px !important;
}
.THIS .recordListBox {
	margin-top:0px !important;
    overflow-y: scroll;
    max-width:100% !important;
    min-height:40px !important;
    margin-left:0px !important;
}

.THIS .styling button{
    line-height: 0.875rem !important;
}
.THIS .slds-pill__remove{
    margin-top: -1rem !important;
}
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .advisor{
    background-color:orange;
}
.THIS .providerTeam{
    background-color: purple;
}
.THIS .provider{
    background-color: blue;
}
@media (max-width: 750px) {
    .THIS .iconsearch{
        margin-right:-2px;
    
    }
}