/**********************************************
 * Navigation
 * ********************************************/
.THIS .record-top-nav{
    padding-top:20px;
}

.THIS .record-nav{
    display: inline-block;
    list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 20px;
    border-radius:0.6rem;
    height: 3rem;
    width:40vw;
    border: solid 1px #B5E8FF;
  
}

.THIS .record-nav li {
  float: left;
  font-size: 10pt;
  border-right: solid 1px #B5E8FF;
  width: 33.3%;
}

.THIS .record-nav li.active{
    background-color: white;
}
.THIS .record-nav li.active a {
    color: #0070d2;
    font-size: 10pt;
    font-family: var(--lwc-fontFamily,Lato);
}

.THIS .record-nav li:last-child {
  border-right: none;
}

.THIS .record-nav li a {
  display: block;
  color: grey;
  text-align: left;
  padding: 13px;
  width:100%;
  text-decoration: none;
}
.THIS .tab-nav{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 20px;
    border-radius:0.5rem;
    height: 40px;
    border: solid 1px #B5E8FF;
  
}

.THIS .tab-nav li {
  float: left;
  border-right: solid 1px #B5E8FF;
  width: 50%;
}

.THIS .tab-nav li.active{
    background-color: white;
}
.THIS .tab-nav li.active a {
    color: #0070d2;
}

.THIS .tab-nav li:last-child {
  border-right: none;
}

.THIS .tab-nav li a {
  display: block;
  color: grey;
  text-align: left;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  width:100%;
  text-decoration: none;
}
.THIS .colorimgheight {
    height:20px;
}
.THIS .imgheight {
    height:20px;
}
.THIS .slds-modal__header_empty {
    padding: 0 !important;
    border-bottom: 0 !important;
}
.THIS .slds-change-color{
    background-color: black;
}
.THIS .slds-modal__close{
    right:0.1rem !important;
}
/********************************************
 * Button
 * *******************************************/

.THIS .slds-addcontact-box{
    color:white;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:#316BBE;
;
    height:3rem;
    width:12rem;
    text-align:center;
    font-weight:bold;
    float:right;
    margin-right: 20px;
}

.THIS .slds-savebutton-box{
    color:white;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:#00bfff;
    height:2.5rem;
    width:10rem;
    text-align:center;
    font-weight:bold;
    float:right;
}

.THIS .slds-backbutton-box{
    color:#00bfff;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:white;
    height:2.5rem;
    width:10rem;
    text-align:center;
    font-weight:bold;
    margin-right: 20px;
    border-color: #00bfff;
    border-width: 2px;
}

/*******************************************************
 * Content
 * *****************************************************/

.THIS .slds-record-content{
    margin-top: 30px;
    margin-left:20px;
    margin-right:20px;
}

.THIS .modalTitle{
    font-weight: bold;
    font-size: 1.25rem;
    color: #0c0cb1;
    line-height: 1.25;
}

.THIS .modalBody{
    padding-bottom:10px;
}

.THIS .modalLabels{
    padding-bottom:10px;
    font-weight:bold;
    color:gray !important;
}

.THIS .slds-modal__content{
    padding: 20px;
}

.THIS .slds-modal__container{
    min-width: 50rem !important;
}

.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}

.THIS .backdrop{
    transition-duration: 0.4s;
    width: 100%;
    height: 100%;
    opacity: 60%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
}

.THIS .slds-day{

color: black !important;

}

.THIS .slds-button_icon-bare {
    line-height: 0px !important;

}
/********************************************************
 * Combo Box
 * ******************************************************/
.THIS .slds-custom-combo{
    width:100%;
}
.THIS .slds-custom-combo .slds-form-element__label{
    font-size: 14px;
    color: #797972;
    font-weight: 600;
}
.THIS .slds-custom-combo svg[data-key="down"]{
    height: 1rem;
    padding-right: 1rem;
    vertical-align: -6px;
}
.THIS .slds-custom-combo .slds-dropdown-trigger .slds-dropdown {
    height: 150px;
    overflow: auto;
}
.THIS .slds-custom-combo svg[data-key="check"]{
   display: none;
}
.THIS .slds-custom-modalBody{
    height:250px;
}
.THIS .slds-custom-center{
    padding-top:40px;
}
.THIS .slds-custom-combo .slds-dropdown_fluid{
	max-width: 100% !important;
}
.THIS .slds-custom-combo .slds-dropdown--fluid{
    max-width: 100% !important;
}
.THIS .slds-custom-size{
    min-width: 40rem !important;
}
/********************************************************
 * File Upload 
 * ******************************************************/
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    font-size: 14px;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 14px;
}
.THIS .slds-custom-fileupld .slds-has-error .slds-form-element__help{
    font-size:0;
}
.THIS .slds-custom-fileupld .slds-has-error .slds-form-element__help:after{
    content: 'This file type is not supported';
    font-size: 0.75rem;
}
.THIS .slds-custom-fileupld{
    width:100%;
}
/********************************************************
 * Mobile
 * ******************************************************/
@media (max-width: 750px){
.THIS .slds-addcontact-box{
        width: 92%;
        float:none;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .THIS .record-nav{
        font-size: 12px;
        width: 92%;
        padding: 0;
        margin:0;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:10px;
        height: auto;
        text-align: center !important;
    }
}
@media (max-width: 575px){
 .THIS .slds-addcontact-box{
        width: 90vw;
        float:none;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
 .THIS .record-nav{
        font-size: 12px;
        width: 90vw;
        padding: 0;
        margin:0;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:10px;
        height: auto;
        text-align: center !important;
    }
    
    .THIS .record-nav li a {
        padding: 0;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .THIS .slds-savebutton-box{
	    color:white;
	    border-radius:0.6rem;
	    text-decoration:none;
	    font-size:16px;
	    background:#ffb111;
	    height:2.5rem;
	    width:8rem;
	    text-align:center;
	    font-weight:bold;
	    margin: 0 auto;
    	display: block;
    	float:none !important;
    	padding-bottom:2px;
	}
	
	.THIS .slds-backbutton-box{
	    color:#ffb111;
	    border-radius:0.6rem;
	    text-decoration:none;
	    font-size:16px;
	    background:white;
	    height:2.5rem;
	    width:8rem;
	    text-align:center;
	    font-weight:bold;
	    margin-top: 10px !important;
	    border-color: #ffb111;
	    border-width: 2px;
	    margin: 0 auto;
    	display: block;
	}
    .THIS .slds-record-content{
        margin-top: 30px;
        margin-left:20px;
        margin-right:20px;
        min-height: 410px;
  }
    .THIS .record-nav li a {
       text-align: center; 
    }
    .THIS .slds-file-selector__dropzone .slds-medium-show{
       display: block !important;
   }
    .THIS .slds-custom-combo{
   		width:100%;
    }
   .THIS .slds-custom-combo .slds-dropdown_fluid{
		max-width: 100% !important;
    }
    .THIS .slds-custom-combo .slds-dropdown--fluid{
        max-width: 100% !important;
    } 
}
@media (max-width: 992px){
    .THIS .slds-modal__container{
        min-width: 15rem !important;
    }
    .THIS .slds-file-selector__dropzone .slds-medium-show{
       display: block !important;
   }
    .THIS .slds-custom-combo{
   		width:100%;
    }
    .THIS .slds-custom-combo .slds-dropdown_fluid{
		max-width: 100% !important;
    }
    .THIS .slds-custom-combo .slds-dropdown--fluid{
        max-width: 100% !important;
    }
}