.THIS .visible svg{
    fill : blue;
}

.THIS .highlight{
    background:#4CE367;
}

.THIS .popover{
    padding-left: 2rem;
    padding-top: 10rem; 
    position: absolute;
    z-index:1000 !important;
}

.THIS .popover-content{
    position: absolute; 
    top: -55%; 
    left: -40%;
    width: 155px;
    word-wrap: break-word; 
    white-space:normal;
    z-index:1000 !important; 
}

.THIS .thCustom{
    background-color: #FAFAF9;
}