.THIS .slds-m-top--large{
    margin-top: 2.0rem;
}
.THIS .uiInput--input .input{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 97.5% !important;
    margin-left: 3px !important;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}
.THIS .uiInput--default .form-element__label {
    color: rgb(62, 62, 60);
    line-height: 1.5;
    margin-bottom: .25rem;
    margin-left: 3px !important;
    margin-bottom: 10px !important;
}
.THIS .uiInput--input.input {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 97.5% !important;
    margin-left: 3px !important;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}
.THIS .uiDatePicker {
    opacity: 1;
    display: block;
    margin-left: 20rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
}
.THIS .uiDatePicker.visible {
    opacity: 1;
    display: block;
    margin-left: 20rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
}
.THIS .uiDatePicker.DESKTOP.visible {
    opacity: 1;
    display: block;
    margin-left: 20rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
}
.THIS .dobErrorAllign .slds-form-element__help{
    margin-top: -3%;
    color:#C23934;
    font-family:Arial;
    font-size:12px;
}

.THIS  .slds-has-error .slds-input  {
   border-color: rgb(194, 57, 52) !important;
}

.THIS .toastContainer .THiS .slds-notify_container {
    top: -0px !important;
    margin-top: -133px !important;
}

.THIS .slds-has-error-date{
    border-color: rgb(194, 57, 52)!important;
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .datetime-input-reset{
    margin-left: 1%;
    width: 97.5%;
}

.THIS .slds-button-group .slds-button:first-child{
    border-radius: 0px;
}
/* US2237162 - added buttonBorderRadius */
.THIS .buttonBorderRadius{
    border-radius: 4px !important;
}
.THIS .slds-input__icon_left{
    display:none;
}
.THIS input[type='search']{
    padding-left:0.8rem;
}