.THIS .headerClass {
    font-size: 16px;
    font-weight: bold;
}

.THIS .headerSectionHeight {
    height: 42px;
}

.THIS .searchButton {
    width: 115px;
}

.THIS .showOrHideAdvancedSearch {
    pointer-events: none;
}

.THIS .showOrHideAdvancedSearchSectionHeight {
    height: 35px;
}

.THIS .validationErrorMsgPosition {
    margin-top: 9px;
    margin-left: 3px;
}

.THIS .refineSearchError{
    color: rgb(194, 57, 52)!important;
    font-size:12px;
}

.THIS .linkField{
    font-size: 14px;
    color: #006dcc;
}
/*US3181616 - Sravan*/
.THIS .opHours{
    padding-top: 10px;
    padding-right: 5px;
}