.THIS .customRadioCls {
    display : inline-grid !important;
}

.THIS .customRadioCls .slds-radio{
    display : inline-block !important;
}
.THIS .triangle-down{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    z-index: 10;top: -50%;
}
.THIS .customToolTip {
    position: absolute;
    z-index: 2;
    right: 4rem;
    width: 12.5%;
}
.THIS .ulList {
    text-align: left;
    list-style-type:disc;
    margin-left: 20px;
    width:200px;
    font-size: smaller;
}