@media screen and (max-width: 768px) {

  .THIS .btnReply{
        margin-top: 5px;
        margin-left:10px;
        margin-bottom:5px;
    }
}

.THIS a{
  text-decoration: none !important;
	cursor: pointer;
	font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

.THIS .leavemsg{
    margin-right:13px;
    margin-top:3px;
}
.THIS body{
	cursor: pointer;
	font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

@media screen and (min-width: 768px) and (max-width: 1900px) {

  .THIS .btnReply{
        margin-top: 125px;
     
    }
}

.THIS .scrollbar{
  height:21rem;
  flex-shrink:0;
}

/* remove the "or drop files" label from the right of the lightning:input type file
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    display: none;
} */

/* remove the "Upload Files" text from the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
}

/* insert the text "New Exam" into the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button:after{
    content: 'Upload Files';
    font-size: .8125rem;
    /*color: rgba(27, 82, 151, 1.0);*/
}