.THIS {
}
.THIS .card_buttons{     
    font-weight: normal;
    top:18px;
    right:18px;    
    z-index: 1;
}

.THIS .componentValCls{
    font-weight: normal !important;
}
.THIS .contentSection{
    margin-top: 16px;
}

.THIS .cACET_AutodocCard{
    background: transparent;
}

.THIS .customFont{
    font-family: Salesforce Sans, Arial, sans-serif;
    font-size: 13px;
    color:#080707;
}