.THIS.slds-box{
    padding-top: 0px;
}
.THIS .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}
.THIS .slds-section.slds-is-open .slds-section__content{
    padding-top: 0px;
}

.THIS .slds-icon-action-close{
    padding:0px;
}
.THIS .hide{
    display: none;
}

.THIS .TextBackground {
    background-color: yellow;
    display: inline-block;
}