.THIS .backgroundColor{
    background-color:#f3f2f2;

}

@media (max-width: 450px) {
  .THIS .mobileView {
    display: none;
  }
}

@media (min-width: 450px) {
  .THIS .desktopView {
    display: none;
  }
}