.THIS .customStyle{
    display: flex;
    position: relative;
    width: 38% !important;
}

.THIS .textCustomStyle { 
   padding-top: 12px;
   padding-left: 10px;
   width: 40%;
   font-weight: bold;
   font-size: 12.5px !important;
}