/*US1958804*/
.THIS .cardTitle{
	color: #080707;
    font-weight: bold;
    font-family:sans-serif;
    font-size:16px;
}

.THIS .claimsTbl tbody tr, .THIS .claimsTbl tbody tr td td{
   height: 17px;
}

.THIS .disableLink{
    pointer-events: none !important;
    cursor: default;
    color: gray;
}