.THIS .footerBgColor button{
    
    /*background:#00c4f4;*/
    background:#1798c1;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .delBgColor button{
    
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .slds-change-color{
    background-color: black;
}

.THIS .error{
    background-color: rgb(194, 57, 52);
}

.THIS .errorMessage{
    color:rgb(194, 57, 52);
    text-align: left;
}

.THIS .slds-modal__container{
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: center;
}
.THIS .slds-col {
    padding: 0 !important;
}
.THIS ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #797972;
}
.THIS li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.THIS.slds-modal.slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}

/* Regarding Mobile Devices*/
/*@media (max-width: 960px){
    .THIS .slds-modal__container {
        padding-top: 6%;
        padding-bottom: 6%;
        width: 90% !important;
        max-width: 90% !important;
    }  
}
@media (max-width: 567px){
    .THIS .slds-modal__container {
        padding-top: 30%;
        padding-bottom: 6%;
        width: 82% !important;
        max-width: 85% !important;
    }  
}*/