.THIS {
    padding :10px;
}
.THIS .commentTextArea .slds-textarea{
    height :180px !important;
}
.THIS.cardStyle{
    overflow :scroll !important;
}
.THIS .slds-table thead th {
    padding-left: 10px !important;
    white-space: initial !important;
}
.THIS .slds-table tbody td {
    padding-left: 12px !important;
    white-space: initial !important;
}
.THIS .slds-card__header {
  background-color: rgb(243, 242, 242);
  padding-bottom: 14px;  
  margin-left: -10px !important;
  margin-top: -10px !important;
  margin-right: -12px !important;
}