/*
* Container
*/
.THIS button.sfdc_button {
    
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px; 
    border-color: #357ebd;
    display: inline-block;
    border-width: 2px;
    background-color: #0070d2;
    padding: 5px ;
    width:100px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    border-radius: 20px;
}
.THIS button.sfdc_button1 {
    
    /*color: #fff;
    background-color: #1d1f75; 
    margin-top: 1px;
    margin-bottom: 5px;
    border-color: #357ebd;
    display: inline-block;
    border:  1px solid #357ebd;
    border-radius: 15px;*/
    width:100px;
    margin-top: 10px;
    margin-bottom: 5px;    
    display:inline-block;
    border-color:rgb(1 118 211);
    border-width: 2px;
    padding: 5px ;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;    
    
    border-radius: 20px;
}

/*
* Welcome section
*/
.THIS .welcome-text {
    margin: 5px 0 0;
    font-weight: 600;
    color: #0a0a0a;
    width: 110%;
    position: relative;
    z-index: 50;
    height: auto;
    padding-right: 20px;
    padding-bottom: 10px;
}

.THIS .spacing-left-text{
    margin:20px 0 0;
}
.THIS .welcome-text-header{
    padding-bottom:6px;
    /*padding-right:15px;*/
    
}
.THIS .welcometext {
    font-weight: 600;
    margin: 5px 0 0;
    color: #0a0a0a;
}
.THIS .spacingLeftText{
    margin:15px 0 0;
}
.THIS .logoSpacing{
    margin-bottom:35px;
    min-width: 340px;
    margin-right: 0px;
}
.THIS .fllogomedia {
    display: none !important;
}
.THIS .Linealign{
    height: 1px;
    width: 47%;
    color: #808080;
    background-color: #808080; 
    display: flex;
}
.THIS .subTextStyle{
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
.THIS .p {
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.THIS .h2 {
    display: block;
    text-align: center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: x-large;
    color: #0a0a0a;
}

.THIS .root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



.THIS .welcome-text {
    width: 100%;
    padding-bottom: 20px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 0;
    margin: 0;
}
.THIS .h3 {
    color: #323232;
}
.THIS .h4 {
    color: #323232;
}
/*.THIS .divstyle {
position: relative;
z-index: 50;
} */

.THIS .loginFormStyle {
    width: auto;
    padding-left: 0%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.THIS .welcomeFormStyle {
    width: auto ;
    max-width: 100% ;
    height: auto ;
    padding-top: 5%;
    padding-left: 5%;
    
}

.THIS .leftSideSpacing {
    
    padding-right: 11%;
    padding-left: 0%;
}
.THIS .slds-theme_default{
    /* min-height: 100%;
    min-width: 100%;
    position: initial;
    left:20px;
    right:1px;
    bottom:0px;
    top:0px;
    left:0px;
    Padding-left: 5px;*/
    height:100vw;
    padding-bottom:0px;
    position:absolute;
}
.THIS .slds-box{
    
}

.THIS .BackImg{
    max-width: 900px;
    padding-bottom: 0px;
    
}
.THIS .welcomeFormStyleLayout {
    background: rgb(251,249,242,.8);
    opacity: 10;
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    
}
.THIS .Loginthemelayout{
    width:auto;
    height: auto;
    position:fixed;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    overflow-y: scroll;
    
}
/* Hide scrollbar for Chrome, Safari and Opera */
.THIS .Loginthemelayout::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.THIS .Loginthemelayout {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.THIS .slds-border_right{
    
    border-right: 0.0px solid #fefbef;
}

.THIS .welcomeTextRightSide{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    text-align : left ;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.THIS .MobileBackImg{
    
    display: None !important;
}
.THIS .IpadBackImg{
    display: None !important;
}
/*
* Mobile Version
* */
@media only screen and (min-width: 320px) and (max-width: 600px){
    .THIS .mobilescreen{
        display: None !important;
    }
    .THIS .MobileBackImg{
        
        display: flex !important;
        width: 396px;
        height: 248px;
        
    }
    .THIS .leftSideSpacing{
        width: 320px;
        padding-right: 1px;
        padding-left: 0px;
        
        
    }
    .THIS .sfdc_button{
        margin-top: 1px;
    }
    
    .THIS .welcomeFormStyle{
        
        width: 0px;
        left:0px;
        height: 750px;
    }
    
    .THIS .mobileCenterAlign{
        width: 110%;
        position: relative;
        
    }
    .THIS .logoSpacing{
        padding-left: 35px;
        width: 350px;
        padding-top: 0px;
        margin-bottom: 10px;
        
    }
    .THIS .Linealign{
        height: 1px;
        width: 65%;
        
        display: flex;
    }
    
    .THIS .welcomeTextRightSide{
        
        width: 140%;        
        padding-left: 28px;
    }
    
    
    .THIS .cLoginForm .forgot-password-link{
        width: 218px;
        padding-left: 28px;
    } 
    
    
    .THIS .cLoginForm button.sfdc_button {
        padding-bottom: 0px;
        margin-left: 28px;
        height: 40px;
    }
    .THIS .divstyle{
        Padding-left: 30px;
    }
    .THIS .welcome-text {
        height: 22px;
        margin-bottom: 0px;
    }
    .THIS .IpadBackImg{
        display: None !important;
    }
    
}

/*
* MAC DeskView
* */

@media only screen and (min-width: 1440px ) and (max-width:1950px){
    .THIS .BackImg{
        max-width: 100%;
        padding-bottom: 0;
        height: auto;
        
    }
    .THIS .welcomeFormStyle{
        width: 110%;
        padding-top: 10%;
        height: fit-content;
    }
    .THIS .welcomeFormStyleLayout {
        background: rgb(251,249,242,.8);
        opacity: 10;
        position: relative;
        width: auto;
        display: flex;
        
    }
    
}
/*
* Ipad Version
* */
@media only screen and (min-width: 768px)and (max-width:1024px) and (orientation : portrait){
    
    .THIS .BackImg{
        display: None !important; 
        
    }
    .THIS .IpadBackImg{
        display: flex !important;
        width: 770px;
        height: 475px;
        
    }
    .THIS .welcomeFormStyle{
        
        padding-top:0px;
        padding-left:0px;
        padding-right:0px;
        
        
    }
    .THIS .leftSideSpacing {
        padding-left:9%;
        padding-top:5%;
        position: absolute;
        width: 834px;
        left: 0px;
        background: #FBF9F4;
    }
    .THIS .layoutFullLoginPage{
        width:auto;
        height: auto;
        position:fixed;
        display: block;
        
        
    }
    .THIS .welcomeFormStyleLayout {
        background: rgb(251,249,242,.8);
        opacity: 10;
        position: relative;
        height: 100%;
        width: auto;
        display: flex;
    }
    .THIS .Loginthemelayout{
        width:auto;
        height: auto;
        position:fixed;
        right:0px;
        bottom:0px;
        top:0px;
        left:0px;
    }
    
    
}
@media only screen and (min-width: 768px)and (max-width:1024px) and (orientation : landscape){
    .THIS .BackImg{
        display: flex !important;
        Width:730px;
    }
    .THIS .IpadBackImg{
        display: None !important;
    }
    .THIS .welcomeFormStyle{
        width: 390px;
        padding-top:15%;
    }
    
    .THIS .leftsidespacing {
        position: absolute;
        width: 498px;
        height: 960px;
        left: 0px;
        top: 0px;
        
        background: #FBF9F4;
        
    }
    .THIS .layoutFullLoginPage{
        width:auto;
        height: auto;
        position:fixed;
        display: block;
        
        
    }  
    .THIS .welcomeFormStyleLayout {
        background: rgb(251,249,242,.8);
        opacity: 10;
        position: relative;
        height: 100%;
        width: auto;
        display: flex;
    }
    .THIS .loginFormStyle {
        width: auto;
        padding-left: 0%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    
}
@media only screen and (min-width: 820px) and (max-width:1180px) and (orientation : portrait){
    .THIS .BackImg{
        display: None !important;
    }
    
    .THIS .layoutFullLoginPage{
        width:auto;
        height: auto;
        position:fixed;
        display: block;
        
        
    }
    .THIS .welcomeFormStyleLayout {
        background: rgb(251,249,242,.8);
        opacity: 10;
        position: relative;
        height: 100%;
        width: auto;
        display: flex;
    }
    .THIS .Labelstyle{
        
        font-size:18px;
    }
    .THIS .IpadBackImg{
        
        display: flex !important;
        
        Width:845px;
        height: 475px;
        
        
        
    }
    .THIS .Loginthemelayout{
        width:auto;
        height: auto;
        position:fixed;
        right:0px;
        bottom:0px;
        top:0px;
        left:0px;
    }
    .THIS .cforgotPassword .input{
        font-size:20px;
    }
    
}
@media only screen and (min-width: 820px) and (max-width:1180px) and (orientation : landscape){
    .THIS .Loginthemelayout{
        width:auto;
        height: auto;
        position:fixed;
        right:0px;
        bottom:0px;
        top:0px;
        left:0px;
    }
    .THIS .cforgotPassword .input{
        font-size:20px;
    }
    .THIS .welcomeFormStyleLayout {
        background: rgb(251,249,242,.8);
        opacity: 10;
        position: relative;
        height: 100%;
        width: auto;
        display: flex;
    }
    
    .THIS .BackImg{
        display: flex !important;
        
    }
    .THIS .welcomeFormStyle{
        
        width: 389px;
        padding-top:15%;
        padding-right:0px;
    }
    
}