.THIS .verticalAlign {
	cursor: pointer;
    color:black !important; 
}
.THIS .recordListBox {
	margin-top:0 0 0 0 !important;
	overflow-y: scroll;
}
.THIS .eachItem:hover {
    background-color: #EEE;
    cursor: pointer;
}
.THIS .text-color span{
    color:black !important;
}
.THIS .text-color svg{
    margin-top: -1rem;
}
.THIS .slds-pill__label {
    margin-left: 5px;
}
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
@media (max-width: 450px) {
    .THIS .searchBox .slds-form-element__label {
        display: none;
    }
}
@media (max-width: 750px) {
    .THIS .slds-pill {
        /*min-height: 2rem; */
        height:35px;
        width: 104.5%;
        margin-left: 0px !important;
       
    }
     .THIS .text-color button{
        margin-right: 4px !important;
    } 
    .THIS .searchBox input{
        color:black !important;
    }
}
@media (min-width: 1024px) {
    .THIS .slds-pill {
        min-height: 2rem;
        min-width: 220px;
    }
    .THIS .searchBox .slds-form-element__label {
        display: none;
    }
    
    .THIS .searchBox {
        /* margin-top: -19px; */
        width:220px;
    }
}