.THIS .subjectField{
    margin-top: -15px;
}



.THIS .tallTextarea textarea{
    min-height: 6rem;
    max-height: 6rem;
    resize: none;
}


.THIS .divCss .slds-icon {
  width: 1rem;
  height: 1rem;
}

.THIS .sld-img-size svg{
    width: 14px;
    height: 14px;
}
.THIS .tooltip {
  position: relative;
  display: inline-block;
  left: -16px; 
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: white; 
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: opacity 0s;
    padding-left: 6px;
    font-size: 12px;
    font-style: italic;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 6px
}

.THIS .tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 95%;
  left: -3%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.THIS .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 450px) {
    .THIS .mobileView {
      display: none;
    }
  }
    
  @media (min-width: 450px) {
    .THIS .desktopView {
      display: none;
    }
  }