.THIS .PCPINfoSection .slds-accordion__summary, 
.THIS .PCPINfoSection .slds-accordion__summary:hover, 
.THIS .PCPINfoSection .slds-accordion__summary:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .slds-truncate{
    font-size:16px !important;
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}
.THIS .card_element_top_margin td.autodoc{
       padding-left: 10px !important;
}