/*
*@font-face is used to grab custom fonts from static resources through a Salesforce Community  
*/
@font-face{
    font-family: 'UHCSerifHeadline-Semibold';
    src: url(/myfamilylink/s/sfsites/c/resource/UHCSerifHeadlineSemibold) format('woff');   
}

@font-face{
    font-family: 'UHCSans-Medium';
    src: url(/myfamilylink/s/sfsites/c/resource/UHCSansMedium) format('woff');
}
@font-face{
    font-family: 'UHCSans-Bold';
    src: url(/myfamilylink/s/sfsites/c/resource/UHCSansBold) format('woff');
}

.THIS .bodyContainer {
    width: 100%;
    margin: 0 auto;
}

.THIS .logos{
    margin: 2%;
}
.THIS .uhcLogo{
    border-right: 1px solid #002677;
    padding-right: 30px;
}
.THIS .familyLinkLogo{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.THIS .heroImage{
    
    min-width: 100%;
}

.THIS .header {
    position: relative;
    
}
.THIS .subHeader {
    margin-top: 2%;
    margin-left: 2%;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.THIS .subHeaderTitle{
    font-family: UHCSerifHeadline-Semibold;
    font-size: 2.8vw;
    color: #002677;
    letter-spacing: -0.04px;
    line-height: 3vw;
    
}

.THIS .subHeaderText{
    font-family: UHCSans-Medium, Arial;
    font-size: 1.5vw;
    color: #002677;
    line-height: 2vw;
    margin-bottom: 25px;
}

.THIS .alreadyRegistered{
    font-family: UHCSans-Medium, Arial;
    font-size: 1.5vw;
    color: #002677;
    line-height: 2vw;
} 

.THIS .regiButton{
    width: 30vh;
    height: 6vh;
    background: #002677;
    border-radius: 21.5px;
    color: white;
    font-size: 1.5vw;
    font-family:  UHCSans-Medium, Arial;
    font-weight: 500;
    letter-spacing: 0px;
    
}

.THIS .options {
    width: 100%;
    display:table;
    
}

.THIS .optionSection {
    background-color: #E5F8FB;
    text-align: center;
    padding: 30px;
    display: table-cell;
    
    
}
.THIS .optionIcons{
    margin-bottom: 20px;
}

.THIS .optionsTitles{
    margin-bottom: 20px;
    font-family:  UHCSans-Medium, Arial;
    font-weight: bold;
    font-size: 20px;
    color: #002677;
    text-align: center;
    line-height: 25px;
}
.THIS .optionsContent{
    font-family:  UHCSans-Medium, Arial;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 25px;
    padding-left: 60px;
    padding-right: 60px;
}
.THIS .bottomBanner{
    width: 100%;
    background-color: #002677;
    height: 150px;
    font-family: UHCSerifHeadline-Semibold, Georgia;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.03px;
    text-align: center;
    line-height: 32px;
    padding: 5%;
    /* properties used in slds-align_absolute-center without margin: auto because the margin was adding to entire div on large screen sizes*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    
    
}

.THIS .customFooter{
    width: 100%;
    background-color: #F5F5F5;
    padding: 3%;
}
.THIS .customFooter a{
    font-family: UHCSans-Bold, Arial ;
}

@media only screen and (max-width : 1023px) AND (min-width:768px) {
    .THIS .header {
        position: static;
        
    }
    .THIS .subHeader {
        position: static;
        padding: 70px;
    }
    .THIS .subHeaderTitle{
        font-size: 36px;
        line-height: 50px;
        
    } 
    .THIS .subHeaderText{
        font-size: 20px;
        line-height: 30px;
    }
    .THIS .regiButton{
        min-width: 100%;
        font-weight: 500;
        font-size: 18px;
        
    }
    .THIS .alreadyRegistered{
        font-size: 18px;
    } 
    .THIS .optionsContent{
    	padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width : 767px) {
    .THIS .logos img{
        max-width: 50%;
        
    }
    
    .THIS .logos{
        width: 100%;
        padding: 20px;
    }
    .THIS .uhcLogo{
        border-right: 1px solid #002677;
        padding-right: 10px;
    }
    .THIS .familyLinkLogo{
        padding-left: 10px;
        padding-top: 10px;
        
    }
    
    
    .THIS .header {
        position: static;
    }
    .THIS .subHeader {
        position: static;
        padding: 30px;
    }
    .THIS .subHeaderTitle{
        font-size: 36px;
        line-height: 50px;
        
    } 
    .THIS .subHeaderText{
        font-size: 20px;
        line-height: 30px;
        
    }
    .THIS .regiButton{
        min-width: 100%;
        font-weight: 500;
        font-size: 18px;
    }
    .THIS .alreadyRegistered{
        font-size: 18px;
    } 
    .THIS .options{
        display:block;
    }
    .THIS .optionSection{
        display:block;
    }
    .THIS .optionOneThird {
        position: static;
    }
    .THIS .bottomBanner {
        padding: 10px;
        
    }
}