.THIS .slds-card{
    border: 0px solid rgb(221, 219, 218) !important;
    border-radius: .0rem !important;
    background-clip: none !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.10) !important;
}
.THIS .slds-text-heading_small{
    color: rgb(0, 109, 204);
    text-decoration: none;
    transition: color .1s linear;
}
.THIS .slds-col {
    padding-top: 15px;
}
.THIS .slds-modal__content{
    overflow: initial;
}
.THIS .slds-card__header {
    padding: 0.6rem 1rem 0.6rem;
    margin: 0 0 .75rem;
    background-color: rgb(243, 242, 242);
}
.THIS .slds-card__body {
    margin-top: -.75rem;
    margin-bottom: .75rem;
}
.THIS .slds-page-header__detail-row {
    display: flex;
    margin: .75rem -1rem -1rem;
    margin-right: 1rem;
    margin-top: -1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: -1rem !important;
    padding-bottom: .5rem !important;
    border-radius: 0 0 .25rem .25rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}
.THIS .page-right {
    background-color: white;
    border-width: 1.5px;
    border-color: #ffffff;
}
/*.THIS .onePanelManagerScoped .slds-modal{
    position:fixed !important;
}*/