.THIS {
}
.THIS .alert_button{
    width: 51% !important; 
}
.THIS .slds-section__title-action{
    background:none;
   	box-shadow: none !important;
}
.THIS .slds-section__title-action hover{
    background:none;
}