.THIS {
}

.THIS .slds-section__title-action{
    background: none;
    box-shadow: none !important;
}

.THIS .slds-section__title-action:hover{
    background: none;
}

.THIS .slds-section__title-action:focus{
    background: none;
} 

.THIS .slds-section__title-action:active{
    background: none;
}

.THIS .highlightPanelPositionSandbox {
	position: fixed;
    top: 9.4rem;
    width: 98.5%;
    z-index: 50;
    transition-delay: 500ms;
}
.THIS .highlightPanelPosition {
    position: fixed;
    top: 7.4rem;
    width: 98.5%;
    z-index: 50;
    transition-delay: 500ms;
}

.THIS .slds-pill__remove {
    display: none;
}

.THIS .matchActiveAffiliations {
    margin-left: 8px;
    width: 49.5%;
}
/*DE417010 - Sravan*/
.THIS .highlightPanelPositionNewT {

}
/* US3507762 - Create Overall Save Case Button on Provider Snapshot Page - Thanish - 20th May 2021 */
.THIS .warningFont{
    color: gray;
    font-size: 16px;
}
.THIS .noUnderline{
    text-decoration: none;
}
.THIS .noTopBorder{
    border-top: none;
}
.THIS .bulletPoints ul{
    list-style: disc;
}
/* US3536342 - Thanish - 3rd Jun 2021 */
.THIS .pointer{
    cursor: pointer;
}
.THIS .pageHeaderTransition{
    transition-property: position;
    transition-duration: 0.25;
    transition-timing-function: linear;
}