.THIS .image {
    background-color:#2BAB27 !important;
}

.THIS.toggle {
    display: none;
}

@media (max-width: 450px) {
  .THIS .mobileView {
    display: none;
  }
}

@media (min-width: 450px) {
  .THIS .desktopView {
    display: none;
  }
}

.THIS .customButton {
    --sds-c-button-brand-color-background: #0070d2;
        --sds-c-button-brand-color-text: white;
        --sds-c-button-brand-color-border: #0070d2;
        --sds-c-button-brand-color-background-hover: #0070d2;
        --sds-c-button-brand-color-border: black;
        --sds-c-button-brand-color-border-hover: black;
        --sds-c-button-brand-color-text-hover: white;
        --sds-c-button-color-background:transparent;
        --sds-c-button-color-border:transparent;
        --sds-c-button-color-text:#0070d2;        
		--sds-c-button-outline-brand-spacing-inline-start: 1rem;
        background-color:#0070d2; 
        color:white;
        
    }
  
.THIS .newMsgBtn{
    background-color:white;
    padding-left:1rem;
    padding-right:1rem;
}
    .THIS .slds-modal__container {
  max-width: 40rem 50rem;
      
  
 }