.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .slds-table_bordered {
}

.THIS .paddingTop {
      padding-top: 10px;
}