.THIS .sectionHeadings{
    color: #080707;
    font-weight: bold;
    font-family:Arial;
    font-size:16px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.THIS .clearButton{
    float:right;
    font-family:Arial;
    font-size: 12px;
    color:#006DCC;
    font-weight:400;
}

.THIS .slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
    font-family: Arial;
}

.THIS .slds-input{
    height: 42px !important;
}

.THIS .showOrHideAdvancedSearch{
    color:#005FB2;
    font-size: 14px;
    font-family: Arial;
}

.THIS .searchButton{
    font-size:12px;
    width:107px;
    color:#FFFFFF;
    font-family:Arial;
}

.THIS .combinationErrorMsg{
    color: #C23934;
    font-family: Arial;
    font-size: 12px;
}

.THIS .downArrowCls svg {
    width: 1rem;
    height: 1rem;
    margin-top:10px;
}