.THIS {
}

.THIS .prevClose{
    display: block !important;
}

.THIS .slds-box{
       padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #dddbda; 
}
/* US2423798 */
.THIS .hide_Auth_Btn{
    display: block;
    margin-bottom: 10px;
}
/* US2405173 */
.THIS .hide_ibaag_Btn{
    display: block;
    margin-bottom: 10px;
}
/* US2696849 - Thanish - 23rd Jul 2020 */
.THIS .leftMargin{
    margin-left: 0px;
}
.THIS .hide{
    display: block;
}