.THIS .slds-card__header {
    display: block;
}
/*.THIS .hiddendemodiv {
    display: none;
}*/
.THIS .slds-cell-wrap {
    padding-left: 12px !important;
     
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;

}
.THIS .demotablecls th {
    padding: 0.25rem !important;
}
.THIS .demotablecls td {
    padding: 0.25rem !important;
}