.THIS .slds-button-group .slds-button:last-child{
    border-radius: 0px;
}
.THIS .slds-button-group .slds-button:first-child{
    border-radius: 0px;
}
.THIS .slds-modal__container {
   margin: 0 auto;
    width: 95%;
    max-width: 75rem;
    min-width: 30rem;
}
.THIS .slds-table {
    text-overflow: inherit !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important; 
}


.THIS .slds-backdrop{
    position: fixed !important;
}

.THIS .slds-modal{
    position: fixed !important;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
	
}
.THIS .uiScrollerWrapper.scrollable {
    background-color: white !important;
}