.THIS .chevBody {
    background-color: white !important;
  }

  
.THIS .hideVal {
  display: none;
}
.THIS .field_label_padding {
    width: 200px;
}
.THIS .slds-float_right {
    margin-right: 10px;
}
.THIS .header-column{
    width: fit-content;
}
.THIS .slds-form-element {

    margin-bottom: -15px;
}