.THIS .pageTitle {
    color: #080707;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
}

.THIS .slds-input {
    height: 42px !important;
}

.THIS .continueBtn {
    font-size: 12px;
    color: #FFFFFF;
    font-family: Arial;
    width: 107px;
}

.THIS .aSearch {
    color: #005FB2;
    font-size: 14px;
    font-family: Arial;
}