.THIS .noLeftBorder{
    border-left:none;
}

.THIS .slds-form-element_label{
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
}

.THIS.moi-card .slds-card__header{
    padding: 1.2rem 1rem 1rem;
    margin: 0 0 .75rem;
    background-color: rgb(243, 242, 242);
}