/* US2041480 - Thanish 31st March 2020 */
.THIS .disabledLink{
    pointer-events: none;
    cursor: default;
    color: gray;
}

/* style to remove the check mark character */
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}

.THIS .toggle-faux_faux {
    font-size: 10px;
    color: white;
}

/* text align when toggle checked*/
.THIS .tgl-text-right {
    text-align: right;
    padding-right: 10px;
}
/* text align when toggle unchecked*/
.THIS .tgl-text-left {
    text-align: left;
    padding-left: 10px;
}

.THIS .casehistoryloading{
    position: relative;
    display: inline-block;
}

.THIS .spinerPosition{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

  .THIS th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .THIS th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }

  .THIS th[scope=row] {
    vertical-align: top;
    color: inherit;
    background-color: inherit;
  }

  .THIS .tableDivClass {
    height:640px;
    overflow-y:auto;
  }
 /* US3511613 - Raviteja - Team Blinkers May 18 2021*/
  .THIS .externalidlink{
    padding-bottom: 0; 
    font: caption;
  }