/***********************************************************************************
 * Dialog
 * *********************************************************************************/
.THIS .remove-dialog{
    width : 35% !important;
    min-width: 30rem !important;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: center;
}

.THIS .remove-warning-icon svg{
    fill: white !important;
}

/************************************************************
 * Text
 * ********************************************************/
.THIS .remove-dialog .SNI_FL_ModalTitle{
    color : rgb(194, 57, 52) !important;
}

/**************************************************************
 * Button
 * ***********************************************************/
.THIS .btn-cardremove-Remove{
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .btn-cardremove-Cancel{
    background:#1798c1;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/************************************************************
 * Mobile
 * **********************************************************/

@media (max-width: 599px){
    
    .THIS .remove-dialog{
        width: 80vw !important;
        min-width: 0 !important;
    }
    
    .THIS .remove-dialog .SNI_FL_ModalTitle{
        padding-left: 10px !important;
        font-size: 1.15rem !important;
    }
    
}