.THIS .button_border{
    border-radius: 1px !important;
}
.THIS .Card_cls{
    font-size: 18px !important;
    font-weight: bold;
}

.THIS .eptooltip-modal{
            background-color: #f5f5f5;
            z-index: 9999;
            position: fixed; 
            display:none;
            /* opacity: .5; */
/*             maximum-width: 15%; */
            /* border-radius: 5px; */
            box-shadow: 1px 1px 1px #bbbbbb;
            border-style: ridge; 
            border-width: 1px;  
			word-wrap: break-word !important;
			white-space: normal !important;
            }
.THIS .slds-input__icon_left{
    display:none;
}
.THIS input[type='search']{
    padding-left:0.8rem;
}