.THIS .ub04HelpText .slds-form-element__icon{
    margin-top: -4px;
}

.THIS .table_header_required {
    text-align: left;
}
.THIS .table_header_required::before {
    content: "*";
    color: #C23934;
}

/* US3400693 */
.THIS .inputTable td{
    padding-left:0;
    padding-right:0;
}

.THIS .table_input{
    border-style:none;
    width:98%;
    text-align: left;
    margin:1%;
    padding:1%;
}
.THIS .field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.THIS .modalnewcss{
    margin: 32%;
    height: 27%;
    text-align: center;
    background: white;
    width: 38%;
}
/*Vishal Change- 
	US355327*/
.THIS .hide {
  display: none;
}

.THIS .myDIV:hover + .hide {
  display: block;
  color: none;
}

.THIS .hide1 {
  display: none;
}

.THIS .myDIV:hover + .hide1 {
  display: block;
  color: none;
}

div.THIS{
width:100px; 
}
.THIS.show {
display:block;
}
.THIS.hide {
display:none;
}

.THIS .tooltipdiv  {
  width:45%;
  height:auto;
  padding:2px;
  position:absolute;
  right:0%;
  z-index:2;
  bottom: 82%
}

.THIS .tooltipdiv2  {
  width:auto;
  height:85%;
  padding:4px;
  position:absolute;
  right:38%;
  z-index:3;
  bottom:55%
}
/*Vishal Change- 
	US355327*/
/* .THIS .table_input:focus::-webkit-input-placeholder{
    color: transparent!important;
} */