.THIS .inputSize {
    width:100%; 
}
.THIS .slds-listbox .slds-form-element__control{
    width: 40%;
}
.THIS .slds-button_icon-bare {
    display: block !important;
}
.THIS .noborder {
    border-style: hidden !important;
    border-width:0px;
    width:97%;
    margin-left:1%;
    margin-right:1%;
    height:97%;
    margin-top:1%;
    margin-bottom:1%;
}
.THIS .uiInput--input.input:focus,.THIS .uiInput--input .input:focus,.THIS .uiInput--input.input:active,.THIS .uiInput--input .input:active {
    outline: 0;
    border-color: red !important; 
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 0px #0070d2 !important;
}
.THIS .cACETLGTMemberDetailInterim .slds-button_icon-bare {
    display: block !important;
}
.THIS.outerScroller {
    /* fix innerScroller not scrollable */
    border-radius: 1px;
}
.THIS.innerScroller {
    /* make innerScroller rounded */
    border-radius: 10px;
}
.THIS #topicSearch{
    border: solid #dddbda 0.02rem;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}