.THIS .block1{
    display: inline-block;
}

.THIS .block2{
    display: inline-block;
}

.THIS .block3{
    display: inline-block;
}

.THIS .icon_Discription{
    position : absolute;  
    top : 47%;
    right : 25%;
}