.THIS {
}
.THIS .customRequired{
 font-weight: 400; }
.THIS .customRequired:before{
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; }
.THIS .none{
 display:none; }
/* US2526182: SNI Core - Select Policy when creating a new case - Vishal Yelisetti|4/25/2020 */
.THIS .err{
 visibility:hidden; }
 .THIS .slds-change-color{
    background-color: black;
}
.THIS .slds-modal__close{display:none;}