@charset "UTF-8";
/* CSS Document */

.active {
	background-color:#FFFF00;
}
html, body {
        margin: 0;
        height: 100%;
    }
            
    .header {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
      z-index: 1;
    }
    .stage-left {
      width: 4rem;
      transition: width 0.2s ease-in-out 0.05s;
    }
    @media (min-width: 1024px) {
      .stage-left.open {
        width: 15rem;
        transition: width 0.1s ease-in-out;
      }
      .stage-left.open .stage-left__text {
        opacity: 1;
        width: auto;
        transition-delay: 0.2s;
      }
    }
    .stage-left li + li {
      margin-top: 0.02rem;
    }
    .stage-left a:not(.button) {
      display: block;
      text-decoration: none;
      white-space: nowrap;
      border-radius: 0.25rem;
      background: transparent;
      padding: 0.25rem;
      transition: background 0.05s linear;
    }
    
    
    .stage-left .stage-left__text {
      opacity: 0;
      width: 0;
      transition: all 0.05s linear;
    }
    .stage-left .slds-icon {
      max-width: initial;
    }
    .stage-container {
      max-height: 100%;
      overflow: hidden;
    }
    .slds-grid--frame {
      min-width: 767px;
      overflow-y: auto;
    }
        
    li{
        margin: 10px 0;
    }
        
    #wrapper {
      background: #f7f9fb;
      overflow: hidden;
      transition: height 200ms;
    }
    
    .pbError {
        font-weight: bold;
        color: #c00 !important;
        text-align: center;
    }
    
    .errorMsg {
        color: #c00 !important;
        
    }
    
    .error
    {
        border-color: #c00 !important;
        box-shadow: 0px 0px 3px #c00;
    }
    
    .slds-scope .slds-size--1-of-2, .slds-scope .slds-size_1-of-2
    {
        width: 15rem;
    }
    
    table.no-footer.dataTable
    {
        margin-left: 1px !important;
    }
    #datatable_wrapper
    {    
        max-width: 136%;
        overflow: auto;
    }
    #datatable
    {
        width: 99.9% !important;
    }
    
    .chosen-container
    {
         float:left;
         width:18pc  !important;
         border: 1px solid #d8dde6;        
    }
    
    .slds-scope .slds-box
    {
        padding: 0.5rem;
    }
    
    .slds-scope .slds-select
    {
        width: auto;
    }
    
    .messageTable
    {
       border: solid #cc0000;
    }
    
    .labelFormat
    {
        font-weight:bold;
        width: 30%;
        text-align: right;
    }
    
    .titleBold
    {
        font-weight:bold !important;
    }
    .slds-scope .slds-table
    {
        color: #54698d;
    }
    .slds-scope .slds-table th
    {
        font-weight: bold;
    }      
    .collapse
    {
       display:none;
    }
    .collapse.in
    {
        display:block;
    } 
    
    .collapsing
    {
        position:relative;
        height:0;
        overflow:hidden;
            -webkit-transition-timing-function:ease;
                                               -o-transition-timing-function:ease;
                                               transition-timing-function:ease;
            -webkit-transition-duration:.35s;
                                                -o-transition-duration:.35s;
                                                transition-duration:.35s;
            -webkit-transition-property:height,visibility;
                                                -o-transition-property:height,visibility;
                                                transition-property:height,visibility;
     }
     
    a.changeText.collapsed:before
    {
        content:'Show More' ;
        display:block;
        min-width: 80px;
        white-space: nowrap;
    }
    
    a.changeText:before
    {
        content:'Show Less' ;
        display:block;
        min-width: 80px;
        white-space: nowrap;
    }
    
    .required .requiredInput
    {
        position: relative;
        height: 100%;
    }

    .required .requiredInput .requiredBlock
    {
        height:57%;
        background-color:#c00;
        position:absolute;
        left:-4px;
        width:3px;
        top:1px;
        bottom:1px;
    }
    
    .chosen-container-multi .chosen-choices
    {
        overflow:visible;
        border: 1px solid #fff;
    }
    
    .chosen-container-active .chosen-choices
    {
        border: 1px solid #fff;
    }    