/*US1958804 */
.THIS .cardTitle{
	color: #080707;
   /* font-weight: bold;*/
    font-size:16px;
}
.THIS .cmp_font{
    color: #080707;
}
.THIS .field-value{
    color: #080707 !important;
    font-size: 14px;
  /*  font-family: Arial;*/
}

.THIS .fieldprop {
    width: 65%
}

.THIS .checknumber {
    margin-left: -65px;
}

.THIS .checknumfieldvalue {
    margin-left: -65px;
	width: 225px;
	margin-right: 45px;
}

.THIS .remitfield {
    width: 225px;
}