.THIS .slds-accordion__summary{
    background: #f3f2f2 !important;
    padding: 10px !important;
    border-radius: 4px !important;
}
.THIS .heightText textarea {
    height: 9rem;
}
.THIS textarea {
    resize:none;
}
.THIS  .slds-has-error {
    border-color: rgb(194, 57, 52) !important;
}
.THIS .hideLabel .slds-form-element__label {
    display : none !important;
}
.THIS .hideIcon .slds-form-element__icon{
    display: none !important;
}