.THIS .cardHeight{
    height: 100%;
}
.THIS .contractDetailsWidth{
    width: 65%;    
}
.THIS .timelyfilingWidth{
    width: 35%;    
}
/* adds dashed underline */
.THIS .dashedLine{
    border-bottom: 1px dashed;
}
.THIS .closeBtn svg{
    color: black !important;
    border: none !important;
}
.THIS .slds-p-around_xx-small{
    padding: 0px;
}