.THIS .tableWidth{
    table-layout: auto;
    width: 100%;  
}

.THIS .tableHeader{
    background-color: #fafafa !important;
}

.THIS .tableRowHighlight{
    background-color: #ffff31;
}

.THIS .popover {
    padding-left: 2rem !important;
    padding-top: 28rem !important; 
    position: absolute !important; 
}

.THIS .popover-wrapper {
    position: relative !important; 
}

.THIS .popover-content {
    position: absolute !important; 
    bottom: 110% !important;
    width: 280px !important;
    word-wrap: break-word !important; 
    white-space:normal !important; 
}

.THIS .popover-Header-content {
    position: absolute !important; 
    bottom: 110% !important;
    width: 190px !important;
    word-wrap: break-word !important; 
    white-space:normal !important; 
}

.THIS .greenColorText {
    color:green;
}
.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
    width:500%;
}

.THIS .errMsg{
    font-weight: bold;    
}

.THIS .errMsgWidthFull{
width: 100%;    
}