.THIS .slds-page-header__detail-row {
    display: flex;
    margin: .75rem -1rem -1rem;
    margin-right: 1rem;
    margin-top: -1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: -1rem !important;
    padding-bottom: .5rem !important;
    border-radius: 0 0 .25rem .25rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}

.THIS .button_border{
    border-radius: 1px !important;
}
.THIS .Card_cls{
    font-size: 18px !important;
    font-weight: bold;
}
.THIS .claimsSubtilecls{
font-size: var(--lwc-fontSize5,1rem);
            font-weight: bold;   
}