.THIS .imageSize svg{
    background: #059bb3;
    fill:white !important;
    
}
.THIS .mobile_scroll{
    height: calc(100vh - 120px) !important;
}
.THIS .SNI_FL_HomeGreyOut {
    opacity:0.1 !important;
}
/* Blinker 
.THIS.cSNI_FL_ProviderHome .slds-grid_vertical{
    height:100% !important;
    /*width: 300px;
    border-top:1px solid #d6c8f5
} */


.THIS .backBtn-class{
    position: relative;
    margin-top: -153.4%;
    margin-left: 73%;
    height:4%;
    border-radius: 6px;
    background:#2574A9;
    overflow: hidden;
}

.THIS .message-div{
    display: none;
}
.THIS .slds-col {
    /*  padding-left: 16px;*/
    padding:4px;
}
.THIS .slds-col span{
    color: #FFFFFF;
    text-decoration:none;
    font-size:14px;
    
}
.THIS .slds-box{
    border: 1px solid darkgrey;
}
.THIS .applyTabStyles {
    color:white;
    text-decoration:none;
    cursor:pointer;
}
.THIS .bgColor{
    /*   background: #122377;*/
}
.THIS .salesforceIdentityLoginBody2 {
    background-color: white ;
}
.THIS .changeTabBgColor:hover{
    background-color: hsla(0,0%,100%,.3);
}
.THIS .activeTab{
    background-color: hsla(0,0%,100%,.3);
}
.THIS .changeUserStyle{
    color: #ffffff;
    Font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:12px;
    font-weight:bold;        
}
.THIS .mobile-menu{
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    /*line-height:45px;*/
}
.THIS .tab-name{
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    Font-size: 12px;
    text-align:left;
    line-height:45px;
}
.THIS .contentDiv{
    /*height: 40rem;*/
    overflow-y: scroll;
    overflow-x: hidden;
    
    /* background:white;*/
}
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 5px;
}

.THIS ::-webkit-scrollbar-track {
    display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .slds-size_9-of-12{
    max-width:calc(100% - 201px);
    width:80%
} 
/*mobile landscape start*/
@media only screen and (min-device-width: 813px) {
.THIS .slds-grid_vertical{
    background: linear-gradient(to bottom, #00BED5, #002677);
    height:100% !important ;
}
}
@media only screen and (min-device-width: 768px) {
.THIS .slds-grid_vertical{
    background: linear-gradient(to bottom, #00BED5, #002677);
    height:100% !important ;
}
}
@media only screen and (max-device-width: 812px) {
    .THIS .slds-grid_vertical{
    background: linear-gradient(to bottom, #00BED5, #002677);
    height:120% !important ;
}
}

/*mobile landscape end */
.THIS .mobile-menu-container{
    display:none;
}
.THIS .mobile-actions{
    display:none;
}
.THIS .team{
    display:none;
}
.THIS .button{
    display:none;
}
.THIS .dashboard{
    display:none;
}
.THIS .navigation {
    display:none;
}
.THIS .imagediv{
    width:100%;
}


.THIS .team{
    font-size : 20px!important ; /*x-large !important;*/
}

@media (min-width : 768px){ 
    .THIS.desktopview_height{
        height: calc(100vh - 48px) !important;
        /* height: 100vh !important;*/
        overflow-y: hidden !important;
    }
}

/* mobile samsung device*/
@media only screen and (min-device-width: 360px) and (orientation: portrait) {
    .THIS .team{
        font-size : 18px!important ; /*x-large !important;*/
        font-weight:bold;
    }
    
}

/* new mobile design css */

@media (max-width: 600px){
    
.THIS .slds-size_9-of-12{
    max-width:100% ;
    width:100%
}
    

.THIS .contentDiv{
    /*height: 40rem;*/
    overflow-y: scroll;
    overflow-x: hidden;
}
   
.THIS .mobile-menu-container{
    position: fixed !important;
    width: 100vw;
}
    
.THIS .bgn {
    background: #04a0b6;
    background: -webkit-linear-gradient(bottom,#04a0b6,#122377);
    background: -webkit-gradient(linear,left top,left bottom,from(#04a0b6),to(#122377));
    background: -webkit-linear-gradient(top,#04a0b6,#122377);
    background: -o-linear-gradient(top,#04a0b6,#122377);
    background: linear-gradient(180deg,#04a0b6,#122377);
}
.THIS .navigation .navigation-top {
    height: 100%;
    background: rgba(12,20,59,.9);
    position: relative;
    z-index: 3;
}
.THIS .dashboard {
    top: 120px;
    display:block;
}
.THIS .navigation {
    display:block;
   -webkit-transition: left 1s ease;
   -o-transition: left 1s ease;
    transition: left 1s ease;
    position: absolute;
    width: 100%;
    height:100%;
   /* height: calc(100vh - 120px);*/
    height: calc(100vh - 48px);
}
.THIS .navigation.mobile-show {
    left: 0;
}
.THIS .navigation.mobile-hide {
    left: -1000px;
}
.THIS .navigation .navigation-ul {
    display: -ms-flexbox;
    display: flex;
   -ms-flex-direction: column;
    flex-direction: column;
   -ms-flex-pack: start;
    justify-content: flex-start;
}
.THIS .navigation .navigation-ul li {
    padding: 1px;
}
.THIS .navigation-ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 15px 20px;
    color: #c3ecff;
}
.THIS .navigation .navigation-ul li a {
    font-size: 16pt;
}
.THIS .navigation-ul li.active {
    background: hsla(0,0%,100%,.3);
}
    
.THIS .mobile-navigation-display-grid-1-hide{
    display:none;
}
   
.THIS .team{
    display:flex;
    color: #fff;
   -ms-flex: 1 1;
    flex: 1 1;
    border-right: 1px solid #009eb4;
   -ms-flex-direction: row;
    flex-direction: row;
   -ms-flex-pack: start;
    justify-content: flex-start;
   -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}
.THIS .button{
    width: 80px;
    display: -ms-flexbox;
    display: flex;
   -ms-flex-pack: center;
    justify-content: center;
   -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
.THIS .mobile-actions{
    display: flex;
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    background: -webkit-gradient(linear,left top,right top,from(#0e3e85),to(#009eb4));
    background: -webkit-linear-gradient(left,#0e3e85,#009eb4);
    background: -o-linear-gradient(left,#0e3e85,#009eb4);
    background: linear-gradient(90deg,#0e3e85,#009eb4);
}
.THIS .mobile-actions a {
    width: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
.THIS .mobile-icon svg{
    background:none;
    fill:white !important;
}
.THIS .mobile-navigation-display-grid-3{
    display:none;
}
.THIS .mobile-navigation-display-grid-2{
    width:100% !important;
    -webkit-overflow-scrolling: touch;
    /*  height: calc(100vh - 120px) !important;*/
    /* height: 113vh !important;*/
}
}

.THIS .slds-chat-listitem_inbound {
    color:black !important;
}
.THIS .myselect{
    font-weight:700;
}
.THIS .combo-style {
    color:#080707;
    font-size:16px;
    margin-left:10px;
    /* border-radius: 4px;  */
    
}
.THIS .slds-combobox__input {
   margin: 4px 4px 0px !important;
}
.THIS .slds-listbox {
margin: 0px 4px 0px;
}
.THIS .slds-form-element__label{
     /*   margin: 0 13px 4px;*/
    margin-left:4px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    Font-size: 14px;
}
.THIS .slds-icon {
        width: 1.3rem;
    height: 1.5rem;
    border-radius: 0.25rem;
}

.THIS .icon {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.THIS .combo-style1 {
    color:#080707;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:5px;
}

.THIS  .sWrapTest {
    height:10px;
    width:10px;
}

/*Added by AC/DC*/
.THIS .notificationIcon {
    float:right;
    box-align:right;
    align-content: center;
    fill:white;
}

  .THIS .notificationIcon svg {
    fill:white;
    width:1rem;
    margin-top:11px;
}