.THIS .bordera{
    border: solid 1px #B5E8FF;
}

.THIS .slds-flex{
    display: flex;
    height: 230px;
    padding-top: 0;
    padding-left: 0;
    justify-content: space-around;
    
}
.THIS .slds-size_1-of-2{
    width: 50%;
}
.THIS .boxPaddingA{
    padding-right:9px;
}
.THIS .boxPaddingB {
    padding-left:9px;
}
.THIS .memProvCard{
    padding-bottom: 19px;
}
.THIS .programCard{
    margin-top: 30px !important;
}
.THIS .apply-flex{
        display: flex;
    	flex-wrap: wrap;
    	justify-content: start;
    	
    }

.THIS .accordionHeadingMobile{
	background: #002677!important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius:0.25rem;
}
.THIS .box{
    flex:1;
    height: 230px;
    width: 273px;
    /*overflow: scroll; */
    padding: 0 !important;
    background:white;
}

.THIS .box-title{
    background:#002677;
    top:0;
    left:0;
    right:0;
    height:28px;
    position:relative;
    padding: 6px 8px;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    
}
.THIS .box-a{
    margin-right: 11px;
    /* overflow: scroll;*/
}
.THIS .box-b{
    margin-left: 11px;
}
.THIS .box-b-mobile{
    height:150px;
}
.THIS .font-family{
    font-family: Arial, Helvetica, sans-serif;
    color: #080707;
    size:20px;
    font-size: 20px;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
}
.THIS .documentsLink{
    font-size: 14px;
    color: #196ECF !important;
    letter-spacing: 0;
    line-height: 17px !important;
    text-align: center;
    padding-top: 7px;
}

/**** Pop Up Boxes ****/
.THIS h2 {
    font-family: inherit;
    color: black;
    font-weight: var(--lwc-fontWeightLight,300);
}

.THIS .inner-popup {
    width: 65% !important;
    margin: 0 auto;
    border-radius: inherit;
}

.THIS .slds-custom-modalBody {
    padding: 20px;
}

.THIS .footerBgColor {
    background: white;
    border: 0px;
    box-shadow: none;
    margin: 0px;
}

.THIS .footerBgColor button{
    
    background:#0070d2;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

.THIS .delBgColor button{
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

/** Button**/
.THIS .btn-familyContact-Remove{
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .btn-familyContact-Cancel{
    background:#1798c1;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .scroll-background{
    background:white;        
        }

/** - End Pop
/**** for scroll bar****/

.THIS .my-custom-scrollbar {
    position: relative;
    max-height: 320px;
    overflow-y: auto;
   
}
.THIS .my-custom-scrollbarMobile {
    position: relative;
    overflow: auto;
}

.THIS .table-wrapper-scroll-y {
    display: block;    
}
/* *****see**** */
.THIS .labelText1{
    margin-top: -10px;
    
    padding-left: 10px;
    margin-left: 10px;
    font-size:12px;
    color:#080707;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 18px;
    
}
.THIS .Text1{
    padding-left: 10px;
    margin-left: 10px;
    font-size:16px;
    /*color:#080707;*/
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 18px;
}

.THIS .infoCard{
    padding-top:20px;
    height:155px
}
.THIS .documentsSec{
    padding-left: 7px;
    padding-right: 7px;
}
.THIS .memProvMobile{
    min-height: 385px;
}
.THIS .innerTable{
    background: white;
    color:#0d0c0c;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .noResults{
    text-align:center;
    padding:5px;
}
.THIS .change-color{
    color:black;
    background-color:white;
        }
.THIS .card-header-style{
            color: black;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px        
        }
.THIS .back-g-color .slds-card__header{
    padding-left: 0px !important;  
    margin-bottom: -10px;
    padding-right: 0px !important;        
            
        }
.THIS .back-g-color .slds-card{
    padding-left: 12px; 
    background: #FFFFFF;
    border: 1px solid #DADBDC;
    border-radius: 6px;
    
        }     
.THIS .tableBorderHeader{
    border-top-width: 0px !important;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    font-weight: bold;
}
.THIS .tableBorder{
    border-top-width: 0px !important;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    width:143%;
}
.THIS .tableBorderProgram{
    border-top-width: 0px !important;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    width:100%;
}
.THIS .sideBorders{
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: lightgray;
}
.THIS .tableBorderMobile{
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    width:100%;
    background:white;
    border-radius:0.25rem;
    padding:10px;
}
.THIS .grid-heading-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    
}
.THIS .occodian-labels{
    font-family: Arial, Helvetica, sans-serif;
    size:20px;
    font-weight: normal; 
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
}

.THIS .centerText{
    text-align:center;
}

.THIS .slds-accordion__summary-action-icon {
    fill : white;
}
.THIS .slds-accordion__summary-action-icon :hover icon:hover{
    fill : white;
}
.THIS .slds-accordion__summary-action {
    margin-left : 0px !important;        
        }   
.THIS .margin-ad-top .slds-accordion__summary-action {
    margin-top : 0px !important;
        }
        
.THIS .back-g-color{
    background: white;
        }
/*****
*/

/********************************************************
 * File Upload 
 * ******************************************************/
.THIS .slds-file-selector__dropzone {
    
    background: white;
    margin-right: 12px;
}
.THIS .slds-file-selector__dropzone .slds-medium-show {
    display: block!important;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    font-size: 14px;
    color: black !important;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 14px;
}
.THIS .slds-custom-fileupld .slds-has-error .slds-form-element__help{
    font-size:0;
}
.THIS .slds-custom-fileupld .slds-has-error .slds-form-element__help:after{
    content: 'This file type is not supported';
    font-size: 0.75rem;
}


.THIS .hyperlink{
    font-size: 14px;
    color: #196ECF;
    letter-spacing: 0;
    line-height: 17px;
}
.THIS .x-accordion-heading {
    background:#002677 !important;
    margin:10px;
    border-radius:0.25rem;
    margin-left: 0px !important;
    /* width: 545px !important;
    margin-left: 17px;*/
}

.THIS .x-accordion-toggle {
    background:#002677 !important;
}

.THIS span.slds-truncate{
    /*color : white;*/
    font-family: Arial, Helvetica, sans-serif;
    
    size:20px;
    font-weight: normal; 
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    
}

.THIS .slds-is-open.slds-accordion__summary {
    margin-bottom: 0px;
    margin-top : 0px;
}

.THIS .table th td {
    border: 1px solid black;
}

.THIS .accordion-toggle {
    background-color: White;
    display: block;
    padding: 0px;
    margin: -10px -15px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.THIS .slds-accordion__section {
    padding-top :0px;
    padding-bottom :0px;
    padding-left:0px;
    padding-right:0px !important;
}
.THIS .accordion-toggle.collapsed {
    background-color: white;
    height: 100px;
}
.THIS .slds-button2{
    right: 2px;
    position: relative;
    bottom: 2px;
    padding:0px;
    border:0px;
    
}
.THIS .Upload_button{
    background: white;
    border-color: lightgray !important;
    border: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.THIS .Upload_buttonMobile{
    background: white;
    border-color: lightgray !important;
    border: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    margin-left: 12px;
}

.THIS .close_Button{
    background: #0070d2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12px;
    height: 38px;
    width: 70px;
}
.THIS .close_ButtonMobile{
    background: #0070d2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    margin-left: 12px;
}
@media only screen and (max-width: 575px){
    .THIS .slds-modal__close svg{
        fill: gray;
        width: 1.5rem;
        height: 1.5rem;
    }
    .THIS .offwhitemobile{
        background:#f2f2f2;
    }
    .THIS .slds-modal__container{
        padding:0;
        margin:0;
    }
    .THIS .slds-modal__close {
        top:0;
        right:0;
        padding-left:90%;
    }
    .THIS .slds-accordion{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .THIS .uploadPanel{
    	padding-bottom: 15px;
    }
    .THIS .docPanel{
        padding-top:10px;
        padding-bottom:10px;
    }
    .THIS .slds-file-selector__dropzone .slds-medium-show{
       display: block !important;
       width: 7rem;
   }
    .THIS .slds-file-selector{
    width: 100%;
  }

   .THIS .slds-file-selector__dropzone {
    width: 90%;
    background: white;
    margin-left: 12px;
  }
   .THIS .slds-file-selector__dropzone .slds-file-selector__button {
    color: #0070d2;
    width: 7rem;
}
            /** Mobile Pop-Up **/
            .THIS .inner-popup {
                width: 100% !important;
                margin: 0 auto;
            }
            .THIS .slds-list_dotted {
                margin: 0px !important;
            }
            
            .THIS .footerBgColor {
                width: 100%;
            }
            
            .THIS .footerBgColor button{
                border: none;
               	margin: 0 auto;
                margin-bottom: 5px !important;
                width: 90%;
            }
            
            .THIS .delBgColor {
                width: 100%;
            }
            
            .THIS .delBgColor button{
                border: none;
                margin: 0 auto;
                margin-bottom: 5px !important;
                width: 90%;
                
            }
}
@media only screen and (min-width: 576px) and (max-width:  992px){
    .THIS .my-custom-scrollbar {
        position: relative;
        max-height: 143px;
        overflow-y: auto;
        overflow-x: auto;
    }
    .THIS .slds-modal__close svg{
        fill: gray;
        width: 1.5rem;
        height: 1.5rem;
    }
    .THIS .offwhitemobile{
        background:#f2f2f2;
    }
    .THIS .slds-modal__close {
        top:0;
        right:0;
        padding-left:90%;
    }
    .THIS .slds-accordion{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .THIS .uploadPanel{
    	padding-bottom: 15px;
    }
    .THIS .docPanel{
        padding-top:10px;
        padding-bottom:10px;
    }
    .THIS .innerTable{
        background: white;
        color:#0d0c0c;
        font-family: Arial, Helvetica, sans-serif;
        width: 101%;
        margin-left: -1px;
    }
}