.THIS .truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.THIS .slds-truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .dashedLine{
    border-bottom: 1px dashed;
}

/* MNRTable style to set height to show only 7 rows */
.THIS .MNRTable {
    width: 100%;
}
.THIS .MNRTable thead, .THIS .MNRTable tbody, .THIS .MNRTable tr, .THIS .MNRTable td, .THIS .MNRTable th { display: block; }
.THIS .MNRTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
    overflow-x: auto;
}
.THIS .MNRTable tbody {
    height: 196px;
}
.THIS .MNRTable thead {
    /* minus scroll bar width */
    width: calc(100% - 17px);
}
.THIS .MNRTable tbody td, .THIS .MNRTable thead th {
    float: left;
}
/* end of MNRTable styles */

.THIS .slds-table thead th {
	background-color: rgba(255, 255, 255)!important;
}
.THIS .slds-table tbody tr:hover td {
	background-color: white !important;
}
.THIS .slds-table tbody tr:hover th {
	background-color: white !important;
}
.THIS .cACET_AutoDocDataTable .FixedHeader{
    height: 300px;
}