.THIS.icn{
    background-color:rgb(242,121,171);
}

.THIS .highlightPanelPositionSandbox {
	position: sticky;
    top: 10rem;
    width: 100%;
    z-index: 50;
    transition-delay: 500ms;
}

.THIS .highlightPanelPosition {
    position: sticky;
    top: 8rem;
    width: 100%;
    z-index: 50;
    transition-delay: 500ms;
}

.THIS .slds-pill__remove {
    display: none;
}