.THIS .field-title{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .field-value{
    color: #080707 !important;
    font-size: 14px;
}
.THIS .hyperLink{
    color:#005FB2;
    font-size: 14px;
}
.THIS .slds-text-heading_small{
	color: #080707;
    font-weight: bold;
    font-size:16px;
}

.THIS {
}

.THIS.FixHeight{
    height: 100%;
}

.THIS .floatRight{
    float: right;
}
.THIS .itemWidth{
    width: 20%;
}