.THIS .basicAdvaceCls{
   margin-left: -28%;
}

.THIS .slds-text-title_caps{
    text-transform: Uppercase;
    font-size: 13px;
}
.THIS .slds-button_icon{
    margin-top:-6px;
}
.THIS .iconColor .slds-button{
    color:#16325A;
}

.THIS .slds-table_header-fixed_container{
    border-top: 1px solid rgb(221, 219, 218);
}

.THIS div.slds-radio_button-group{
    border: none;
}

.THIS label.slds-radio_button__label {
    border-radius: 0.25rem !important;
}

.THIS .paddingTopDiv{
    padding-bottom: 2% !important;
}

.THIS .basicAdvaceCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .dropDownAlignment .slds-listbox__option{
    padding:0px !important; 
}

.THIS .toogleClass{
    display:flex;
    padding-top: 1.3rem;
    margin-left: -63px;
}

.THIS .basicAdvaceCls .slds-form-element__label{
  padding-right: 44px !important;
}
.THIS .alert_button{
    width: 60% !important; 
}


/* RAJESH US2006160 - 01/14/2021 */

/* toggle font styles */
.THIS .toggle-faux_faux {
    font-size: 10px;
    color: white;
}
/* text align when toggle checked*/
.THIS .tgl-text-right {
    text-align: right;
}
/* text align when toggle unchecked*/
.THIS .tgl-text-left {
    text-align: left;
}
/* toggle hover style */
.THIS .toggle-faux_faux:hover {
    border-color: rgba(27, 82, 151, 1);
    background-color: rgba(27, 82, 151, 1);
}
/* style to remove the check mark character */
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}
/* background color when checked */
.THIS .active-blue {
    border-color: #0070d2 !important;
    background-color: #0070d2 !important;
}
/* background color when unchecked */
.THIS .active-grey {
    border-color: rgb(150, 148, 146) !important;
    background-color: rgb(150, 148, 146) !important;
}