.THIS .inputSize {
    width:100%; 
}

.THIS .divCss .slds-icon {
    width: 1rem;
    height: 1rem;
}

.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}

.THIS .styling button{
    line-height: 0.875rem !important;
}

/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .advisor{
    background-color:orange;
}
.THIS .providerTeam{
    background-color: purple;
}
.THIS .provider{
    background-color: blue;
}