.THIS caption { 
  display: table-caption;
  text-align: center;
}

.THIS .collapsible-tbl tbody tr td{
    border: none !important;
}

/*.THIS textarea {
  resize: none;
}*/

.THIS .borderTop{
    border-top:1px solid rgb(221, 219, 218);
}

.THIS .borderBottom{
    border-bottom:1px solid rgb(221, 219, 218);
}

.THIS .modalSpecs{
 max-width: 70px !important;
 width:70px !important;
}

.THIS .resetStatefullBtn, .THIS .resetStatefullBtn:active, .THIS .resetStatefullBtn:hover, .THIS .resetStatefullBtn:focus, .THIS .resetStatefullBtn:focus-within, .THIS .resetStatefullBtn:visited{
    background-color: transparent !important;
    border: none !important;
    transition: none !important;
}

.THIS .slds-modal__container{
    width: 100%;
}

@media (min-width: 48em) {
    .THIS .slds-modal__container{
        margin: 0 auto;
        width: 75%;
        max-width: 100% !important;
        min-width: 5% !important;
    }
}