.THIS .customRadioCls .slds-radio{
    display: inline-block !important;
}

/* US2038008: UI - For Accumulation Table for E&I PHS & M&R: Kavinda - START */
.THIS .benebitAccordion .slds-accordion__summary-heading span{
    text-decoration: underline !important;
    color: rgb(0, 109, 204);
    transition: color .1s linear;
}

.THIS .accumulationTable thead tr th, .THIS .accumulationTable thead tr td{
    text-decoration: none !important;
}
/* US2038008: UI - For Accumulation Table for E&I PHS & M&R: Kavinda - END */

/*US2063794 : TECH - Provider Specialty Crosswalk SAE Update*/
.THIS .noborder{
    border: 0px !important;
    box-shadow: none !important;
}
.THIS .boxontop{
    width: 100%;
    margin-top: -80px;;
}

/* US1814440	Wrap to IBAAG/PASS for E&I - Sarma - 12-02-2020 */

.THIS .btn_ibaag{
    width: 100px; /* US2386356 - Thanish - 11th Nov 2020 */
}
.THIS .search_btn{
    width: 100px;

}
.THIS .BtCalenders{

    width: 45.5%;
}
.THIS .BtHsaHra{
  width: 55%
}
.THIS .btn_search{
    margin-top: -75px;
}
/* US2406096 */
.THIS .hide_ibaag_Btn{
	display: none;
}
/* US2386356 - Thanish - 11th Nov 2020 */
.THIS .asOfDateWidth{
    width: 130px;
}
.THIS .hsaLabelBackground .slds-form-element__label{
    background-color: yellow;
}

.THIS .slds-pill__remove{
    display: block !important;
}