.THIS {
}

.THIS .slds-text-title_caps{
    font-weight: bold;
}

.THIS .slds-table_header-fixed_container{
    border-top: 1px solid rgb(221, 219, 218);
}

/* US206884 - Sanka */
.THIS .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}

.THIS .slds-icon-action-close{
    padding:0px;
}

.THIS .selected{
    font-weight: bolder;
}

.THIS .slds-icon-standard-empty{
    background-color: orange;
}