.THIS .labelCls {
    color:grey;
    font-weight:bold;
    font-size:14px;
}
.THIS .field{
    height: 33px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
}
.THIS .headings{
    font-size:17px;
    font-weight:bold;
}
.THIS .labelClsinfoSec {
    color:black;
    font-weight:bold;
    font-size:14px;
}
.THIS .slds-datepicker{
    
    top:30.2px !important;
}