.THIS .slds-modal__container {
    margin: 0 auto;
    width: 75%;
    max-width: 65rem;
    min-width: 50rem;
}
.THIS .slds-table {
    text-overflow: inherit !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important; 
}


.THIS .slds-backdrop{
    position: fixed !important;
}

.THIS .slds-modal{
    position: fixed !important;
}

/* US1817921 - Thanish - 15th Oct 2019 */
.THIS .no_radius {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
@media all and (max-width: 980px) {
    .THIS .slds-modal__container {
       min-width: 45rem !important;
    } 
    .THIS .typeCls{
        width:10% !important
    }
     .THIS .groupCls{
        width:10% !important
    }
     .THIS .idNoCls{
        width:10% !important
    }
     .THIS .alertTitleCls{
        width:16% !important
    }
     .THIS .alertCommentCls{
        width:25% !important
    }
     .THIS .effectiveDateCls{
        width:14% !important
    }
     .THIS .endDateCls{
        width:14% !important
    }
}
@media all and (max-width: 1200px) {
    .THIS .slds-modal__container {
       min-width: 45rem !important;
    } 
    .THIS .typeCls{
        width:10% !important
    }
     .THIS .groupCls{
        width:10% !important
    }
     .THIS .idNoCls{
        width:10% !important
    }
     .THIS .alertTitleCls{
        width:16% !important
    }
     .THIS .alertCommentCls{
        width:25% !important
    }
     .THIS .effectiveDateCls{
        width:14% !important
    }
     .THIS .endDateCls{
        width:14% !important
    }
}

@media all and (max-width: 1400px) {
    .THIS .slds-modal__container {
       min-width: 45rem !important;
    } 
    .THIS .typeCls{
        width:10% !important
    }
     .THIS .groupCls{
        width:10% !important
    }
     .THIS .idNoCls{
        width:10% !important
    }
     .THIS .alertTitleCls{
        width:16% !important
    }
     .THIS .alertCommentCls{
        width:25% !important
    }
     .THIS .effectiveDateCls{
        width:14% !important
    }
     .THIS .endDateCls{
        width:14% !important
    }
}