.THIS .highlight-pannel {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.THIS .slds-spinner_container{
    background: none;
}
.THIS .motion-align_absolute-center {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}