.THIS .cardHeight{
    height: 97%;
}
.THIS .contractDetailsWidth{
    width: 65%;    
}
.THIS .timelyfilingWidth{
    width: 35%;    
}
/* adds dashed underline */
.THIS .dashedLine{
    border-bottom: 1px dashed;
}
.THIS .closeBtn svg{
    color: black !important;
    border: none !important;
}