.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 20px !important;
   left: 70px !important;
}
.THIS .integrationUser {
    height: 80px; 
    width: 80px;
}
.THIS .integrationUser2Hover {
    position:absolute;
    top:-40px;
    left:-80px;
    height:150px;
    width:250px;
}
.THIS .integrationUserHover {
    position:absolute;
    top:-40px;
    left:-80px;
    height:150px;
    width:125px;
}
.THIS .uspUser {
    height: 40px; 
    width: 40px;
}
.THIS .uspUser2Hover {
    position:absolute;
    top:-30px;
    left:-150px;
    height:120px;
    width:200px;
}
.THIS .uspUserUserHover {
    position:absolute;
    top:-30px;
    left:-30px;
    height:100px;
    width:100px;
}