.THIS {
}
.THIS .slds-text-title_caps{
    font-weight: bold; 
}

.THIS .slds-table_header-fixed_container{
    border-top: 1px solid rgb(221, 219, 218);
}
.THIS .caseButton{
    background-color: #005fb2;
    border-color: #005fb2;
    font-size: 12px;
}
.THIS .slds-text-heading_small{
    font-weight: bold;
    font-size: 16px;
    color: #080707;
}

.THIS .disabledLink{
    pointer-events: none;
    cursor: default;
    color: gray;
}



.THIS .searchBoxFix{
    margin-top: -60px!important;
     margin-bottom: 10px !important;
    margin-right: 340px!important;
 }

 .THIS .searchBoxFix input{
    border: 1px solid rgb(221,219,218);
    line-height: 0.25rem;
    border-radius: 0.25rem;
    height: 1.875rem;
    width: 200px;
    margin-left: 10px;
    padding-left: 5px;
 }

/* US2344866 */
.THIS .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.THIS .tooltip:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color:  #fff;
    color: black;
    text-align: center;
    /* border-radius: 6px; */
    border-color: #eff0f1;
    border-style: 1px solid;
    padding: 7px;
    position: absolute;
    z-index: 10;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    box-shadow: 3px 8px 17px rgba(0,0,0,0.5);
    border-top: 1px solid #c9c7c5;
    border-left: 1px solid #c9c7c5;
    border-right: 1px solid #c9c7c5;
}

.THIS .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 55px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* US1934396 - Thanish - 18th Feb 2020 */
.THIS .clickedRow {
    /* Created to track whether a row is clicked or not */
}

/* style to remove the check mark character */
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}

.THIS .toggle-faux_faux {
    font-size: 10px;
    color: white;
}

/* text align when toggle checked*/
.THIS .tgl-text-right {
    text-align: right;
    padding-right: 10px;
}
/* text align when toggle unchecked*/
.THIS .tgl-text-left {
    text-align: left;
    padding-left: 10px;
}