/**********************************************
 * Navigation
 * ********************************************/
.THIS .record-top-nav{
    padding-top:5px;
}

.THIS .record-nav{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;    
    border-radius:0.4rem;
    height: 2.0rem;
    width:  49vw;
    border: solid 1px #B5E8FF;
  
}

.THIS .record-nav li {
  float: left;
  border-right: solid 1px #B5E8FF;
  width: 40.3%; 
  padding: 5px;
}

.THIS .record-nav li.active{
    background-color: #fafeff;
    width:50%;
    padding:5px;
}

.THIS .record-nav li.inactive{
    width:50%;
    padding:5px;
}

.THIS .record-nav li.active a {
    color: #0AA6F4;
}

.THIS .record-nav li:last-child {
  border-right: none;
}

.THIS .record-nav li a {
  display: block;
  color: grey;
  text-align: left;
  /*padding: 16px;*/
  width:100%;
  text-decoration: none;
  padding-bottom: 20px;
}
.THIS .tab-nav{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 20px;
    border-radius:0.5rem;
    height: 33px;
    border: solid 1px #B5E8FF;
    width:250px;
  
}

.THIS .tab-nav li {
  float: left;
  border-right: solid 1px #B5E8FF;
  width: 50%;
  padding: 5px;
  text-align : center;
}

.THIS .tab-nav li.active{
    background-color: #fafeff;
    width:50%;
    padding: 5px;
    text-align : center;
}
.THIS .tab-nav li.active a {
    color: #0AA6F4;
}

.THIS .tab-nav li:last-child {
  border-right: none;
}

.THIS .tab-nav li a {
  display: block;
  color: grey;
  /*text-align: left;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;*/
  width:100%;
  text-decoration: none;
}
.THIS .colorimgheight {
    height:20px;
}
.THIS .imgheight {
    height:20px;
}
.THIS .imgheight1 {
    height:25px;
}
/********************************************
 * Button
 * *******************************************/

.THIS .customIconSize svg{
    width: 1rem;
    height: 1rem;
}
.THIS .slds-addcontact-box{
    color:white;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:#ffb111;
    height:3rem;
    width:12rem;
    text-align:center;
    font-weight:bold;
    float:right;
    margin-right: 20px;
}

.THIS .slds-savebutton-box{
    color:white;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:#ffb111;
    height:2.5rem;
    width:10rem;
    text-align:center;
    font-weight:bold;
    float:right;
}

.THIS .slds-backbutton-box{
    color:#ffb111;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:white;
    height:2.5rem;
    width:10rem;
    text-align:center;
    font-weight:bold;
    margin-right: 20px;
    border-color: #ffb111;
    border-width: 2px;
}

/*******************************************************
 * Content
 * *****************************************************/

.THIS .slds-record-content{
    margin-top: 30px;
    margin-left:20px;
    margin-right:20px;
}

.THIS .modalTitle{
    font-weight: bold;
    font-size: 1.25rem;
    color: #0c0cb1;
    line-height: 1.25;
}

.THIS .modalBody{
    padding-bottom:10px;
}

.THIS .modalLabels{
    padding-bottom:10px;
    font-weight:bold;
    color:gray !important;
}

.THIS .slds-modal__content{
    padding: 20px;
}

.THIS .slds-modal__container{
    min-width: 50rem !important;
}

/*.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}

.THIS .backdrop{
    transition-duration: 0.4s;
    width: 100%;
    height: 100%;
    opacity: 60%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
}*/

/********************************************************
 * Mobile
 * ******************************************************/

@media (max-width: 600px){
 .THIS .slds-addcontact-box{
        width: 90vw;
        float:none;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
 .THIS .record-nav{
        font-size: 12px;
        width: 60vw;
        padding: 0;
        margin:0;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom:0px;
        height: auto;
        text-align: center !important;
    }
    
    .THIS .record-nav li a {
        padding: 0;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .THIS .tab-nav{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 7px;
    border-radius:0.5rem;
    height: 33px;
    border: solid 1px #B5E8FF;
    width:100px;
  
}
    
    .THIS .slds-savebutton-box{
	    color:white;
	    border-radius:0.6rem;
	    text-decoration:none;
	    font-size:16px;
	    background:#ffb111;
	    height:2.5rem;
	    width:8rem;
	    text-align:center;
	    font-weight:bold;
	    margin: 0 auto;
    	display: block;
    	float:none !important;
    	padding-bottom:2px;
	}
	
	.THIS .slds-backbutton-box{
	    color:#ffb111;
	    border-radius:0.6rem;
	    text-decoration:none;
	    font-size:16px;
	    background:white;
	    height:2.5rem;
	    width:8rem;
	    text-align:center;
	    font-weight:bold;
	    margin-top: 10px !important;
	    border-color: #ffb111;
	    border-width: 2px;
	    margin: 0 auto;
    	display: block;
	}
}
@media (max-width: 900px){
    .THIS .slds-modal__container{
        min-width: 15rem !important;
    }
    
     .THIS .record-nav{
        font-size: 12px;
        width: 55vw;
        padding: 0;
        margin:0;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom:0px;
        height: auto;
        text-align: center !important;
    }
    
    .THIS .record-nav li a {
        padding: 0;
        padding-left: 5px;
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }
    
    .THIS .tab-nav{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 7px;
    border-radius:0.5rem;
    height: 33px;
    border: solid 1px #B5E8FF;
    width:100px;
  
}
}