/* Thanish - Adding missing styles according to mockup - 19th August 2019 */
/* US2045625 - Thanish - 26th Sept 2019 - removed unwanted styles */
.THIS .btnClear {
    /* float:right; */
    font-size: 12px;
    color:#006DCC;
    font-weight:400;
}

.THIS .btnClear-div{
    /* float: right; */
    /* margin-top: 0px; */
    text-align: right;
}

.THIS .combobox input{
    border-color: rgb(194, 57, 52) !important;
    border: 1px solid rgb(194, 57, 52) !important;
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}