.THIS .sdls-pr-visible{
        display: none;
    }

.THIS .slds-cls-icn-width{
    width:1.6rem !important;
}
.THIS.slds-fdinopen {
     background: #797972 !important;
}
.THIS .slds-modal__header_empty {
    padding: 0 !important;
    border-bottom: 0 !important;
}
.THIS .slds-align_absolute-right{
    text-align:right !important;
}
.THIS .slds-tqtxt1{
    text-align: center;
}
.THIS .slds-botMemName{
    padding-bottom:0px !important;
}
.THIS .SNI_FL_HomeGreyOut {
    opacity:0.1 !important;
}
.THIS .slds-hrstyle{
    margin: 0.3rem;
}
.THIS .slds-mempopname{
    font-size:1.1rem;
    font-family:Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left:0.5rem;
}
.THIS .slds-tqtxt{
    color: #122377;
    font-size:1.2rem;
    font-weight:bold;
    text-align: center;
    
}
.THIS .slds-modal__container{
    height:100%;
    padding-bottom: 0px !important;
 /*   height:50vh !important;
    width:50vw !important;*/
}
.THIS .slds-boxcus{
    background-color:white !important;
    border-radius:0.25rem;
    background-color:#f4f6f9;
    border:1px solid #d8dde6;
    padding:0.5rem;
}

.THIS .slds-dne{
    color:#122377;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom:0.4rem;
    padding-left:0.3rem;
}
.THIS .slds-fnts{
    font-size: 0.8rem;
    padding-left:0.3rem;
    padding-bottom:0.6rem;
    color:#797972;
}
.THIS .slds-grid {
    padding-left: 0.5rem!important;
    padding-right: 1rem!important;
}
.THIS .slds-btntyle{
    width:100% !important;
    background: #00C4F4;
    color: white;
    font-size:1rem;
    font-weight: 400;
    margin-top:1rem;
}
.THIS .slds-card{
    background-color:white;
    padding:0.6rem !important;
    color: black !important;
    font-size :1rem !important;
}
.THIS .slds-auth{
    font-family: "Cormorant Garamond", serif;
    color: #122377 !important;
    /*font-style: italic;*/
    font-size :1.5em !important;
    font-weight : 500  !important;
    padding-bottom:1rem !important;
}
.THIS .slds-padding-bot{
    padding-bottom:0.6rem !important;
}
.THIS .sld-licolor{
    color:#00C4F4 !important;
    font-weight : 600  !important;
    font-size :0.8rem !important;
}