.THIS .isChartLoading {
   position: relative !important;
   top: 40px !important;
   left: 350px !important;
}

.THIS .popover-content{
    width: 195px;
    word-wrap: break-word; 
    white-space:normal;
    text-align: left;
}

.THIS .popover-flag{
    width: 170px; 
    white-space:normal;
    text-align: left;
}

.THIS .popover {
    position: relative; 
    display: inline-block;
}

.THIS .chart { position: relative; }

.THIS .chart-text { position: absolute; border-radius: 100%; }

.THIS .wordWraped{
    white-space:normal;
    word-wrap: break-word;
}
.THIS .oop-value {
    float: right;
}

.THIS .popover-wrapper {
    position: relative; 
}

.THIS .popover-flaghover {
    position: absolute; 
    bottom: 120%;
    left: 45%;
    width: auto;
    z-index: 10;
    text-align: left;
}

.THIS .slds-truncate.event_word_wrap{
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
}

.THIS .claimNoDataMsg{
    width: 60%;
}

.THIS .claimTwlveMnthsNoDataMsg{
    width:85%;
}

.THIS .slds-modal__container{ 
    max-width: 70rem !important;
    width:60% !important;
}

.THIS .errMsg{
    font-weight: bold;    
}

.THIS .errMsgWidthFull{
	width: 100%;    
}

.THIS .errMsgWidthHalf{
	width: 98%;    
}