.THIS .cls-cart {   
    font-style:sans-serif;
    font-size:14px;
    font-weight:bold;
}
.THIS .scroll {
  width: auto;
  overflow-x: scroll;
  overflow-y:hidden;
}
.THIS.scroll {height: 200px; }
.THIS .box{
   border: 2px solid orange ;
}
.THIS .cls-cart-title {
    font-size:12px;
}