.THIS {
}
.THIS .text-align-center{
    text-align: center !important;
}
.THIS .cursor-pointer{
    cursor:pointer;
}
.THIS .hideLabel .slds-form-element__label{
    display: none !important;
}
.THIS .completedTabColor{
    background:rgb(224 229 248) !important;
    color:black !important;
}
.THIS .scrollBar{
    /*max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;*/
}