.THIS .tableWidth{
    table-layout: auto;
    width: 100%;  
}

.THIS .popover {
    padding-left: 2rem;
    padding-top: 28rem; 
    position: absolute; 
}

.THIS .popover-wrapper {
    position: relative; 
}

.THIS .popover-content {
    position: absolute; 
    bottom: 150%;
    left: -20%;
    width: 180px;
    word-wrap: break-word; 
    white-space:normal; 
}

.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
    word-break:break-all;
}

.THIS .tableHeader{
    background-color: #fafafa !important;
}