/**********************************************************
 * Containers
 * ********************************************************/
.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}

/***********************************************************
 * Image
 * ***********************************************************/

.THIS .contact-user-image svg[data-key="user"]{
    background: none;
    fill:none !important;
    width: 30%  !important;
    margin-top: 50px;
    stroke: #646464;
  	stroke-width: 5px;
    
}

/************************************************************
 * Mobile
 * **********************************************************/

@media (max-width: 599px){
    .THIS .contact-user-image svg[data-key="user"]{
        margin-left: 0;
    }
    
    .THIS .mobileCenterbutton{
        float: none;
        display: flex;
        justify-content: center;
    }
    
    .THIS .record-nav{
        margin: 10px;
    }
}

/*************************************************
 * ipad
* *************************************************/
@media only screen and (min-width: 600px) and (max-width: 1024px){
    
    
        .THIS .record-nav{
        width: 50vw;
    }
}