.THIS {
}

.THIS .slds-is-active{
}

.THIS .slds-tabs_default__item{
    font-weight: bold;
    font-size:16px;
}

.THIS .slds-tabs_default__link {
    text-decoration: none !important;
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}