.THIS .alignCls {
    margin-top:-15px;
    margin-right:15px;
}

.THIS.btnCls{
   width:100px;
}


.THIS.flowCss{
  background-color: white;
}



.THIS .line-header{
   line-height: 2 !IMPORTANT;
   
   
}

.THIS .linealign{
   
   justify-content: space-between;
   padding-bottom:8px;
}


.THIS .eservce{
   
   float-left:10px;
   
}