.THIS .historyTable {
    width: 100%;
    table-layout: fixed;
}

.THIS .attachmentTable {
    width: 100%;
    table-layout: fixed;
}

.THIS .disableLink{
    pointer-events: none;
    cursor: default;
    color: gray;
}