.THIS .transactionfield-title{
    font-weight: bold;
}

.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .slds-icon{
    width: 1.1rem !important;
}

.THIS .ms-help-popup-in-header {
    display: inline-block;
    position: absolute !important;
    top: -10px !important;
    left: 55px !important;
    margin-left: -1rem !important;
    max-width: 20rem !important;
    overflow: visible !important;
    text-transform: none !important;
}

.THIS .ms-help-popup-in-header:before, .THIS .ms-help-popup-in-header:after {
    width: 0.8rem !important;
    height: -0.8rem !important;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    top: 50%;
    left: -0.4rem !important;
    margin-top: -.8rem !important;
}

.THIS .ms-help-popup-body {
    white-space: unset !important;
    word-break: keep-all;
    overflow-wrap: break-word;
    width: 600px;
}


.THIS .toolTipDetails {
    width:  1200px;
    max-width: 1200px;
    overflow:auto;
  }

.THIS .transactionIcon .slds-form-element__icon {
    margin-top: -2px;
}

.THIS .slds-size_1-of-6{
    width: 16.66% !important;
}

.THIS .slds-size_1-of-4{
    width: 25% !important;
}
.THIS .fitInTextColumn {
    white-space: normal;
    word-wrap: break-word;
}