.THIS .slds-accordion__summary{
    background: #f3f2f2 !important;
    padding: 10px !important;
    border-radius: 4px !important;
}
.THIS .hideHelpText .slds-form-element__icon{
    display: none;
}
.THIS .hideLabel .slds-form-element__label{
    display: none !important;
}