.THIS .slds-icon-action-approval {
    background-color: #32b917;
}
.THIS .slds-icon-action-close {
    background-color: #fd5447;
}
.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}