.THIS .slds-layout__header{
    background-color: grey;
}
.THIS .cls-hi{
    background-color: #d8edff;
}
.THIS .cls-titles {   
    font-style:sans-serif;
    font-size:12px;
    font-weight:bold;
} 
.THIS .cls-hds {   
    font-style:sans-serif;
    font-size:12px;
    background-color:#f2f2f2 ;
   
}
.THIS .cls-val {   
    font-style:sans-serif;
    font-size:12px;
    font-weight:bold;   
}
.THIS .cls-cart {   
    font-style:sans-serif;
    font-size:16px;
    font-weight:bold;
}
.THIS .pp-error {
    color: #DC143C;
    font-size: 12px;
}
.THIS .slds-radio {
    display: inline !important;
}