.THIS .hide {
    display: none;
}
.THIS .cACET_AutoDocDataTable .FixedHeader{
    height: 230px;
}
.THIS .searchBox {
    position: absolute;
    margin-top: -54px;
    right: 16px;
}
.THIS .cACET_ToggleButton{
    margin-top: -3px;
}