.THIS .customRadioCls {
    display : inline-grid !important;
}

.THIS .customRadioCls .slds-radio{
    display : inline-block !important;
}

.THIS .feedColor{
    background-color: #f67594;
}

.THIS .customRadioCls2 .slds-radio{
    margin-right: 30px !important;
}
.THIS .marginLeft{
    margin-left: -1% !important;
}