.THIS .inputWidth {
    width: 66% !important;
}
.THIS .slds-table_cell-buffer tr>th:first-child, .THIS .slds-table_cell-buffer tr>td:first-child {
    padding-left : 6px  !important;
}
.THIS .slds-table_cell-buffer td {
    padding-top : 2px !important;
}
.THIS .searchTab th{
       background-color: #F9F8F8 !important;
        }
.THIS .searchTab {
    width: 85%;
}

.THIS .inputDateWidth {
    width: 122px !important;
}
.THIS .inputModifierWidth {
    width:95px !important;
} 
.THIS .inputcptwidth {
    width : 95px !important;
}
.THIS .inputPosWidth {
    width:185px !important;
}
.THIS .inputDrugCodeWidth {
    width:100px !important;
}
.THIS .inputDaysWidth {
    width:95px !Important;
}
.THIS .inputChargesWidth {
    width :120px !important;
}
.THIS .inputPosWidth > label {
    display : none;
}
.THIS .inputModifierWidth .slds-input {
    background-color:#CCEEFF !important;
}
.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .slds-form-element__help {
    white-space : normal !important;
}

.THIS .slds-datepicker{
  top :30px !important;
}


.THIS .datepicker-table {
  border-color: rgb(128,128,128);
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: "Salesforce Sans",Arial,sans-serif;
  height: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.THIS .datepicker-table table {
  color: rgb(22,50,92);
  display: table;
  line-height: 18px;
  width: 100%;
}

.THIS .datepicker-table thead tr {
  border-bottom-color: rgb(240, 241, 242);
  display: table-row;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  width: auto;
}

.THIS .datepicker-table tbody {
  border-collapse: collapse;
  box-sizing: border-box;
  color: rgb(22, 50, 92);
  display: table-row-group;
  line-height: 18px;
  vertical-align: middle;
  width: auto;
}

.THIS .datepicker-table tbody tr {
  display: table-row;
}

.THIS .datepicker-table tbody tr td {
  display: table-cell;
  line-height: 18px;
  padding: .25rem;
  text-align: center;
  vertical-align: middle;
  width: auto;
  border: none;
}