.THIS .width25{
    width:25%;
}
.THIS .uiInput--default.has-error.uiInputDefaultError{
	margin-left: 25%;
}
.THIS .uiInput--default .form-element__label{
    font-size: .75rem;
}
.THIS .uiInput--select .select{
    margin-left:12%;
}