/* US2301694 */
.THIS .topLine{
    /* padding: 1rem 1rem; */
    /* padding: 1rem 0.5rem 0rem 0.5rem; */
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid rgb(221, 219, 218); /* US2925992 - Thanish - 23rd Dec 2020 */
    border-radius: 0;
    background: rgb(255, 255, 255);
    background-clip: padding-box; 
    box-shadow: none; 
    /* margin-top: 10px; */
    
}
.THIS .col{
    color:black;
}

.THIS .benefit_table table {
    table-layout: fixed !important;
}

.THIS .benefit_table table .check-box-th{
    width: 50px !important;
}


/* US2301694 */
.THIS .slds-page-header{
    background: rgb(255, 255, 255) !important;
    padding: 0px; /* US2925992 - Thanish - 23rd Dec 2020 */
}

/* US2301694 */
.THIS .BenefitAccordianChild{
    padding: 0px;
    margin: 0px;
}