.THIS .field-lable {
	
    font-weight: bold;
}
.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS .slds-button_icon-bare{
    display: none;
    
}
 .THIS .slds-grid_align-end {
    justify-content: center !important; 
}
.THIS inline {
  display: inline;
}
.THIS .cls-cart {   
    font-style:sans-serif;
    font-size:14px;
    font-weight:bold;
}
.THIS.box{
   border: 2px solid orange ;
}
.THIS .cls-cart-title {
    font-size:12px;
}