.THIS .backgroundColor{
    background-color:#f3f2f2;

}
.THIS .right svg{
 margin-top: -15px !important;
 width: 2rem !important;
    height: 2rem !important;
    color:black !important;

}
.THIS .icon svg{
  width: 2rem !important;
    height: 2rem !important;
    color:black !important;
    fill:purple !important;
}
@media (max-width: 768px) {
  .THIS .mobileView {
    display: none;
  }
}

@media (min-width: 768px) {
  .THIS .desktopView {
    display: none;
  }
}