.THIS body {
    font-family: Salesforce Sans, Arial, sans-serif;
} 

.THIS .downArrowCls svg {
    width: 1rem;
    height: 1rem;
    margin-top:5px;
}
.THIS .slds-icon-utility-chevrondown{
    margin-top:4px;
}
.THIS .tr-center{
    text-align: center;
}

.THIS .brand_button{
    font-size: 13px;
    background-color: #005fb2;
    border-color: #005fb2;
    color: #ffffff;
}

.THIS .field_value{
    font-size: 14px;
    color: #080707;
}

.THIS .field_label{
    font-size: 12px;
    color: #3e3e3c;
}

.THIS .dataTable tbody tr:hover td {
  background-color: yellow;
  border:none;
}

.THIS .dataTable tbody tr:hover th {
    background-color:yellow;
    border:none;
}