.THIS {
}
.THIS .slds-icon-action-approval {
    background-color: #32b917;
}
.THIS .slds-icon-action-close {
    background-color: #fd5447;
}
.THIS .iconscls svg {
    width: 1rem;
    height: 1rem;
}
.THIS .titlecls .slds-accordion__summary-heading, 
.THIS .titlecls .slds-accordion__summary-heading:hover, 
.THIS .titlecls .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS.page_header_Cls .slds-text-heading_small{
 font-size: 18px;
    font-weight: bold;
    color: #080707;
    
}
.THIS.component_card .slds-text-heading_small{
   font-weight: bold;
    font-size: 16px;
    color: #080707;
}