.THIS .cardTitle{
	color: #080707;
    font-weight: bold;
    font-size:16px;
}

.THIS .cmp_font{
    color: #080707;
}
.THIS.slds-spinner_container {  
    z-index: 100;
    position: fixed;   
  }

 .THIS .noUnderline{
    text-decoration: none;
}
.THIS .noTopBorder{
    border-top: none;
}
.THIS .noBottomBorder{
    border-bottom: none;
}
.THIS .centerTexts{
    text-align: center;
}
.THIS .warningFont{
    color: gray;
    font-size: 16px;
}

.THIS .autodocWarningIcon{
    margin-right: 10px;
}