.THIS{
}
.THIS.mobileView{
    display:none !important;
}

.THIS .slds-modal__container{
    max-width: 80% !important;
    width:80% !important;
    /* max-height:80% !important;
    height:80% !important;
    overflow :hidden !important;
    */
}
.THIS .slds-modal{
    padding-top:3rem;
    height:100%;
}
.THIS .slds-modal__container{


}
.THIS .hgtcls{
    height:100%;
}
/*
.THIS .slds-backdrop{
opacity:0.2 !important;
}
.THIS .slds-backdrop{
opacity:0.2 !important;
}
*/


.THIS .slds-col {
    padding: 1px !important;
}
.THIS .slds-p-bottom_small {
    padding: 3px !important;
}
.THIS .slds-p-bottom_medium {
    padding: 8px !important;
}
.THIS .headingColor{
    color: #10276D;
}
.THIS #textId span{
    color: #16325c !important;

}
.THIS #emailId span{
    color: #16325c !important;
}
.THIS .nopading {
    padding-left: 0px !important;
}
.THIS .fntStyle{
    font-style:oblique;
}
.THIS .slds-align_absolute-right{
    text-align:right;
}
.THIS .bgColor{
    background:linear-gradient(to right, #ed7016, #f5a851);
}
.THIS .bgColor button{
    color:white;
    border: 2px solid white;
    font-weight:bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .slds-size--2-of-3{
    box-shadow:inset 4rem 0px 53px -46px rgba(0, 0, 0, 0.4) !important;
    padding:4rem !important;
    padding-top:1rem !important;

}
.THIS .slds-size--1-of-3{
    padding:1rem !important;
}
.THIS .slds-form-element__label{
    color:#16325c !important;
}
/*
.THIS .slds-scrollable {
overflow: scroll !important;
}*/

@media (max-width: 567px){

    .THIS.mobileView{
        display:block !important;
    }
    .THIS.desktopview{
        display:none !important;
    }
    .THIS .slds-size--1-of-3{
        max-width:100% ;
        width:100%
    }
    .THIS .slds-size--1-of-3{
        max-width:100% ;
        width:100%
    }

    .THIS .slds-size--1-of-3{
        box-shadow:inset 0rem 0px 0px 0px rgba(0, 0, 0, 0) !important;
        padding:1rem !important;
        padding-top:1rem !important;

    }
}