.THIS .layoutNoWrap {
    white-space: nowrap;
}

.THIS .slds-gutters_xxx-small {
    margin-right: -.125rem;
    margin-left: -.125rem;
    /*     margin-top: .25rem !important; */
}

.THIS .slds-col {
    padding-right: .30rem;
    padding-left: .30rem;
}

.THIS .slds-tabs_default__content {
    padding: 0rem 0;
    background: rgb(176, 196, 223);
}

.THIS .eptooltip-modal {
    background-color: #f5f5f5;
    z-index: 9999;
    position: fixed;
    display: none;
    maximum-width: 15%;
    box-shadow: 1px 1px 1px #bbbbbb;
    border-style: ridge;
    border-width: 1px;
}


/* .THIS .slds-table thead th{ */


/*     padding: .25rem; */


/* } */