.THIS .pcpDisabled {
    pointer-events: none;
    cursor: default;
  }
  
  .THIS .hideSSN {
      display: none;
  }

  /* US2618180 */
  .THIS.memberdtl_autodoc{
      display: none !important;
  }