.THIS .detailHeader{
    font-size: 15px;
    font-weight: bold;
}

.THIS .detailSubHeader{
    font-size: 15px;
    font-weight: bold;
}

.THIS .detailContant{
    font-size: 12px;
    font-weight: normal;
}

.THIS .rightColumn{
    text-align: right;
}