.THIS .slds-modal__content{
    color:black !important;
}
.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}


.THIS .color{
    color:black !important;
}

.THIS .Btn{
    color:white !important;
    background-color:#1F2449 !important;
    padding-left:1rem;
    padding-right:1rem;
     width:300px;
    
}
.THIS .Btnnew{
  color:white !important;
  background-color:#1F2449 !important;
  /*padding-left:1rem;
  padding-right:1rem;*/
  width:103.5%;
 
  margin-left:-5px !important;
  
  
}
.THIS.slds-col1{
  padding:0px !important;
}
.THIS .Btn1{
  color:white !important;
  background-color:#1F2449 !important;
  padding-left:1rem;
  padding-right:1rem;
  
  
}
.THIS .cancel{
    color:#1881FA !important;
    background-color:white !important;
    border-color:#1881FA !important;
    padding-left:1rem;
    padding-right:1rem;
    width:300px;
}
.THIS .cancel1{
  color:#1881FA !important;
  background-color:white !important;
  border-color:#1881FA !important;
  padding-left:1rem;
  padding-right:1rem;
 
}
.THIS .fileuploder1 span {
  color: #0070d2 !important; 
}
.THIS .cancelnew{
  color:#1881FA !important;
  background-color:white !important;
  border-color:#1881FA !important;
  padding-left:1rem;
  padding-right:1rem;
  margin-top: -5px;
  width:103%;
  margin-left:-5px !important;
}
    
.THIS .tallTextarea1 {
  margin-top: -4px;
}
.THIS .tallTextarea1 textarea{
  min-height: 7rem;
  max-height: 7rem;
  margin-top: -15px;
} 
.THIS .y{
  margin-right:-15px !important;
}
.THIS .fileupload1 fileupload {
  margin-top:-25px !important;
  
}

.THIS .slds-modal__close svg{
    color:white;
    
     width: 1.5rem;
    height: 1.5rem;
}
.THIS .fileuploadButton .uiButton {
  padding-left: var(--lwc-spacingMedium,1rem) !important;
  padding-right: var(--lwc-spacingMedium,1rem) !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: var(--lwc-brandAccessible,rgb(0, 112, 210)) !important;
  border-color: var(--lwc-brandAccessible,rgb(0, 112, 210)) !important;
  background-color: #005fb2 !important;  
  border-color: #005fb2 !important; 
  color: var(--lwc-colorTextButtonBrand,rgb(255, 255, 255)) !important;
}
.THIS.slds-box1 slds-box svg{
    border: 15px solid !important;
    height:500px !important;
 
}
.THIS .slds-button_neutral {
  padding-left: var(--sds-c-button-neutral-spacing-inline-start, var(--lwc-spacingMedium,1rem));
  padding-right: var(--sds-c-button-neutral-spacing-inline-end, var(--lwc-spacingMedium,1rem));
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  background-color: var(--sds-c-button-neutral-color-background, var(--lwc-buttonColorBackgroundPrimary,rgb(255, 255, 255)));
  border-color: var(--sds-c-button-neutral-color-border, var(--lwc-colorBorderPrimary,rgb(221, 219, 218)));
}
/*Added for button color change in file upload wizared "Not WOrking"*/
.THIS .uploadWizard .slds-button .slds-button--neutral .ok .uiButton--default .uiButton--brand .uiButton{
  padding-left: var(--lwc-spacingMedium,1rem) !important;
  padding-right: var(--lwc-spacingMedium,1rem) !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: var(--lwc-brandAccessible,#2574A9) !important;
  border-color: var(--lwc-brandAccessible,#2574A9) !important;
  color: var(--lwc-colorTextButtonBrand,#FFFFFF) !important;
}
/*slds-icon slds-icon-text-success slds-icon_small{
fill: var(--sds-c-icon-color-foreground-success, var(--lwc-colorTextSuccess,rgb(2, 126, 70)));
}*/

.THIS .divCss .slds-icon {
  width: 1rem;
  height: 1rem;
}

.THIS .slds-file-selector__dropzone{
  border: none;/*DE401868*/

}

.THIS .slds-card {
  background-color: #fff;
  margin-right: 1rem;
}

@media (max-width: 450px) {
  .THIS .mobileView {
    display: none;
    
  }
  .THIS.subjectLabel
  {
    margin-bottom:-40px !important;
    color:#54698d !important;
    font-size:12px !important;
  }
  
  .THIS .fileuploder1 .slds-form-element__label {
    display: none;
  }
  .THIS .subjectField{
    margin-top: -18px;
    margin-right:3px;
  }
}
    
  @media (min-width: 450px) {
    .THIS .desktopView {
      display: none ;
      
    }
  }
  @media (min-width: 1024px) {
    .THIS.subjectLabel
    {
      margin-bottom: 14px !important;
      color:#54698d  !important;
      font-size:12px !important;
    }
    .THIS .subjectField{
      margin-top: -19px;
      margin-right:3px;
      
  }
}