.THIS .slds-box {
    padding: 1rem;
    border-radius: .25rem;
    border: 0px solid rgb(221, 219, 218) !important;
}
.THIS .titleBold{
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}