/* US1938551 - Thanish - 19th Dec 2019 */
/* status active icon styles */
.THIS .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}
/* status inactive icon styles */
.THIS .slds-icon-action-close{
    padding:0px;
}
/* CNSTable style to set height to show only 7 rows */
.THIS .CNSTable {
    width: 100%;
}
.THIS .CNSTable thead, .THIS .CNSTable tbody, .THIS .CNSTable tr, .THIS .CNSTable td, .THIS .CNSTable th { display: block; }
.THIS .CNSTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.THIS .CNSTable tbody {
    height: 196px;
    overflow-y: auto;
}
.THIS .CNSTable thead {
    /* minus scroll bar width */
    width: calc(100% - 17px);
}
.THIS .CNSTable tbody td, .THIS .CNSTable thead th {
    float: left;
}
/* end of CNSTable styles */
/* ENITable style to set height to show only 7 rows */
.THIS .ENITable {
    width: 100%;
}
.THIS .ENITable thead, .THIS .ENITable tbody, .THIS .ENITable tr, .THIS .ENITable td, .THIS .ENITable th { display: block; }
.THIS .ENITable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.THIS .ENITable tbody {
    height: 196px;
    overflow-y: auto;
}
.THIS .ENITable thead {
    /* minus scroll bar width */
    width: calc(100% - 17px);
}
.THIS .ENITable tbody td, .THIS .ENITable thead th {
    float: left;
}
/* end of ENITable styles */
/* MNRTable style to set height to show only 7 rows */
.THIS .MNRTable {
    width: 100%;
}
.THIS .MNRTable thead, .THIS .MNRTable tbody, .THIS .MNRTable tr, .THIS .MNRTable td, .THIS .MNRTable th { display: block; }
.THIS .MNRTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.THIS .MNRTable tbody {
    height: 196px;
    overflow-y: auto;
}
.THIS .MNRTable thead {
    /* minus scroll bar width */
    width: calc(100% - 17px);
}
.THIS .MNRTable tbody td, .THIS .MNRTable thead th {
    float: left;
}
/* end of MNRTable styles */
/* PHSTable style to set height to show only 7 rows */
.THIS .PHSTable {
    width: 100%;
}
.THIS .PHSTable thead, .THIS .PHSTable tbody, .THIS .PHSTable tr, .THIS .PHSTable td, .THIS .PHSTable th { display: block; }
.THIS .PHSTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.THIS .PHSTable tbody {
    height: 196px;
    overflow-y: auto;
}
.THIS .PHSTable thead {
    /* minus scroll bar width */
    width: calc(100% - 17px);
}
.THIS .PHSTable tbody td, .THIS .PHSTable thead th {
    float: left;
    width: 9.09%;
}
/* end of PHSTable styles */
/* adds dashed underline */
.THIS .dashedLine{
    border-bottom: 1px dashed;
}
/* disables a link */
.THIS .disableLink{
    pointer-events: none;
    cursor: default;
    color: gray;
}
/* US2262761 - Thanish - 9th Apr 2020 */
.THIS .autodoc input {
    margin-left: -10px !important;
}
.THIS .hide {
    display: none;
}
.THIS .hideImportant {
    display: none !important;
}
.THIS .showImportant {
    display: block !important;
}
.THIS .hideContractDetails {
    display: none;
}
.THIS .cnsResolve {
    width: 7%;
    text-align: center;
}
.THIS .eniResolve {
    width: 6%;
    text-align: center;
}
.THIS .mnrResolve {
    width: 6%;
    text-align: center;
}
.THIS .phsResolve {
    width: 6%;
    text-align: center;
}
.THIS table tr {
    height: 28px !important;
}