.THIS .field-title{
    font-weight: bold;
    font-size: 12px;
    
}

.THIS .lable{
    font-size: 12px;
}

.THIS .slds-truncate{
    font-size: 12px;
}
.THIS .component_title {
    font-weight: bold;
    font-size: 16px;
    color: #080707;
}
.THIS .slds-text-heading_small {
    font-size: var(--lwc-fontSize5,1rem);
    line-height: var(--lwc-lineHeightHeading,1.25);
}