.THIS .btnStyles {
    color: white;
    border-radius: .6rem;
    text-decoration: none;
    font-size: 14px;
    background: #ffb111;
    height: 2rem;/*2.5rem;*/
    width: 6rem;/*8rem;*/
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    float: none!important;
    padding-bottom: 2px;
}

.THIS .slds-modal__header { 
    --sds-c-modal-header-color-background: #f3f2f2;
   /* --sds-c-modal-radius-border: 1rem;
    --sds-c-modal-sizing-border: 3px;*/
}

    
.THIS .customButton {
    padding-left: 15px;
    padding-right: 15px; 
    margin: 4px;
}

.THIS .slds-button_brand {
    background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210))) !important;
    border-color: var(--sds-c-button-brand-color-border, var(--lwc-brandAccessible,rgb(0, 112, 210))) !important;
    color: var(--sds-c-button-brand-color-text, var(--lwc-colorTextBrandPrimary,rgb(255, 255, 255))) !important;
    
}
                            
.THIS.slds-box {
    border: 4px solid blue;
}
                                
.THIS .line{		
        display: block;
    margin: 1rem 0;
    border-top: 1px solid #d8dde6;
    height: 1px;
    clear: both;
    padding-top: .5px;
    padding-bottom: .5px;
}
                                
 .THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}