.THIS .txtValue{
    font-size:14px;
    padding-top:0.25rem;
    
}
.THIS .txtHead{
    font-size:12px;
}
.THIS .panel-top-padding{
    margin-left:1rem !important;
    margin-right:.5rem !important;
    margin-bottom:.5rem !important;
    
}
.THIS .bordericon{
   
   border-right: 3px solid #c8c8c8;
    padding-bottom:0.75rem;
   padding-top: .75rem;
    
}
.THIS .namespan{
     padding-left: 0.5rem;
    font-size:20px;
}
.THIS .highlight-pannel {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.THIS .margin-sides-full-size{
    margin-left:8px;
    margin-right:8px;
    margin-top:10px;
}
.THIS .slds-card__header
{
    padding: 1.2rem 1rem 1rem;
    margin: 0 0 .75rem;
    background-color: rgb(243, 242, 242);
}
.THIS .body_label_padding{
    padding-left: 2rem;
}
.THIS .val_lbl_pos{
    margin-top:-20px;
}