.THIS {
}



.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}
.THIS .customAlign {
	margin-left: -18%;
    margin-top: -75px;
    position: absolute;
}

/*This is used for PCP Referrals*/
.THIS .searchPcpBox{
    width: 350px;
    float: right;
}

/* US2816912 - Chaniging right value to 430 from 327 to add 4th button */
.THIS .searchBox{
    margin-bottom: 0;
    margin-right: 6px!important;
    position: absolute;
    top: -62px;
    right: 430px;
    width: 200px;
}

.THIS .cACET_AutodocDataTable{
    padding-top: 0;
}
/* text align when toggle checked*/
.THIS .tgl-text-right {
    text-align: right;
    padding-right: 10px;
}
/* text align when toggle unchecked*/
.THIS .tgl-text-left {
    text-align: left;
    padding-left: 10px;
}
.THIS .toggle-faux_faux {
    font-size: 10px;
    color: white;
}
.THIS .dataTables_filter{
	margin-right: 22%;
    margin-top: -47px;
}
.THIS .dataTables_wrapper {
    margin-top:-2%;
}