.THIS .addColor{
    color:rgb(194, 57, 52) !important;
    margin-top: -0.6rem !important;
}

.THIS .widthRight{
    text-align: right;
    width: 100%;
}

.THIS .btnCloseColor {    
    color:white !important;
}
/** US2045625 - Thanish - 27th Sept 2019 **/
.THIS .slds-popover_tooltip{    
    left: 40%;
}