.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}


.THIS .expandable{
    transition: all .5s ease-in-out;
}

.THIS .panelBtn {
	background: white;
	border-radius: 0 !important;
    /*border: none;*/
}