.THIS .slds-cell-fixed{
    width: 122px !important;
}
.THIS .slds-table {
    text-overflow: inherit !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important; 
}
.THIS .slds-icon {
    width: .7rem;
    height: .7rem;
}
.THIS .customautoclick{
    
}
.THIS .activecol{
    background-color: yellow ;
}
.THIS .slds-icon-action-approval {
    background-color: #32b917;
}
.THIS .slds-icon-action-lead-convert {
    background-color: #0540ad;
    
}
.THIS .slds-icon-action-close {
    background-color: #fd5447;
}

.THIS .coverage-tbl tr td{
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}
.THIS .slds-card__body {
    margin-top: -.5rem !important;
    margin-bottom: .75rem;
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}
.THIS .dual-indicator{
    font-weight: bold;
}