.THIS .blueColor{
    color:rgba(0, 112, 210, 1);
}
.THIS .slds-card__footer{
    border:none;
}
.THIS .ellipse-titel {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
    max-width: 25ch;
}
.THIS .slds-mrgintop{
    margin-top:0px !important;
}
.THIS .centerText{
	text-align: center;
}
.THIS .slds-card__header {
  background-color: rgb(243, 242, 242);
    padding-bottom: 14px;
}
.THIS .slds-text-title_bold{
   font-size:14px !important;
    color:black;
}
 .THIS .header{
   /* border-radius: 0px; 
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;  
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);*/
 }
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    font-size: .8125rem;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: .8125rem;   
}