.THIS .columnWidth{
    min-width: 14.28%;
    width: 14.28%;
    max-width: 14.28%;
}
.THIS .truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.THIS .slds-truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .disableLink{
    pointer-events: none;
    cursor: default;
    color: gray;
}