.THIS .stickySection {
    margin: -20px 1px 0 -24px !important;
}

.THIS .my-body {
    margin-top: -3px;
    margin-left: 84%;
}

.THIS .btn {
    font-family:Arial;
    font-size: 12px;
    color:#006DCC;
    width: 107px;
}

.THIS.coreFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
}

.THIS .noBorder {
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
    border-top: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
}