.THIS.blue_text {
    color:blue;
}

.THIS .closeBtn {
    float: right;
    margin-top: -3%;
    margin-right: 1%;
}

.THIS .closeBtn svg{
    color: black !important;
}

/* US2271237 */
.THIS .autodochandle{
    display: block !important;
}
/* US2428601 */
.THIS .hide{
	display: none;
}