.wrap{
	width:100%;
	max-width:1024px;
	margin:0 5px;
}			
.sec-body{
	width:1000px;
	padding:18px 12px;
	height:auto;
	float:left
	}
.logo-cap{
	background:url('../images/logo.jpg' ) no-repeat;
	background-position:top left;
	float:left;
	padding:12px 0px 0px 35px;
	font-family: 'helvetica_neueregular';
	font-size: 18px; 
	font-weight:bold;
	color:#404041;	
}
/* THIS IS THE SLIDE OUT SECTION CSS */
#devSlide1 {
	position: fixed;
	width: 270px;
	top: 160px;
	right: -230px;
	z-index: 7;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-transition: all 0.5s ease-out;
	display: none;
}

#devSlide1 .handle {
	background-color: rgb(34, 107, 134);
	left: 20px;
	top: 0px;
	border-width: 5px;
	border-style: solid none solid solid;
	border-color: rgb(255, 255, 255);
	padding: 10px 2px 10px 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: -2px 0px 2px rgb(160, 166, 171);
	z-index: 10;
	color: white;
	text-align: left;
	position: absolute;
	width: 19px;
}

#devSlide1 .header {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
	font-size: 2.0em;
}

#devSlide1 .slideContainer {
	position: absolute;
	right: -2px;
	top: 0;
	width: 210px;
	background-color: #226B86;
	border: 5px solid #FFF;
	padding: 6px;
	padding-top: 3px;
	margin: 0;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-radius-left: 5px;
	-moz-box-shadow: 0 0 2px #A0A6AB;
	-webkit-box-shadow: 0 0 2px #A0A6AB;
	box-shadow: 0 0 2px #A0A6AB;
	z-index: 9
}

#devSlide1 .slideBody {
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #FFF
}

#devSlide1 .slideList {
	background-color: white;
	margin: 0;
	padding: 0
}

#devSlide1 hr {
	margin-left: 3px;
	margin-right: 3px;
	clear: both;
	color: #ccc
}

#devSlide1 .slideList li {
	list-style-type: none;
	margin: 1px;
	-moz-border-radius: 9x;
	border-radius: 9px;
	clear: both
}

#devSlide1 .slideList li a {
	line-height: 1.3em;
	padding: 5px
}

#devSlide1 .helpIcon {
	background: transparent url(/img/alohaSkin/help_grey.png) no-repeat
}

#devSlide1 .slideList li.hover {
	background-color: #cfeef8
}

#devSlide1 .slideList li.hover .toolLink {
	text-decoration: underline
}

#devSlide1 .slideList li.hover .toolNewLink {
	text-decoration: none
}

#devSlide1 .toolLink {
	color: #096186;
	text-decoration: none;
	float: left
}

#devSlide1 .toolNewLink {
	color: #096186;
	margin-left: 3px;
	padding-left: 2px;
	display: none;
	float: right
}

#devSlide1 .toolNewLink img {
	margin-right: 2px;
	vertical-align: text-bottom
}

#devSlide1 .hover .toolNewLink {
	display: block
}

#devSlide1 .footer {
	text-align: right;
	padding: 3px 1px
}

#devSlide1.footer a {
	color: white;
	font-weight: bold;
	text-decoration: none
}

#devSlide1 .footer a:hover {
	text-decoration: underline
}

#devSlide1 .helpLink {
	float: right;
	margin-top: 5px
}

.menuArrow1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -23px
}

.menuArrowOn1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -23px
}

.expanded .menuArrow1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -40px
}

.expanded .menuArrowOn1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -60px
}

.rtl .menuArrow1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -40px
}

.rtl .menuArrowOn1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -60px
}

.expanded .rtl .menuArrow1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 0
}

.expanded .rtl .menuArrowOn1 {
	background-image: url(/img/dcm/menuArrow_sprite.gif);
	background-position: 0 0;
	width: 16px;
	height: 20px;
	background-position: 0 -20px
}
