.THIS .block1{
    display: inline-block;
}

.THIS .block2{
    display: inline-block;
}

.THIS .block3{
    display: inline-block;
}

.THIS .popover {
    padding-left: 2rem;
    padding-top: 28rem; 
    position: absolute; 
}

.THIS .popover-content {
    position: absolute; 
    bottom: 105%;
    width: 850px;
    word-wrap: break-word; 
    white-space:normal; 
}
.THIS .completionDate {
    padding-right: 0.55rem;
}
.THIS .sub-headline-chevron{
    font-family: Calibri(Body);
	font-size:14px;
    font-weight: 800;
    color: black;
}
.THIS .chevron{
    margin : -15px 5px 5px;
}