.THIS .c-container{
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    background:white;
}
.THIS .custom-box {
    text-align: center;
    background-color: white;
    padding: 1rem;
    border: 1px solid #d8dde6;
}
.THIS .slds-form-element__label{
    float:left;
}
.THIS .slds-input{
    height: 42px;
}
.THIS .uiInputCls{
    height:42px;
    border-radius: .25rem;
    width:100%;
}
.THIS .slds-form-element__help{
    float:left;
}