.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 40px !important;
   left: 70px !important;
}

.THIS .popover {
    position: relative; 
    display: inline-block;
}

.THIS .chart { position: relative; }

.THIS .chart-text { position: absolute; border-radius: 100%; }

.THIS .wordWraped{
    white-space:normal;
    word-wrap: break-word;
}

.THIS .popover-wrapper {
    position: relative; 
}

.THIS .popover-flaghover {
    position: absolute; 
    bottom: 120%;
    left: 45%;
    width: auto;
    z-index: 10;
    text-align: left;
}

.THIS .slds-modal__container{ 
    max-width: 70rem !important;
    width:60% !important;
}

.THIS .errMsg{
    font-weight: bold;    
}

.THIS .errMsgWidthFull{
	width: 100%;    
}