.THIS .blackOnRed{
     background-color:#AF0000;

}
.THIS .blackOnRed svg {
    fill:rgb(255,255,255);
}
.THIS .textColumnWrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 35%;
}