.THIS .wrapword{
    white-space: -moz-pre-wrap !important; /*Mozilla, since 1999*/
    white-space: -webkit-pre-wrap; /*Chrome and Safari */ 
    white-space: -pre-wrap; /*Opera 4-6*/
    white-space: -o-pre-wrap; /*Opera 7*/
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /*Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
 }

.THIS .overdue{
  background-color: red;
    
  color:white;  
  font-weight: bold;  
  text-align: center !important;  
  text-transform: uppercase;   
}

.THIS .tableWidth{
    table-layout: auto;
  width: 100%;  
}

.THIS .tableHeader{
    background-color: #fafafa !important;
}

.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
}

.THIS .popover {
    padding-left: 2rem;
    padding-top: 28rem; 
    position: absolute; 
}

.THIS .popover-wrapper {
    position: relative; 
}

.THIS .popover-content {
    position: absolute; 
    bottom: 150%;
    left: -15%;
    width: 195px;
    word-wrap: break-word; 
    white-space:normal; 
}