.THIS .slds-card{
    font-weight: bold;
}
.THIS .slds-card__header {
  background-color: rgb(243, 242, 242);
  padding-bottom: 14px;  
}
.THIS .slds-text-title_bold{
   font-size:14px !important;
   color:black;
}