.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .centerText{
	text-align: center;
}
.THIS .slds-card__header {
  background-color: rgb(243, 242, 242);
  padding-bottom: 14px;
  margin-bottom: -0.75rem;
}
.THIS .top-border {
     border-top: var(--lwc-borderWidthThin) solid var(--lwc-cardColorBorder);           
}
.THIS .slds-text-title_bold{
   font-size:14px !important;
    color:black;
}