.THIS .row {
    display : flex;
    align-items : center;
    margin-bottom: 15px;
    float:left;
}
.THIS .box {
    height: 4rem;
    width: 7rem;
    /*margin-right : 1rem;*/
    box-shadow: 10px 10px 5px grey;
    margin-top:3rem; 
    text-align:center;
	min-width:100%;
}
.THIS .showText{
    display:block;
}
.THIS .hideText{
    display:none;
}
.THIS .red {
    background-color: lightgrey;
    box-shadow: 3px 3px 4px grey;
    border-radius: 6px;
    margin-left: 1rem;
   float: left;
}

.THIS .green {
    background-color: green;
    color:white;
}

.THIS .blue {
    background-color: blue;
}
.THIS.fsg-container{
    background: white !important;
    width: 100% !important;
    display:block;
    overflow:auto;
}
.THIS.fsg-topic{
   float:left;
    cursor:pointer;
}
.THIS.fsg-question-style{
    float: left !important;
    width: 40rem !important;
    margin-left: 15% !important;
    overflow-wrap: break-word !important;
    margin-top: 5rem !important;
}
.THIS.fsg-border-line{
    border: 2px solid !important;
}
.THIS .data-row:hover {
 background-color:#54698d;
 color:white;
 cursor:pointer;
}
.THIS .data-row.selectedRow{
  background-color:#54698d;
  color:white;
 }