.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .slds-accordion__summary-heading {
    max-width: 7rem !important;
}
.THIS.changeMe {
    background-color:yellow;
    width:200px;
}