.THIS {
}
.THIS .slds-form-element__control{
    color: #080707 !important;
    font-size: 14px;
}
/* US2039716 - Thanish - 19th Sept 2019 - removed unwanted styles */
.THIS .slds-input{
    height: 42px !important;
}
.THIS .clearBtn{
    float:right;
}
/* US2039716 - Thanish - 19th Sept 2019 - removed unwanted styles */
.THIS .prsearchBtn{
    width:107px;
}
/* US2039716 - Thanish - 19th Sept 2019 */
.THIS .providerNotFoundPadding{
    padding-top: 8px;
}

.THIS .chkClass span.slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .slds-th__action{
    background:white;
}
.THIS .providerType .slds-form-element__control {
   display: inline-flex;
}

.THIS .customBorders{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-top: -5%;
    background:white !important;
}
.THIS .disableBtn{
    background: grey;
    color: white;
    border: grey;
}
.THIS .slds-button__icon{
    color:grey;
}
.THIS .downArrowCls svg {
    width: 1rem;
    height: 1rem;
    margin-top:10px;
}
.THIS .slds-icon-utility-chevrondown{
    margin-top:4px;
}


@media only screen and (device-width: 768px) {
  .THIS .memArrowIcon {
  	margin-left:75%;
  }
  .THIS .provArrowIcon{
       margin-left:75%;
   }
}

@media only screen and (device-width: 1024px) {
  .THIS .memArrowIcon {
  	margin-left:84%;
  }
  .THIS .provArrowIcon{
       margin-left:84%;
   }
}


.THIS .form-element__help{
    margin-top:-3% !important;
}

.THIS .hide-error-message  .slds-form-element__help {
    display: none !important;
}
/*US1671978 - Sanka*/
.THIS .SearchError{
    color: rgb(194, 57, 52)!important;
    font-size:12px;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
  }