.THIS .layoutAlign{
    margin-left:-0.8%;
}
.THIS .customWidth .slds-form-element{
    width:65% !important;
}
.THIS .radioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .radioCls .slds-form-element__label{
  padding-right: 44px !important;
}
.THIS .btnAlign{
    float:right;
}
.THIS .topAlign{
    margin-top:-11% !important;
    width:85% !important;
}
.THIS .conAlign{
    margin-top:-8% !important;
    width:85% !important;
}
.THIS .cityClass .slds-required{
    padding-right:3px;
}
.THIS .disfield{
    background: rgb(62, 62, 60) !important;
    pointer-events: none !important;
}
.THIS .blackOnRed{
     background-color:#ffa500;
     padding: 4px;
}
.THIS .blackOnRed svg {
    fill:rgb(255,255,255);
}
.THIS .tatCls .slds-form-element__control .slds-radio{
    display : inline-block !important;				  
}
.THIS .tatCls .slds-form-element__label{
  	padding-right: 44px !important;
}
.THIS .tatCls .slds-form-element__label{
    font-size: var(--lwc-formLabelFontSize,0.75rem) !important;
}