.THIS .tableWidth{
    table-layout: auto;
    width: 100%;  
}

.THIS .tableHeader{
    background-color: #fafafa !important;
}

.THIS .errMsg{
    font-weight: bold;    
}

.THIS .errMsgWidthFull{
	width: 100%;    
}

.THIS .wordwrap{
    word-wrap: break-word !important; 
    white-space:normal !important; 
}