/*.THIS .triangle-down{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    z-index: 10;top: -50%;
}
.THIS .tooltip {
    position: relative;
    display: inline-block;
}

.THIS .tooltip:hover {
    cursor: pointer;
}

.THIS .tooltip .tooltiptext {
    display:none;
    visibility: hidden;
    background-color:  #fff;
    color: black;
    text-align: center;
    border-radius: 5px;
    border-color: #eff0f1;
    border-style: 1px solid;
    padding: 7px;
    position: absolute;
    z-index: 10;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    box-shadow: 3px 8px 20px rgba(0,0,0,0.5);
    border-top: 1px solid #c9c7c5;
    border-left: 1px solid #c9c7c5;
    border-right: 1px solid #c9c7c5;
}
.THIS .tooltip:hover .tooltiptext {
    display:block;
    visibility: visible;
}*/