.THIS .slds-icon {
    width: .7rem;
    height: .7rem;
}
.THIS .slds-icon-action-approval {
    background-color: #32b917;
}
.THIS .slds-icon-action-close {
    background-color: #fd5447;
}
.THIS .Card_cls{
    font-size: 18px !important;
    font-weight: bold;
}