.THIS .dashedLine{
    border-bottom: 1px dashed;
}
.THIS .customHeader{
        font-weight: normal;
    background: white;
    color: black;
}
.THIS .slds-button_icon-bare{
   /* display:none;*/
}
.THIS .slds-has-button-menu{
    /*background:white;*/
    /*text-transform: capitalize;*/
}
.THIS .slds-th__action{
	/*background: white;*/
    font-weight:bold;
    letter-spacing: .0625rem;
}

.THIS .slds-grid_align-spread a{
    font-weight: 700;
    text-decoration-line: underline;
}


.THIS .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}

.THIS .slds-icon-action-close{
    padding:0px;
}

.THIS .slds-icon-text-error{
	fill: orange !important;
 }

.THIS .slds-icon-action-new-campaign{
    padding:0px;
    background:#C0392B ;
}
/*.THIS .slds-hint-parent{
    border:none;
}*/
/*.THIS .slds-text-title_caps{
    border:none !important;
}*/

/*.THIS .slds-has-focus .slds-th__action {
    box-shadow: rgba(0, 68, 135, 1) 0 0 0 0px inset !important;
}

.THIS .slds-has-focus {
    box-shadow: rgba(0, 68, 135, 1) 0 0 0 0px inset !important;
}*/
.THIS .slds-truncate{
	/*color: rgb(8, 7, 7);
    letter-spacing: 0;
    font-size: .8125rem;*/
}
.THIS .slds-button_icon-bare{
    display:none;
}

.THIS .highlight{
    background : #F6FF33;
}

.THIS .slds-icon-standard-empty{
    background-color:orange;
}

.THIS.slds-spinner_container {
    position: fixed !important;
}

/* US2200492: Pilot - Member Snapshot Page Enhancement - Kavinda: START */
.THIS .truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.THIS .slds-truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* US2200492: Pilot - Member Snapshot Page Enhancement - Kavinda: END */

.THIS .previewAuto{
    margin-right:20px;
}

/* US2718107 - Thanish - 30th June 2020 */
.THIS .noUnderline{
    text-decoration: none;
}
.THIS .noTopBorder{
    border-top: none;
}
.THIS .noBottomBorder{
    border-bottom: none;
}
.THIS .centerTexts{
    text-align: center;
}
.THIS .warningFont{
    color: white;
    font-size: 16px;
}
.THIS .autodocWarningIcon svg{
    fill: white;
}
.THIS .autodocWarningIcon{
    margin-right: 10px;
}