.THIS .BorderStyle{
    border-radius: 5px;
    border: 2px solid gainsboro;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 1px 1px 3px gainsboro;

}
.THIS .leftMargin{
    margin-left: 2%;
    margin-top: 1%;
}
.THIS .headersAlign{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}
/* US2356238 */
.THIS .disableLink{
    pointer-events: none !important;
    color: rgb(2, 2, 2);
}
.THIS .fixDiv {
    white-space: pre-line;
}