.THIS .cls-hds {   
    font-style:sans-serif;
    font-size:12px;
}
.THIS .cls-val {   
    font-style:sans-serif;
    font-size:12px;
    font-weight:bold;   
}
.THIS .cls-cart {   
    font-style:sans-serif;
    font-size:16px;
    font-weight:bold;
}