.THIS .fullWidth{
    width: 100% !important;
}
.THIS .eachItem:hover {
    background-color: #EEE;
    cursor: pointer;
}
.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}
.THIS .dropdownMargin {
	margin-top:-1px;
}
.THIS .verticalAlign {
	cursor: pointer;
    margin: 6px 0px 0px 6px!important;
}
.THIS .inputIcon {
	z-index: 99;
    padding: 2px 0;
}
.THIS .color svg{
    color:purple !important;
}
.THIS .color {
    color:purple !important;
}