.THIS.slds-box {
    background-color:#F3F2F2;  
}
@media only screen and (min-width: 360px) and (max-width: 767px) { 
	.THIS .commonmsg{
        display:none;
    }
}
.THIS.toggle {
    display: none;
}