.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS.slds-table {
    table-layout: block;
}

.THIS .slds-th__action{
    display: block;
}
.THIS.white {
    background-color: white;
}
.THIS .cls-cart {
    font-style: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.THIS .box{
   border: 2px solid orange ;
}
.THIS .cls-cart-title {
    font-size:12px;
}