.THIS {
    
}
/* style to remove the check mark character */
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}

.THIS .toggle-faux_faux {
    font-size: 10px;
    color: white;
}

/* text align when toggle checked*/
.THIS .tgl-text-right {
    text-align: right !important;
    padding-right: 10px !important;
}
/* text align when toggle unchecked*/
.THIS .tgl-text-left {
    text-align: left;
    padding-left: 10px !important;
}