.THIS .slds-accordion__summary-action, 
.THIS .slds-accordion__summary-action.slds-button__icon{
    text-decoration: none !important;
    color: black !important;
    font-weight: bold; 
    font-size: 16px;
    color: #080707;
}


.THIS .slds-accordion__summary-action:hover, 
.THIS .slds-accordion__summary-action .slds-button__icon:hover {
    text-decoration: none !important;
    color: black !important; 
}


.THIS .slds-accordion__summary-action:active, 
.THIS .slds-accordion__summary-action .slds-button__icon:active {
    text-decoration: none !important;
    color: black !important; 
}

.THIS .slds-accordion__summary-action:focus, 
.THIS .slds-accordion__summary-action .slds-button__icon:focus {
    text-decoration: none !important;
    color: black !important; 
}

.THIS .customRadioCls {
    /* display : inline-grid !important; */
}

.THIS .customRadioCls .slds-radio{
    /* display : inline-block !important; */
}