.THIS {
    background: transparent;
    color :#fff;
}
.THIS .Family_Dropdown{
    color :black !important;
}
.THIS.FamilyLink_FamilyText{
    color: #c3ecff !important;
    text-decoration: none;
    font-size: 12px !important;
}
.THIS.FamilyLink_Owner_Name_Text{
    color: white !important;
    font-weight: bold !important;
    font-size: initial !important;
}
.THIS.FamilyLink_CareTeamText{
    max-height : 15vh;
    min-height: 0;
    color: #fff !important;
}
.THIS .slds-form-element__label {
    color: white !important;
    font-size :large !important;
}
/* new mobile design css */




/* new mobile design css */

@media (max-width: 570px){
    .THIS.FamilyLink_CareTeamText{
        display :none;
        
    } 
    .THIS.FamilyLink_Owner_Name_Text{
        display :none;
    }
    .THIS .Family_Dropdown{
        color :black !important;
        width: 80%;
        padding-left: 5%;
    }
    .THIS.FamilyLink_FamilyText{
        color: #c3ecff !important;
        text-decoration: none;
        font-size: 12px !important;
        border-bottom: 1px solid #B5E8FF !important;
        padding-top : 4% !important;
        padding-bottom : 7% !important;
    }
}