.THIS .inputFieldWidth {
    width:85%;
}
.THIS input[type=checkbox]:checked.green-checkbox{
    border-color: rgb(0, 178, 0); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0);
}