.THIS .field-title{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .field-value{
    color: #080707 !important;
    font-size: 14px;
}
.THIS .hyperLink{
    color:#005FB2;
    font-size: 14px;
}
/* US3504373 */
.THIS .disableLink{
    pointer-events: none !important;
    color: rgb(2, 2, 2);
}