.THIS .clearBtn{
    float: right;
}
.THIS .slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .slds-form-element__control{
    color: #080707 !important;
    font-size: 14px;
}

/** US2045625 - Thanish - 27th Sept 2019 - removed unwanted stylings **/
.THIS .slds-input{
	height: 42px !important;
}
.THIS .boxHeadings{
    color: #080707;
    font-weight: bold;
    font-size:16px;
    padding-top: 16px;
    /*border-bottom: 1.2px solid lightgray;*/
    padding-bottom: 17px;
}
.THIS .pageTitle{
    color:#080707;
    font-weight:bold;
    font-size:18px;
}
.THIS .insideDivWidth{
   width:53%;
}
/** US2045625 - Thanish - 27th Sept 2019 **/
.THIS .dobErrorAllign .slds-form-element__help{
    margin-top: 0%;
    color:#C23934;
    font-size:12px;
}
/** US2045625 - Thanish - 27th Sept 2019 **/
.THIS .memberNotFoundPadding{
    padding-top: 8px;
}
.THIS .downArrowCls svg {
    width: 1rem;
    height: 1rem;
    margin-top:10px;
}
.THIS .errorMsg{
     color:#C23934;
    font-size:12px;
}
.THIS .slds-icon-utility-chevrondown{
    margin-top:4px;
}
.THIS  .slds-has-error .slds-input  {
   border-color: rgb(194, 57, 52) !important;
}

/* Regression Issue #7 - Thanish - 11th Oct 2019 */
.THIS .memberIDField .slds-input__icon-group_right{
    display: none;
}

@media only screen and (device-width: 768px) {
  .THIS .memArrowIcon {
  	margin-left:75%;
  }
}

@media only screen and (device-width: 1024px) {
  .THIS .memArrowIcon {
  	margin-left:84%;
  }
}

.THIS.slds-spinner_container {  
    z-index: 10001;
    position: fixed;   
  }