.THIS {
}
.THIS.backgroundColorcls {
    background-color: rgb(176, 196, 223) !important;
    
}
.THIS .history_table th {
    background-color: #fafaf9!important;
    white-space: nowrap!important;
    text-align: left;
    padding: 9px 18px!important;
}
.THIS .Removehighlight{
        background-color:white !important;
    }    
.THIS .highlight{
background-color:yellow;                
    }
.THIS .eptooltip-modal {
    background-color: #f5f5f5;
    z-index: 9999;
    position: fixed;
    display: none;
    maximum-width: 15%;
    box-shadow: 1px 1px 1px #bbbbbb;
    border-style: ridge;
    border-width: 1px;
}