.THIS.c-container {
    border-color: #ffffff;
    margin: 10px 0 20px 0;
    background-color: #b0c4df
}
.THIS .page-section {
    padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
    height: 90px;
    border-color: #ffffff;
}
.THIS .page-main {
    background: #f8f8f8;
}
.THIS .sub-headline{
    font-family: Calibri(Body);
	font-size:14px;
    font-weight: 800;
    margin : -20px 20px 5px;  
    color: black;
}
.THIS .sub-headline-chevron{
    font-family: Calibri(Body);
	font-size:14px;
    font-weight: 800;  
    color: black;
}
.THIS .chevron{
    margin : -15px 5px 5px; 
}

.THIS .sub-headline-class{
    font-family: Calibri(Body);
	font-size:14px;
    font-weight: 800;
    margin : -15px 5px 5px;
    color: black;
}
.THIS .page-top{
	background-color: rgb(227,229,237);
    border-color: rgb(227,229,237);
    border-width: 0.5px;
}
.THIS .page-leftbottom{
    border-color: #ffffff;
    background-color: white;
    border-width: 1.5px;
    height: 100px;
}
.THIS .page-leftmiddle{
    background-color: rgb(227,229,237);
    border-width: 1.5px;
    border-color:  rgb(227,229,237);
}
.THIS .page-right {
    background-color: white;
    border-width: 1.5px;
    border-color: #ffffff;
}
.THIS .headline{
	font-family: Calibri(Body);
	color: white;
	font-size:16px;
    font-weight: 1000;
    margin : 0px 20px 20px; 
    vertical-align: middle;
}
.THIS .page-header{
    background-color: rgb(0,95,178);  
}
.THIS .header-color{
    background-color: #FFFFFF !important;
}


.THIS .popoverFlag {
    padding-left: 2rem;
    padding-top: 28rem; 
    position: absolute; 
}

.THIS .popoverFlag-wrapper {
    position: relative; 
}

.THIS .popoverFlag-content {
    position: absolute; 
    height: 50px;
    width: 195px;
    word-wrap: break-word; 
    white-space:normal; 
}

.THIS .cardHeading{
	margin-bottom: 5px;
}

.THIS span[class="uiImage"]{
    display:none;
}

.THIS .messageBold{
  font-weight: bold;  
}