/* US1996765 - Thanish - Generalize styles across all components */

/*** add styles in here to apply for the whole document ***/
body {
    font-family: Salesforce Sans, Arial, sans-serif;
} 

/*** the global font type; since the same font type is added under body, 
     add this class only to the components which shows inconsistency within fonts ***/
.global_font {
    font-family: Salesforce Sans, Arial, sans-serif;
}

/*** lightning card padding ***/
.card_padding {
    padding: 20px;
}

/*** standard card top padding ***/
.card_top_padding{
    padding-top: 20px;
}

/*** standard card right padding ***/
.card_right_padding{
    padding-right: 20px;
}

/*** standard card bottom padding ***/
.card_bottom_padding{
    padding-bottom: 20px;
}

/*** standard card left padding ***/
.card_left_padding{
    padding-left: 20px;
}

/*** standard card margin ***/
.card_margin{
    margin: 20px;
}

/*** standard card top margin ***/
.card_top_margin{
    margin-top: 20px;
}

/*** standard card right margin ***/
.card_right_margin{
    margin-right: 20px;
}

/*** standard card bottom margin ***/
.card_bottom_margin{
    margin-bottom: 20px;
}

/*** standard card left margin ***/
.card_left_margin{
    margin-left: 20px;
}

/*** page header title text style ***/
.page_header_label{
    font-size: 18px;
    font-weight: bold;
    color: #080707;
}

/*** link under page header title ***/
.page_header_link{
    font-size: 12px;
    color: #006dcc;
    vertical-align: top;
}

/*** component card title ***/
.component_title{
    font-weight: bold;
    font-size: 16px;
    color: #080707;
}

/*** field label ***/
.field_label{
    font-size: 12px;
    color: #3e3e3c;
}

/*** padding applied for field label ***/
.field_label_padding{
    padding-bottom: 8px;
}

/*** field value ***/
.field_value{
    font-size: 14px;
    color: #080707;
}

/*** field value which functions as a hyperlink ***/
.link_field_value{
    font-size: 14px;
    color: #006dcc;
}

/*** hyperlink; apply to any text which acts as a link ***/
.hyperlink{
    color: #006dcc !important;
}

/*** hyperlink color when mouse hover ***/
.hyperlink:hover{
    color: #005fb2 !important;
}

/*** hyperlink color when disabled ***/
.hyperlink:disabled{
    color: #16325c !important;
}

/*** description; apply to text inside a component which are used as descriptions ***/
.description{
    font-size: 12px;
    color: #080707;
}

/*** table column header ***/
.table_column_header{
    font-size: 12px;
    color: #514f4d;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    width: auto;
}

/*** table cell value ***/
.table_cell_value{
    font-size: 13px;
    color: #080707;
    text-align: left;
}

/*** buttons ***/
.button{
    font-size: 13px;
}

/*** misdirect button styles ***/
/**US2058123**/
.misdirect_button{
    font-size: 13px;
    /*background-color: #005fb2;
    border-color: #005fb2;*/
    color: #006DCC !important;
    height: 35px !important;
    width: 90px !important;
}

/*** apply this style to brand variant lightning buttons ***/
.brand_button{
    font-size: 13px;
    background-color: #005fb2;
    border-color: #005fb2;
    color: #ffffff;
}

/*** apply this style to neutral variant lightning buttons ***/
.neutral_button{
    font-size: 13px;
    background-color: #ffffff;
    border-color: #dddbda;
    color: #1b5297;
}