.headerText {
	float:left; 
	font-weight:bold; 
	font-size:1.2em;
}
.headerRightBlock {
	float:right;
}
.headerSubText {
	font-size:1.0em;
}
.headerInputBox {
	width:40px;
}
.pr-mask{
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    display :none;
}