.THIS .appealResults .cACET_AutoDocDataTable{
    padding: 0px;
}
.THIS .appealResults .searchBox{
    padding-right: 16px;
}
.THIS .appealResults .cACET_AutoDocDataTable .FixedHeader{
    height: 230px;
}