.THIS .block1{
    display: inline-block;
}

.THIS .block2{
    display: inline-block;
}

.THIS .block3{
    display: inline-block;
}

.THIS .icon_Discription{
    position : absolute;  
    top : 47%;
    right : 25%;
}

.THIS .icon-con{
    position : absolute; 
    top : 0%;
    right : 0%;
}

.THIS .more-button, .THIS .less-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.THIS .popoverIcon {
    padding-left: 2rem;
    padding-top: 28rem; 
    position: absolute; 
}

.THIS .popoverIcon-wrapper {
    position: relative; 
}

.THIS .popoverIcon-content {
    position: absolute; 
    bottom: 150%;
    left: -15%;
    width: 195px;
    word-wrap: break-word; 
    white-space:normal; 
}
.THIS .iconMargin {
margin : -10px 0px 0px;
}