.THIS {
}

.THIS.customTable{
    width: fit-content;
}

.THIS .bottomTable tr{
    border-bottom: 1px solid rgb(221, 219, 218);
    /*font-weight: bold;*/
    color: #3e3e3c;
}

.THIS .amountCell{
    font-weight: normal !important;
    text-align: right;
}

/* .THIS.bottomTable td{
    padding-bottom: 10px;
    padding-top: 10px;
} */