.THIS.hyperlink {
    color: #006DCC;
    
}
.THIS .clsdis {   
    font-style:sans-serif;
    font-size:12px;
   
 }
.THIS .clstop {
    border-top-width:thick;
    border-top-style:solid;
}
.THIS .result {   
    font-style:sans-serif;
    font-size:12px;
    font-weight:bold;
   
 }
.THIS .cls-ID {    
    font-family: default;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
 }