/**********************************************************
 * Containers
 * ********************************************************/
.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}

.THIS .remove-dialog{
    width : 35% !important;
    min-width: 30rem !important;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: center;
}

/***********************************************************
 * Image
 * ***********************************************************/

.THIS .contact-user-image svg[data-key="custom94"]{
    background-color: white !important;
    fill:#6f6d6a !important;
    /*width: 30%  !important;  */
    margin-top: 45px;
  
   width: var(--lwc-squareIconLargeBoundary,2.8rem) !important;
	height: var(--lwc-squareIconLargeBoundary,2.8rem) !important;
  
    
}

            .THIS .slds-icon-custom-custom94
    {
            background-color: rgba(255,255,255,0) !important;
    }



/************************************************************
 * Text
 * ********************************************************/
.THIS .remove-dialog .SNI_FL_ModalTitle{
    color : rgb(194, 57, 52) !important;
}

/************************************************************
 * Mobile
 * **********************************************************/

@media (max-width: 599px){
    .THIS .contact-user-image svg[data-key="user"]{
        margin-left: 0;
    }
    
   .THIS .slds-icon-custom-custom94
    {
            background-color: rgba(255,255,255,0) !important;
    }
 
    .THIS .mobileCenterbutton{
        float: none;
        display: flex;
        justify-content: center;
    }
    
    .THIS .record-nav{
        margin: 10px;
    }
    
}

/*************************************************
 * ipad
 * *************************************************/
@media only screen and (min-width: 600px) and (max-width: 1024px){
    
        .THIS .record-nav{
        width: 50vw;
    }
}