.THIS .tblCase .callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}


.THIS .tblCase td {
  white-space: nowrap !important;
    text-align: center;
    padding: 10px 18px !important;

}
.THIS .tblCase th {
  white-space: nowrap !important;
  text-align: left;
  padding: 10px 18px !important;

}
.THIS .inputDateWidth {
  width:260px;
  padding: 0px;
}