.THIS {
}
.THIS .sld-img-size svg{
    width: 15px;
    border-radius: 44rem;
    background-color: #797972;
    height: 15px;
    fill: white;
    padding-top: 2px;
    padding-bottom: 2px;
}
.THIS .slds-editAuthS{
    float:right;
}
.THIS .tooltip {
  position: relative;
  display: inline-block;
  padding-left: 2px;  
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: white; 
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0s;
    padding-left: 6px;
    font-size: 12px;
    font-style: italic;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.THIS .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.THIS .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.THIS .slds-col{
    padding:3px !important;
}
.THIS .slds-card{
    background-color:white;
    border-radius:5px;
	margin-top:0.5rem !important;
    margin-bottom:0.5rem !important;
}
.THIS .slds-green-styles{
    border: 1px solid #5DC916;
    border-top:10px solid #5DC916; 
}
.THIS .slds-grey-styles{
    border: 1px solid #797972;
    border-top:10px solid #797972; 
}
.THIS .sld-font-styles{
    color:#797972 !important;
    font-size:14px !important;
}
.THIS .slds-topsection-styles{
    height:3rem;
    margin-top:1rem;
}
.THIS .slds-signauthcol-styles{
    height:3rem;
}
.THIS .slds-myFamily-txt{
    color:#122377 !important;
    font-weight:bold !important;
    font-size:1.5rem !important;
}
.THIS .slds-authoriz-styles{
    padding:5px;
   /* line-height:1.5rem;*/
    padding:5px 20px 8px 20px;
}
.THIS .slds-viewauthlink-styles{
    text-decoration: underline !important;
    color:black !important;
    font-size:14px !important;
    padding-top :1rem !important;
}
.THIS .slds-name-stlyes{
    font-size:0.9rem !important;
    color:#797972 !important;
    font-weight:bold;
}
.THIS .slds-line-styles{
    height:1px;
    background: #797972;
}
.THIS .slds-rightsidelinks-styles{
    color:#E67E22 !important;
    text-decoration:underline !important;
    font-size:1rem !important;
}
.THIS .slds-removeinvite-styles{
    float:right;
}
.THIS .slds-signauth-box{
    color:white;
    border-radius:0.4rem;
    text-decoration:none;
    font-size:16px;
    background:#00C4F4;
    padding-top:0.6rem;
    height:3rem;
    width:12rem;
    text-align:center;
}
.THIS .slds-signauth-box a{
    color:white;
}
.THIS .slds-addFamilyMem-box{
    color:white;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:15px;
    background:#ffb111;
    padding-top:0.6rem;
    height:3rem;
    width:15rem;
    text-align:center;
    font-weight:bold;
    
}
.THIS .slds-addFamilyMemSpec-box{
    float:right;
}
.THIS .slds-addFamilyMem-box a{
    color:white;
}
.THIS .slds-addFamilyMem-box a:hover{
    text-decoration : none;
}
.THIS .slds-marg-styles{
    margin-top:2rem;
    margin-bottom:1rem;
}
.THIS .slds-grid{
    padding-left:1rem !important;
    padding-right:1rem !important;
}
.THIS.slds-ct-top-style{
    margin-left:0.6rem !important;
    margin-right:0.6rem !important;
    
}
.THIS .footerBgColor button{
    /*background:#00c4f4;*/
    background:#1798c1;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .delBgColor button{
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .slds-change-color{
    background-color: black;
}
.THIS .error{
    background-color: rgb(194, 57, 52);
}
.THIS .errorMessage{
    color:rgb(194, 57, 52);
    text-align: left;
}
.THIS.slds-modal_small .slds-modal__container {
    width : 35% !important;
    min-width: 30rem !important;
}
.THIS .slds-modal__container{
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: center;
}
.THIS .slds-col {
    padding: 0 !important;
}
.THIS ul {
    display: block;
    color: #797972;
}
.THIS .SNI_FL_ModalTitle{
    color : rgb(194, 57, 52) !important;
}
.THIS.slds-modal.slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}
@media (max-width: 567px){
.THIS .slds-marg-styles{
    margin-top:1rem !important;
    }
.THIS.slds-modal_small .slds-modal__container {
    width : 35% !important;
    min-width: 20rem !important;
}
.THIS .slds-grid{
  /*  padding-left:0.5rem !important;
    padding-right:0.5rem !important;*/
}
}