.THIS .slds-table thead th {
	background-color: rgba(255, 255, 255)!important;
}

.THIS .slds-checkbox_faux_container{
	margin-left: 40% !important;

}

.THIS .searchBox {
    width: 222px !important;
    float: right !important;
    margin-bottom: 16px !important;
    margin-right: -1px !important;
}

/* DE301355 */
.THIS .resetLinks{
	pointer-events: auto;
	cursor: pointer;
	color: #006dcc !important;
}

/* US2364907: View Authorization Results - Auto Doc Checkbox Functionlity */
.THIS .highlight{
	background : #F6FF33 !important;
	background-color : #F6FF33 !important;
}
.THIS .slds-table tbody tr td {
	cursor: pointer !important;
}

/* DE315028 */
.THIS .highlight{
	background-color: transparent !important;
}
/* US2428601 US2423798 */
.THIS .hide_Auth_Btn{
	display: none;
}
.THIS .right-align-btn{
	float: right;
}
.THIS .rightAlign{
	margin-left: -30px;
}
/* US2969157 - TECH - View Authorization Enhancements for new auto doc framework - Sarma - 7/10/2020 */
.THIS .cACET_AutoDocDataTable .FixedHeader{
    max-height: 230px;
}
.THIS .downtimeForm{
	position: absolute;
    margin-top: 7px;
    right: 535px
}