.THIS .image svg {
    fill : white;
}

.THIS .image {
    background-color:#2BAB27 !important;
}
.THIS .filterDropDown {
   margin-top:-17px;
    margin-right:5px;
}
.THIS .DropDownBody {
   text-align : left;
   text-align-last: left;
   margin-left: 2px;
  margin-right: 5px;
}



@media only screen and (min-width: 360px) and (max-width: 767px) {
    .THIS .btnactions{
       margin-top: 10px;
    }
    .THIS .backupAgentbtn{
        margin-top: 10px;
        margin-left: 250px;
    }
    .THIS .filterDropDown {
    	width:60%;
        margin-bottom:5px;
	}
    
    
}