.THIS .form-toggle{
    width: 65px;
    height: 25px;
}
.THIS .toggle-faux_container, .THIS.form-toggle {
    width: 60px !important;
    height: 24px !important;
}
.THIS .toggle-faux_faux {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: white;
}
.THIS .tgl-text-right {
    text-align: right;
    padding-right: 5px;
    padding-top: 4px;
    padding-left: 2px;
}
.THIS .tgl-text-left {
    padding-top: 2px;
    text-align: left;
    padding: 4px 0px 0px 7px;
}
.THIS .toggle-faux_faux:hover {
    border-color: rgba(27, 82, 151, 1);
    background-color: rgba(27, 82, 151, 1);
}
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}
.THIS .active-blue {
    border-color: #0070d2 !important;
    background-color: #0070d2 !important;
}
.THIS .active-grey {
    border-color: rgb(150, 148, 146) !important;
    background-color: rgb(150, 148, 146) !important;
}