.THIS lightning-primitive-header-actions {
    display: none;
}
.THIS .slds-th__action{
    display: block;
}

.THIS.slds-table {
    table-layout: block;
}
.THIS.wrapped-header-datatable .slds-table .slds-th__action .slds-truncate{
    max-width: 100%;
    overflow: hidden;
    text-overflow: unset;
    white-space: pre-line;
}
.THIS.wrapped-header-datatable .slds-table .slds-line-height_reset{
    height: 1rem;
}
.THIS.wrapped-header-datatable .slds-table .slds-th__action {
    height: 3rem;
}
.THIS.cls-cart {   
    font-style:sans-serif;
    font-size:14px;
    font-weight:bold;
}
.THIS.box{
   border: 2px solid orange ;
}
.THIS .wrapData .cACET_AutoDocDataTable .slds-table .slds-truncate{
    white-space: pre-wrap;
}