.THIS .paddingTop {
      padding-top: 10px;
}
.THIS .slds-icon-action-approval {
    background-color: #32b917;
}
.THIS .slds-icon-action-close {
    background-color: #fd5447;
}
.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .activeallradioRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
    
}
.THIS .activeallradioRadiodivCls{
    margin-right: 826px;
    margin-top: -30px !important;
}
.THIS .iconscls svg {
    width: 1rem;
    height: 1rem;
}