.THIS {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.THIS .cardTitle{
	color: #080707;
    font-weight: bold;
    font-family:sans-serif;
    font-size:16px;
}

.THIS.padding_top{
	padding-top: 10px !important;
}

/* US3449703 */
.THIS .paymentDetails{
    padding: 16px;
}