.accordioncss{
    width: 1%;
}
.plannamehelptext{
    top: 4px;
    position:relative;
    padding-right: 2px;
}
.incentivetablebackground{
    background: #e3dfdf;
}
.inctablerows{
    padding-left: 0.2rem !important;
}