.THIS .headerClass {
    font-size: 16px;
    font-weight: bold;
}

.THIS .headerSectionHeight {
    height: 42px;
}

.THIS .searchButton {
    width: 120px;
}

.THIS .showOrHideAdvancedSearch {
    pointer-events: none;
}

.THIS .showOrHideAdvancedSearchSectionHeight {
    height: 35px;
}

.THIS .validationErrorMsgPosition {
    margin: -6px;
}

.THIS .linkField{
    font-size: 14px;
    color: #006dcc;
}