.THIS .popover-content{
    width: 195px;
    word-wrap: break-word; 
    white-space:normal;
    text-align: left;
}
.THIS .popover {
    position: relative; 
    display: inline-block;
}
.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 120px !important;
   left: 90px !important;
}