.THIS.closeicon svg{
    float:right !important;
    width: 2rem !important;
    height: 2rem !important;
}
.THIS .newMsgBtn{
    color:white;
    background-color:#0C1A75;
    padding-left:1rem;
    padding-right:1rem;
}
.THIS .MsgBtn{
    color:white;
    background-color:#0C1A75;
    padding-left:1rem;
    padding-right:1rem;
    width:99%;
    height:2.2rem;
   
    
}
.THIS .MsgBtn1{
    color:white;
    background-color:#0C1A75;
    padding-left:1rem;
    padding-right:1rem;
    width:101%;
    height:2.3rem;
    margin-left: -3px;
}
.THIS .oldMsgBtn{
    background-color:white;
    padding-left:1rem;
    padding-right:1rem;
    border-color: #0c1a75;
    border-width: 1px;
    color: #0c1a75;
    padding-left: 10px;
    padding-right: 10px;
}
.THIS .oldMsgBtnMobile{
    background-color:white;
    padding-left:1rem;
    padding-right:1rem;
    border-color: #0c1a75;
    border-width: 1px;
    color: #0c1a75;
    width:99%;
    height:2.3rem;
    margin-left: 4px;
    margin-bottom: 5px;
}
.THIS .DropDownBody {
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:5px;
    margin-left: 5px !important;
    height: 10px;
}
.THIS .slds-large-size_1-of-3 .y{
    width:150px !important;
}
.THIS .slds-medium-size_5-of-8 .y{
    width:75px !important;
}
.THIS .comboBoxStylenew {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px !important;
    margin-left: -7px !important;
    width:101% !important ;
    height: 30px;
    margin-top:-25px;
    
}
.THIS .comboBoxStylenew span {
    color: black !important;
}
.THIS .comboBoxStyle1 svg {
    fill:#70606B;    
}
@media (max-width: 768px) {
    .THIS .image svg {
        background-color:#21bcd1 !important;
        width: 2rem;
        height: 2rem;
        margin-top:-4px;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    .THIS .image svg {
        background-color:#21bcd1 !important;
        width: 2rem;
        height: 2rem;
        margin-top:-14px;
    }
}
@media (max-width: 1024px) and (orientation: landscape) {
    .THIS .image svg {
        margin-top:-14px !important;
    }
}

@media (min-width: 1024px) {
    .THIS .image svg {
        background-color:#21bcd1 !important;
        width: 2rem;
        height: 2rem;
        margin-top:-4px;
    }
}