.THIS .outer-circle {
    margin : 0px 30px 15px; 
    padding : 5px; 
    position : relative; 
    width : 115px; 
    border-radius : 50%; 
    height:115px; 
    display : block;
    background : #fff;
    background-color : deepskyblue;
}

.THIS .top-left-circle {
    padding : 5px; 
    position : absolute;  
    right : 70%; 
    border-radius : 50%; 
    height : 43px;
    width : 43px;
    background-color : #023BA2;
    cursor: pointer;
}

.THIS .top-right-circle {
    padding : 5px; 
    position : absolute;  
    left : 70%; 
    border-radius : 50%; 
    height : 43px;
    width : 43px;
    background-color : #023BA2;
    cursor: pointer;
}

.THIS .bottom-left-circle {
    padding : 5px; 
    position : absolute;  
    right : 70%; 
    border-radius : 50%; 
    height : 43px; 
    top:65%;
    width : 43px;
    background-color : #023BA2;
    cursor: pointer;
}

.THIS .bottom-right-circle {
    padding : 5px; 
    position : absolute;  
    left : 70%; 
    border-radius : 50%; 
    height : 43px; 
    top:65%;
    width : 43px;
    background-color : #023BA2;
    cursor: pointer;
}

/*.THIS .center-circle {
    padding : 5px; 
    position : absolute;  
    right : 30%; 
    border-radius : 50%; 
    height : 60px; 
    top : 30%;
    width : 60px;
    background-color : #fff;
    cursor: pointer;
}*/

.THIS .center-circle {
    padding : 5px; 
    position : absolute;  
    right : 30%; 
    top : 32%;
    border-radius : 50%; 
    height : 43px; 
    width : 43px;
    background-color : #fff;
    cursor: pointer;
    text-align: center;
	vertical-align: middle;
    font-weight: 400;
    font-size : 30px;
}

.THIS .img-topleft, .THIS .img-topright, .THIS .img-bottomleft, .THIS .img-bottomright {
    padding : 5px; 
    position : absolute; 
    border-radius:50%;
    height : 50px; 
    width : 50px;
    cursor: pointer;
}

.THIS .img-topleft {
    right : 70%;
    top:-5%;
}

.THIS .img-topright {
    left : 70%; 
    top:-5%;
}

.THIS .img-bottomleft {  
    right : 70%;
    top:61%;
}

.THIS .img-bottomright {
    left : 68%; 
    top:61%;
}

.THIS .count {
    left : 22%;
    top:-15%;
    position : relative; 
    float : left; 
    font-weight: 400;
    font-size : 25px;
} 

.THIS .maxcount {
    left : 8%;
    top:-5%;
    position : relative; 
    float : left; 
    font-weight: 400;
    font-size : 20px;
}

.THIS .more-button, .THIS .less-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
} 

.THIS .outer-circle, .THIS .center-circle {     
    border: 2px solid #555;
}

.THIS .circle-content {
    margin-top : 17%; 
    font-weight: 800;
    color: 	#FFFFFF;
}

.THIS .opportunity-category-icon {
    height : 35px; 
    width : 35px; 
    display : inline-block;
   
}

.THIS .popover {
    padding-left: 2rem;
    padding-top: 28rem; 
    position: absolute; 
}

.THIS .popover-wrapper {
    position: relative; 
}

.THIS .popover-content {
    position: absolute; 
    bottom: 110%;
    width: 800px;
    word-wrap: break-word; 
    white-space:normal; 
} 
.THIS .popover-todoContent {
    position: absolute; 
    bottom: 110%;
    width: 150px;
    word-wrap: break-word; 
    white-space:normal; 
}

.THIS .header_font {
    font-size: 10px;
}

.THIS .thCustom {
    background-color: #FAFAF9;
}

.THIS .slds-truncate.event_word_wrap{
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

.THIS .eve{
    position : relative; 
}
.THIS span[class="uiImage"]{
    display:none;
}
.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
    width: 500px;
}
.THIS .oppButton{
    margin : -10px -5px -5px;
}