.THIS .slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .slds-form-element__control{
    color: #080707 !important;
    font-size: 14px;
}

/*.THIS .slds-form-element{
	height: 50px !important;
    margin-bottom:8%; 
}*/
.THIS .slds-input{
	height: 42px !important;
}
.THIS .toastClose {
    display:none;
}

.THIS .border{
    border-right:1px solid rgb(221, 219, 218);
}
/** US2045625 - Thanish - 26th Sept 2019 - removed unwanted stylings **/

/* Regression issue 13 - Thanish - 11th Oct 2019 */

.THIS .insideDivWidth{
   width:53%;
}
.THIS .continueBtn{
    min-width:107px;
}

.THIS .flexipageHeader {
    display:none;
}

.THIS .slds-button_icon-bare{
    height:42%;
}

/** US2045625 - Thanish - 26th Sept 2019 **/
.THIS .searchBtn{
    min-width:107px;
}
/** US2045625 - Thanish - 26th Sept 2019 - removed unwanted stylings **/
.THIS .slds-button_icon{
    margin-top: -6px;
    color: black;
}

.THIS .clearBtn{
    float:right;
    font-size: 12px;
    color:#006DCC;
    font-weight:400;
    /*border-radius:0px;*/
}

.THIS .procSearchIcon{
     margin-top: 11px;
}  
.THIS .memSearchIcon{
 	margin-top: -14px;
}
.THIS .excludeInputPad{
   
}
.THIS .excludeInputPad input{
    /* Thanish - 17th July 2019 - Removed "border-radius: 0px" to fit the mockup */
    /*text-align:center;*/
    font-size:14px;
  
}
.THIS .chkClass span.slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
}

.THIS .excludeInputPad .slds-listbox__option{
    padding:0px !important;
    color: #080707 !important;
    font-size: 14px;
   /*margin-left: 19%;*/
}
.THIS .excludeInputPad .slds-dropdown-trigger_click{
   
}
/** US2045625 - Thanish - 27th Sept 2019 - removed unwanted stylings **/
.THIS .slds-checkbox_faux{
    /*height:21px;
    border:1.5px solid lightgrey;*/
}
.THIS .slds-th__action{
    background:white;
}
.THIS .providerType .slds-form-element__control {
   display: inline-flex;
}
/** US2045625 - Thanish - 27th Sept 2019 **/
.THIS .dobErrorAllign .slds-form-element__help{
    margin-top: 0%;
    color:#C23934;
    font-size:12px;
}
.THIS .groupLabel span.slds-form-element__label{  
    font-size:12px !important;
    color:#3e3e3c;
}

.THIS .customBorders{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-top: -5%;
    background:white !important;
}
.THIS .disableBtn{
    background: grey;
    color: white;
    border: grey;
}
.THIS .slds-button__icon{
    color:grey;
}
.THIS .downArrowCls svg {
    width: 1rem;
    height: 1rem;
    margin-top:10px;
}
.THIS .slds-icon-utility-chevrondown{
    margin-top:4px;
}
.THIS .alignmentDifComps{
    /*width:98.89% !important;*/
    width: calc(100% - 17px);
    position:fixed;
}

@media only screen and (device-width: 768px) {
  .THIS .memArrowIcon {
  	margin-left:75%;
  }
  .THIS .provArrowIcon{
       margin-left:75%;
   }
}

@media only screen and (device-width: 1024px) {
  .THIS .memArrowIcon {
  	margin-left:84%;
  }
  .THIS .provArrowIcon{
       margin-left:84%;
   }
}
.THIS .uiInputCls{
    height:41px;
    top:65% !important;
}
.THIS .uiInput{
    margin-bottom: 15px;
    margin-top: 9%;
}

.THIS .form-element__help{
    margin-top:-3% !important;
}

.THIS .hide-error-message  .slds-form-element__help {
    display: none !important;
}
.THIS .uiInputCls{
    height:41px;
    top:65% !important;
}
.THIS .slds-align_absolute-center{
    margin-top:-15px;
}
.THIS .errorMsg{
     color:#C23934;
    font-size:12px;
}
.THIS .field-value{
		color: #080707 !important;
		font-size: 14px;
}
.THIS .stateErrorDisplay{
    box-shadow: rgb(194, 57, 52) 0 0 0 2px inset;
}
.THIS .removeBorderState{
	border-color: rgb(194, 57, 52);
}
/* .THIS .oneConsoleLayoutContainer2 .fullLeft .split-left{
    z-index: 3 !important;
} */
.THIS  .slds-has-error .slds-input  {
   border-color: rgb(194, 57, 52) !important;
}
/* Thanish - Adding missing styles as per mockup - 19th August 2019 */
.THIS .show-error-message  .slds-form-element__help {
    display: block !important;
}
/* Thanish end of code */

/* US17217075: Explorer - Other (Third Party) - Kavinda: STARTED */
.THIS .provider-other-cards {
    margin-top: -3.9%;
    background: transparent !important;
}
.THIS .toggle-provider-title {
    width: 82px !important;
}
/* Regression issue 13 - Thanish - 11th Oct 2019 */
.THIS .boxHeadings {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.THIS .toggle-faux_container, .THIS .form-toggle {
    width: 65px;
    height: 24px; 
}
.THIS .toggle-faux_faux {
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: white;
}
.THIS .tgl-text-right {
    text-align: right;
    padding-right: 5px;
    padding-top: 3px;
    padding-left: 1px;
}
.THIS .tgl-text-left {
    text-align: left;
}
.THIS .toggle-faux_faux:hover {
    border-color: rgba(27, 82, 151, 1);
    background-color: rgba(27, 82, 151, 1);
}
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
    /* height: 1.10rem !important; */
}
.THIS .active-blue {
    border-color: #0070d2 !important;
    background-color: #0070d2 !important;
}
.THIS .active-grey {
    border-color: rgb(150, 148, 146) !important;
    background-color: rgb(150, 148, 146) !important;
}
.THIS.slds-spinner_container {  
    z-index: 100;
    position: fixed;   
}
/* US17217075: Explorer - Other (Third Party) - Kavinda: END */