/**********************************************************
 * Containers
 * ********************************************************/
.THIS .slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}

.THIS .slds-left-container {
    float: left;
    width: 10%;
    border-right: 1px solid #c4c4c0;
    height: auto;
    min-height: 132px;
    padding: 0 !important;
}

.THIS .slds-right-container {
    float: right;
    padding: 30px;
    padding-top:10px;
   	width: 90%;
    padding-bottom: 10px !important;
}

.THIS .slds-contact-container {
    width: 100%;
    background-color:white;
    border-radius:0.6rem;
    display: inline-block;
    border: solid 1px;
    margin-bottom: 10px;
}

.THIS .slds-user-group-container {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #797972;
    margin: 16px 0px;
    padding: 8px;
    padding-bottom: 1px;
}

.THIS .remove-dialog{
    width : 35% !important;
    min-width: 30rem !important;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: center;
}
.THIS .slds-custom-modalBody{
    height:150px !important;
}
.THIS .slds-custom-size{
    padding-top: 20px;
}
/***********************************************************
 * Image
 * ***********************************************************/

.THIS .contact-user-image svg[data-key="file"]{
    background: none;
    margin-top: 50px;
  	stroke-width: 5px;
    fill: #797972!important;
}
.THIS .slds-user-img{
    padding-bottom:15px;
}
.THIS .slds-user-span{
    padding-left:15px;
    font-size: 14px;
    color: #797972;
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.THIS .slds-img-height{
    height: 15px;
    vertical-align: -1.5px;
}
.THIS .remove-warning-icon svg{
    fill: white !important;
}

/************************************************************
 * Text
 * ********************************************************/
.THIS .remove-dialog .SNI_FL_ModalTitle{
    color : rgb(194, 57, 52) !important;
}

.THIS .contact-name{
    color: #122377;
    font-size: 15px;
    padding-bottom: 1px;
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.THIS .contact-text{
    color: grey;
    padding-bottom:30px;
    font-size: 13px;
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**************************************************************
 * Button
 * ***********************************************************/
.THIS .btn-familyContact-Remove{
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .btn-familyContact-Cancel{
    background:#1798c1;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/************************************************************
 * Hyperlink
 * ***********************************************************/

.THIS .doc-remove-edit{
   color: #009EB4;
   padding-right: 5px;
   font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.THIS .doc-edit{
    padding-left: 5px;
}
.THIS .doc-remove{
    padding-left: 5px;
}
.THIS .doc-remove-edit:hover {
   text-decoration: none;
   color: #009EB4;
}

.THIS .doc-remove-edit:focus {
   text-decoration: none;
   color: #009EB4;
}
.THIS .footerBgColor button{
    /*background:#00c4f4;*/
    background:#1798c1;
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .slds-modal_small .slds-modal__container {
    width : 35% !important;
    min-width: 30rem !important;
}
.THIS .delBgColor button{
    background:rgb(194, 57, 52);
    color:white;
    border: 2px solid white;
    font-weight:bold;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .SNI_FL_ModalTitle{
    color : rgb(194, 57, 52) !important;
}
/************************************************************
 * Mobile
 * **********************************************************/

@media (max-width: 575px){
    .THIS .slds-savebutton-box{
	    color:white;
	    border-radius:0.6rem;
	    text-decoration:none;
	    font-size:16px;
	    background:#ffb111;
	    height:2.5rem;
	    width:8rem;
	    text-align:center;
	    font-weight:bold;
	    margin: 0 auto;
    	display: block;
    	float:none !important;
    	padding-bottom:2px;
	}
	
	.THIS .slds-backbutton-box{
	    color:#ffb111;
	    border-radius:0.6rem;
	    text-decoration:none;
	    font-size:16px;
	    background:white;
	    height:2.5rem;
	    width:8rem;
	    text-align:center;
	    font-weight:bold;
	    margin-top: 10px !important;
	    border-color: #ffb111;
	    border-width: 2px;
	    margin: 0 auto;
    	display: block;
	}
    .THIS .contact-user-image svg[data-key="file"]{
        margin-left: 0;
    }
    .THIS .remove-dialog{
        width: 80vw !important;
        min-width: 0 !important;
    }
    
    .THIS .remove-dialog .SNI_FL_ModalTitle{
        padding-left: 10px !important;
        font-size: 1.15rem !important;
    }
    
    .THIS .mobileCenterbutton{
        float: none;
        display: flex;
        justify-content: center;
    }
    
    .THIS .record-nav{
        margin: 10px;
    }
    
    .THIS .slds-right-container{
        width: 65%;
        padding: 0 !important;
        padding-top: 15px;
        float: left;
        padding-left: 15px !important;
    }
    
    .THIS .contact-name{
        font-size: 12px;
        padding-top:10px;
    }
        
    .THIS .slds-left-container{
        height: 100px;
        min-width: 75px;
    }
    .THIS .slds-user-span{
        padding-left:15px;
        font-size: 14px;
        color: #797972;
        font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
   .THIS .slds-modal_small .slds-modal__container {
    width : 35% !important;
    min-width: 20rem !important;
}
}

/*************************************************
 * ipad
 * *************************************************/
@media only screen and (min-width: 576px) and (max-width: 992px){
	.THIS .slds-right-container {
        width: 80%;
        float: left;
    }
    
        .THIS .record-nav{
        width: 50vw;
    }
}