.THIS .slds-button-group .slds-button:last-child{
    border-radius: 0px;
}
.THIS .slds-button-group .slds-button:first-child{
    border-radius: 0px;
}
.THIS .slds-modal__container {
   margin-left: -279px !important;
    width: 95%;
    max-width: 80rem;
    min-width: 64rem;
}
.THIS .slds-table {
    text-overflow: inherit !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important; 
}
.THIS .slds-backdrop{
    position: fixed !important;
}

.THIS .slds-modal{
    position: fixed !important;
}


.THIS .slds-truncate {
    text-overflow: inherit !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important; 
}
.THIS .modal-body{ 
     height : 90vh !important; 
     max-height: 90vh !important; 
} 
.THIS .slds-table thead th {
    background-color: #fafaf9;
}
.THIS .slds-table tbody tr:hover td {
     background-color: white !important;
 }
.THIS .slds-table tbody tr:hover th {
     background-color: white !important;
 }
.THIS.spnTooltip {
	display: inline;
	 width: 40%;
    word-wrap: break-word !important;
	color: #111;
	background: white;
    z-index: 3000 !important;
    border: 1.5px solid black;
    position: absolute;
    padding: 14px 20px;
	top: 1%;
	left: 25%;
}
.THIS label{
    font-family: Salesforce Sans,Arial,sans-serif !important;  
    font-weight:bold !important; 
    display: inline-block !important;     
    color: #000 !important; 
    font-size: 13px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.THIS.bodyalgn {
    padding-left: 16px;
}
.THIS .hide-error-message   {
    display: none !important;
}