.THIS {
}
.THIS.customBorder{
    border-width: 1px;
}
.THIS .priorityAlign{
    width: 300px;
  }
  .THIS .comboboxAlign{
    width: 313px;
  }
.THIS .slds-has-error .slds-input{
    border-color: var(--lwc-colorBorderError,rgb(194, 57, 52));
    box-shadow: var(--lwc-colorBorderError,rgb(194, 57, 52)) 0 0 0 var(--lwc-borderWidthThin,1px) inset;
    background-color: var(--sds-c-input-color-background, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));
    color: var(--sds-c-input-text-color);
    background-clip: padding-box;
}

.THIS lightning-input.customCheckBox span.slds-form-element__label {
    font-size: 1rem;
    color: black;
 }