/* historyTable style to set height to show only 7 rows */
.THIS .historyTable {
    width: 100%;
    table-layout: fixed;
}
.THIS .historyTable thead, .THIS .historyTable tbody, .THIS .historyTable tr, .THIS .historyTable td, .THIS .historyTable th { display: block; }
.THIS .historyTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.THIS .historyTable tbody {
    height: 196px;
    overflow-y: auto;
}
.THIS .historyTable thead {
    /* minus scroll bar width */
    width: calc(100% - 17px);
}
.THIS .historyTable tbody td, .THIS .historyTable thead th {
    float: left;
}
/* end of historyTable styles */
.THIS .historyTable th:hover {
    background-color: white;
}

.THIS .disableLink{
    pointer-events: none;
    cursor: default;
    color: gray;
}