.THIS .slds-button-group .slds-button{
    border-radius: 0px;
}

.THIS .slds-table_bordered {
      
}
.THIS .slds-gutters_xxx-small {
    margin-right: -.125rem;
    margin-left: -.125rem;
    margin-top: .25rem !important;
}
.THIS .slds-col {
    padding-right: .30rem;
    padding-left: .30rem;
}
.THIS .slds-tabs_default__content {
    padding: 0rem 0; 
}

.THIS .slds-table thead th{
    padding: .25rem;
}
.THIS .PlanBenefitsAccordion .slds-accordion__summary-heading, 
.THIS .PlanBenefitsAccordion .slds-accordion__summary-heading:hover, 
.THIS .PlanBenefitsAccordion .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}
.THIS .DemographicsAccordion .slds-accordion__summary-heading,
.THIS .DemographicsAccordion .slds-accordion__summary-heading:hover, 
.THIS .DemographicsAccordion .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}

.THIS .OtherContactsAccordion .slds-accordion__summary-heading, 
.THIS .OtherContactsAccordion .slds-accordion__summary-heading:hover, 
.THIS .OtherContactsAccordion .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
}

.THIS .slds-form-element_label{
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
}

.THIS.va-card .slds-card__header{
    padding: 1.2rem 1rem 1rem;
    margin: 0 0 .75rem;
    background-color: rgb(243, 242, 242);
}
.THIS .slds-input__icon_left{
    display:none;
}
.THIS input[type='search']{
    padding-left:0.8rem;
}