.THIS .header1{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.THIS .custom-box{
    padding-right:5px;
}

.THIS .pageTitle{
    color:#080707;
    font-weight:bold;
    font-size:18px;
}
.THIS .cardTitles{
    color: #080707;
    font-weight: bold;
    font-size:16px;
}
.THIS .space{
    width: 1%;
}
.THIS .provider{
    width: 59%;
}
.THIS .callTopic{
    width: 40%;
}
.THIS .memberDetails{
    width: 33%;
}
.THIS .policyDetails{
    width: 32%;
}
.THIS .COBandHousehold{
    width: 33%;
}
.THIS .financials{
    width: 100% !important;
}
.THIS .lastColumn{
    display: flex;
  	flex-direction: column;
}
.THIS .lastItem{
    flex-grow: 1;
}
/* Thanish - Adding missing styles according to mockup - 19th August 2019 */
.THIS{
}
.THIS .misdirectBtn {
    font-size: 12px;
    color:#006DCC; 
}
.THIS .field-title{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .field-value{
    color: #080707 !important;
    font-size: 14px;
}
/* Thanish - end of code */

/* US1730955 - Targeted COB - Details UI: Kavinda */
.THIS .COBHistory{
    width: 66%;
}
.THIS .alert_button{
    width: 60% !important; 
}
.THIS .highlightPanelPositionSandbox {
	position: fixed;
    top: 9.4rem;
    width: 98.5%;
    z-index: 50;
    transition-delay: 500ms;
}
.THIS .highlightPanelPosition {
    position: fixed;
    top: 7.4rem;
    width: 98.5%;
    z-index: 50;
    transition-delay: 500ms;
}

.THIS .slds-pill__remove {
    display: none;
}
/*DE417010 - Sravan*/
.THIS .highlightPanelPositionNewT {

}
/* US3536342 - Thanish - 3rd Jun 2021 */
.THIS .pointer{
    cursor: pointer;
}
.THIS .pageHeaderTransition{
    transition-property: position;
    transition-duration: 0.25;
    transition-timing-function: linear;
}