.THIS {    
}
.THIS .card-background{
    background-color: #FFFFFF;
}
.THIS .table-header {
	overflow-y: auto;    
    width: 100%;
    padding-top: 1rem;
}
.THIS .table-header thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}
.THIS .no-text-overflow {
    white-space: normal;
    word-wrap: break-word;
}
.THIS .search-result-th {
    display: flex;    
    height: 2rem;
    align-items: center;
}
.THIS .tr-alt{
  background-color: rgb(234 233 232);
}
.THIS .slds-td-wrap {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.THIS .slds-table td {
    padding: var(--lwc-tableCellSpacing,0.25rem 0.5rem);
    white-space: break-spaces;
    position: relative;
}
.THIS .paginationbutton {
    width: 50% !important;
}
.THIS .firstButton{
    margin-right: 1px !important;
}
.THIS .page-info{
    margin-left: 17px;
    margin-right: 16px;
}
  
.THIS .td-fixed-width{
     width: 20rem;                           
}