.THIS .marketplacepage{
    width: 100%;
    height: 100%;
}
.THIS .marketplaceBodyContent{
    color: black;
}
.THIS .marketplaceHeader{
    width: 100%;
    height: 100px;
}
.THIS .marketplaceHeaderIcon{
    width: 339px !important;
    height: 100px !important;
}
.THIS .marketplaceNavigation{
    height: 60px !important;
    background-color: #343a40 !important;

}
.THIS .free-label {
    color: tomato;
    font-size: large;
    text-align: center !important;
    margin-bottom: 10px;
    
}
.THIS .slds-button{
    width: 100%;
    margin-bottom: 7px;
}
.THIS .justify-content-center {
    justify-content: center !important;
}
.THIS .product-buttons {
    top: 19%;
    position: relative;
}
.THIS .marketplaceNavigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
}
.THIS .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.THIS .nav-item {
  float: left;
  padding: 2px;
  margin-left: 7px;
}

.THIS .nav-item .nav-link {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

.THIS .nav-item .nav-link:hover {
  
}
.THIS .welcome-title{
    font-weight: 700;
    color: #007bff;
    font-size: 1.25rem;
}

.THIS .nav-item.dropdown {
  display: inline-block;
}
.THIS .marketplaceBody{
    margin: 50px;
}

.THIS .marketplaceBodyContent{
    display: flex;
    flex-wrap: wrap;
    
}
.THIS .marketplaceLeftSidebar{
    margin-right: 15px;
    margin-left: 15px;
    width:31%;
    max-width:500px;
    min-width:150px;
    
}
.THIS .marketplaceDetails{
    display: none;
    margin-top: .75rem;
}
.THIS .rightSection .slds-box{
    padding: 0rem !important;
}
.THIS .rightSection .card-body{
    padding: 1rem !important;
}
.THIS .listItem {
    list-style-position: inside;
    list-style-type: disc;
}
.THIS .number-bulletin{
    background: #007bff;
    border-radius: .8em;
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}
.THIS .listItem {
    display: list-item;
    text-align: -webkit-match-parent;
}
.THIS .main-body-title {
    font-weight: 700;
    color: #007bff;
}
.THIS .quotes-title{
    font-weight: 700;
    color: #007bff;
    font-size: 1.25rem;
}
.THIS .welcome-card{
    float: right;
    max-width: 240px;
    min-width: 100px;
}
.THIS .card-text{
    font-size: 14px;
}
.THIS .card-title{
	font-size: 1.5rem;
    font-weight: 500 !important;
    margin-bottom: 17px;
}
.THIS .coming-soon{
    text-align: centre;
    font-size: 1.75rem;
    font-weight: 500 !important;
    margin-top: 20px;
}
.THIS .comingSoonH3{
    
    text-align: centre !important;
}
.THIS .marketplaceRightSidebar{
    width:67%;
}
.THIS .maincontentbox{
    width:100%;
    border: 1px solid rgb(217, 219, 221);
}
.THIS .marketplaceRightSideInfo{
    width:800px;;
    float: left;
    margin-left: -.75rem;
    
}
.THIS .img-fluid{
    width: 100%;
    height: 70%;
}
.THIS .marketplaceRightSideDetails{
    
}
.THIS .marketplaceRightSideFooter{
    
}
@media only screen and (min-width: 1215px){
    .THIS .marketplaceBodyContent {
        width: min-content;
        right: 22%;
        position: absolute;
    }
    .THIS .mobileView{
        display:none;
    }
    .THIS .browserView{
        display:inherit;
    }
}
@media only screen and (max-width: 1215px) and (min-width: 961px){
    .THIS .mobileView{
        display:none;
    }
    .THIS .browserView{
        display:inherit;
    }
    .THIS .marketplaceBodyContent {
        width: min-content;
        right: 12%;
        position: absolute;
    }
    .THIS .welcome-card {
        float: right;
        max-width: 210px;
        min-width: 100px;
    }
    
    .THIS .marketplaceRightSideInfo {
        width: 680px;
        float: left;
        margin-left: -.75rem;
    }
}
@media only screen and (max-width: 960px){
    .THIS .marketplaceBody{
        margin: 10px;
    }
    .THIS .browserView{
        display:none;
    }
    .THIS .mobileView{
        display:inherit;
    }
    .THIS .marketplaceRightSideInfo {
        width: 100%;
        float: left;
        margin-left: 0rem !important;
    }
    .THIS .welcome-card-mobile{
        width:100%;
        margin-bottom: 10px;
    }
}