.THIS {
}
.THIS .slds-cell-wrap{
    
    width:100px; 
    word-wrap:break-word;
    overflow-wrap: break-word !important;
}
.THIS .slds-truncate {
    white-space: break-spaces !important;
}
.THIS .fontsize{
    font-size:13px;
}
.THIS .slds-card__header{
       
}
.THIS .slds-card__footer{
    margin-top:0px;
}
.THIS .slds-text-heading_small{
    font-size: medium;
    font-weight:bold;
}
.THIS .green { 
   background-image: url("/img/samples/flag_green.gif");
}
.THIS .orange { 
   background-image:url("/images/profile_avatar_200.png");
}
.THIS .slds-avatar.slds-avatar_profile-image-small {

     /*height of your image*/
  
   
   /*background: var(--lwc-userDefaultAvatarSmall,url(/_slds/images/profile_avatar_96.png?cache=ff996dba)) top left/cover no-repeat;*/
        }
.THIS .colorgreen {
     background-color:green !important;
}
.THIS .slds-icon-standard-custom {
    background-color: #4fac9c;
        }
.THIS .slds-resizable__divider {
            height:0px;
        }
.THIS .slds-scrollable_x  {
    
    overflow-x: hidden;
}
.THIS .slds-scrollable--x{
    overflow-x: hidden;
}
.THIS .slds-theme_shade {
    margin-right: auto;
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
        }
  .THIS .slds-theme--shade {
           margin-right: auto;
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
        
        }  
              
 /*.THIS .slds-theme_shade .slds-theme--shade {
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
    margin: auto;
}*/
.THIS .slds-media__figure {
    flex-shrink: 0;

}
 .THIS  .slds-checkbox{

  display: none;
}

.THIS .checked uiImage uiOutputCheckbox{
    background-size:cover;
  background-repeat:no-repeat;
  width:250px;
  height:250px;
                
}