/* US1938551 - Thanish - 19th Dec 2019 */

/* toggle font styles */
.THIS .toggle-faux_faux {
    font-size: 10px;
    color: white;
}
/* text align when toggle checked*/
.THIS .tgl-text-right {
    text-align: right;
}
/* text align when toggle unchecked*/
.THIS .tgl-text-left {
    text-align: left;
}
/* toggle hover style */
.THIS .toggle-faux_faux:hover {
    border-color: rgba(27, 82, 151, 1);
    background-color: rgba(27, 82, 151, 1);
}
/* style to remove the check mark character */
.THIS .toggle-faux_faux:before, .THIS .toggle-faux_faux:after {
    content: '' !important;
    border: none !important;
    border-color: transparent !important;
}
/* background color when checked */
.THIS .active-blue {
    border-color: #0070d2 !important;
    background-color: #0070d2 !important;
}
/* background color when unchecked */
.THIS .active-grey {
    border-color: rgb(150, 148, 146) !important;
    background-color: rgb(150, 148, 146) !important;
}