.THIS .backgroundColor{
    background-color:#f3f2f2;
}
.THIS .emptyBackground{
    min-height:48pc;
}
.THIS .addpadding{
    padding-left: 12px;
}
.THIS .rel_pos{
    position: relative;
}
.THIS .positioning{
    position: absolute;
    right:25%;
    top:20%;
}
@media (max-width: 450px) {
  .THIS .mobileView {
    display: none;
  }
  .THIS .mobpadding{
    padding-left: 3px !important;
    padding-right: 3px !important;
    }
    .THIS .slds-text-heading_large{
	padding-bottom: 15px;
    }
    .THIS .slds-show{
        height: 65rem !important;
    }
}
@media (min-width: 450px) {
  .THIS .desktopView {
    display: none;
  }
    .THIS .mobpadding{
    padding-left: 12px !important;
    
    }
}