/***********************************************************
 * Container
 * **********************************************************/
.THIS .slds-left-container {
    float: left;
    min-width: 100px;
    width: 10%;
    border-right: solid 1px #c4c4c0;
    height: auto;
    min-height: 130px;
    padding: 0 !important;
}

.THIS .slds-right-container{
    width: 100%;
    padding: 1rem !important;
}

.THIS .slds-commoncard-container {
    width: 100%;
    background-color:white !important;
    border-radius:0.6rem;
    display: inline-block;
    border: solid 1px #c4c4c0;
    margin-bottom: 10px;
    overflow: hidden;
}

/***********************************************************
 * Text
 * ******************************************************/

.THIS .card-name{
    color: #122377;
    font-weight: bold;
	font-size: 16px;
    padding-bottom: 10px;
    font-family: var(--lwc-fontFamily,Lato);
    display: block;
}

.THIS .card-name h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--lwc-fontFamily,Lato);
    font-size: 16px;
}

.THIS .card-text{
    font-family: var(--lwc-fontFamily,Lato);
	color: #797972;
	font-size: 14px;
    padding-bottom:10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/************************************************************
 * Hyperlink
 * ***********************************************************/

.THIS .commoncard-remove-edit{
    text-decoration: none;
	color: #0070d2;
	cursor: pointer;
	font-size: 10pt;
	font-family: var(--lwc-fontFamily,Lato);
    padding-left: 5px;
    padding-right: 5px;
}

.THIS .commoncard-edit{
    padding-left: 0;
}

.THIS .commoncard-remove-edit:hover {
    text-decoration: none;
	color: #0070d2;
	cursor: pointer;
	font-size: 10pt;
	font-family: var(--lwc-fontFamily,Lato);
}

.THIS .commoncard-remove-edit:focus {
    text-decoration: none;
	color: #0070d2;
	cursor: pointer;
	font-size: 10pt;
	font-family: var(--lwc-fontFamily,Lato);
}