.THIS .cardTitle{
	color: #080707;
    font-weight: bold;
    font-size:16px;
}

.THIS .claimsTbl tbody tr, .THIS .claimsTbl tbody tr td td{
   height: 17px;
}

/* US3476420 */
.THIS .cACET_AutoDocDataTable .FixedHeader{
    height: 230px;
}

/* US3449703 */
.THIS .searchBox {
    /* margin-right: 10%;
    margin-top: -2.6%; */
    margin-right: 106px;
}

.THIS .visibility-yes {
    visibility: visible;
}

.THIS .visibility-no{
    visibility: hidden;
}

/* US3449703 */
.THIS .cACET_ToggleButton{
    margin-left: 10px;
}

.THIS .recoveryTxt{
    background-color: yellow;
    font-size: 14px;
}

.THIS .recovery-toggle{
    position: absolute;
    right: 360px;
}