.THIS {
}

.THIS .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}
.THIS .slds-icon-action-close{
    padding:0px;
}

.THIS .searchBoxFix{
    margin-top: 7px!important;
    margin-bottom: 10px!important;
    margin-right: 0px!important;
    font-size: 13px !important;
    color: #3E3E3C !important;
    font-family: Salesforce Sans, Arial, sans-serif !important;
}

.THIS .searchBoxFix input{
    height: 30px;
    margin-left: 10px;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    width: 170px;
    padding-left: 10px;
}

.THIS.heightFix{
    height: 100%;
}

.THIS .cACET_AutodocDataTable .FixedHeader{
    height: 230px;
}