.THIS .statusIcon .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}

.THIS .statusIcon .slds-icon-action-close{
    padding:0px;
}

.THIS .headerBackground{
    background: #f3f2f2;
}
.THIS .previewTableWidth{
        overflow: auto;
}