.THIS {
}
.THIS .buttonBorderRadius{
    border-radius: 4px !important;
}
.THIS .btnclear{    
    margin-left: 380px;
    margin-top: -22px;    
}
.THIS .buttonBorderRadius{
    border-radius: 4px !important;
}
.THIS .motion-align_absolute-center {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.THIS .field-padding-top-13px{
    padding-top:13px;
}
.THIS .box-padding-top-13px{
    margin-top:13px;
}