.THIS{
}

.THIS .cardTitle{
	color: #080707;
    font-weight: bold;
    font-size:16px !important;
}
/* US2045625 - Thanish - 2nd Oct 2019 */
.THIS .financialHeader{
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .rightBorder{
    border-right: 1px solid rgb(221, 219, 218);
}

.THIS .hra_background {
    background-color: yellow;
     padding-top: 3px;
     padding-right: 3px;
     padding-bottom: 3px;
    padding-left: 3px;
}
/* US2045625 - Thanish - 2nd Oct 2019 */
.THIS .tabBottomPadding{
    padding-bottom: 0px;
}
.THIS .custom-box {
    text-align: left;
    padding: 1rem;
}
.THIS .tbl_Width {
    width:100%;
}

.THIS .slds-m-left_large {
    font-size: 13px;
    background-color: #005fb2;
    border-color: #005fb2;
    color: #ffffff;
}