.THIS .slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .slds-form-element__control{
    color: #080707 !important;
    font-size: 14px;
}

.THIS .field-title {
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .field-value{
    color: #080707 !important;
    font-size: 14px;
}
.THIS .hyperLink{
    color:#005FB2;
    font-size: 14px;
}

.THIS .boxHeadings{
    padding-top: 13px;
    padding-bottom: 16px;
}

.THIS .slds-input{
	height: 42px !important;
}
.THIS .excludeInput input{
    height: 35px !important;
}
.THIS .clearBtn{
    float:right;
    margin-right: -10px;
}

.THIS .slds-button_icon{
    margin-top:-15%;
}
.THIS .selectMemberCls{
    margin-top: 6%;
    margin-left: 4%;
}

.THIS .excludeInput .slds-listbox__option{
    padding:0px !important;
    color: #080707 !important;
    font-size: 14px;
}
.THIS .info{
    color: #3e3e3c;
    font-size: 12px;
}
.THIS .searchIcon{
     margin-top: 11px;
}
.THIS .memberCardWidth{
    width: 98%;
}
.THIS .errorMsg{
     color:#C23934;
    font-size:12px;
}
.THIS .cardHeight{
    min-height: 340px;
}
.THIS .inputsMemID .slds-input__icon-group_right{
    display: none;
}
.THIS .searchButton{
    margin-left: 19rem;
}
.THIS .cardHeightbuttonsec{
    min-height: 336.75px;
}
.THIS .cardHeightMax{
    min-height: 340px;
}
.THIS .validationErrorMsgPosition {
    margin: -6px;
}