.THIS {
   
}
.THIS.slds-spinner_container{
    background: none;
}
.THIS header-text{
    font-weight: bold;
    font-family: default;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}
.THIS .slds-button-group .slds-button:first-child{
    border-radius: 0px;
    margin-right:247px;  
    padding-right:-20px;    
}
.THIS .buttonBorderRadius{
    border-radius: 4px !important;
}
.THIS cls-FieldSet{
    border: 1px solid black;
    border-radius: 0px;
    margin-top:-12px;
}
.THIS .btnclear{    
    margin-left: 380px;
    margin-top: -22px;    
}
.THIS .cls-Interaction {    
    font-family: default;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
 }

.THIS .cls-ID {    
    font-family: default;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
 }

.THIS .cls-AS {    
    font-family: default;
    font-size: 12px;
    font-weight:bold;
    margin-left: 2px;
    margin-right: 12px;    
 }
.THIS .hide-error-message .slds-form-element .slds-form-element__help {
   display : none;
}
.THIS .motion-align_absolute-center {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.THIS .field-padding-top-13px{
    padding-top:13px;
}
.THIS .find-mbr-span{
    font-family: default;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 1px;
}
.THIS .slds-datepicker td{
    padding: 0rem;
    font-size: var(--lwc-fontSize2,0.75rem);
}