.THIS .inputSize {
    width:100%; 
}
.THIS .slds-listbox .slds-form-element__control{
    width: 40%;
}
.THIS .noborder {
  border-style: hidden !important;
    border-width:0px;
    width:97%;
    margin-left:1%;
    margin-right:1%;
    height:97%;
    margin-top:1%;
    margin-bottom:1%;
}
.THIS .uiInput--input.input:focus,.THIS .uiInput--input .input:focus,.THIS .uiInput--input.input:active,.THIS .uiInput--input .input:active {
    outline: 0;
    border-color: rgb(255, 255, 255) !important; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0px #0070d2 !important;
}
.THIS.outerScroller {
    /* fix innerScroller not scrollable */
    border-radius: 1px;
}
.THIS.innerScroller {
    /* make innerScroller rounded */
    border-radius: 10px;
}
.THIS .slds-pill-container {
    width : 60%;
}
.THIS .slds-dropdown_fluid {
    width : 30%;
}
.THIS .slds-dropdown {
    left: 46.5%;
}
.THIS .topClass {
     top:100% !important;
     bottom:auto !important;
}
.THIS .bottomClass {
    top:auto !important;
    bottom:100% !important;
}
.THIS .specialtyClass {
    font-weight : bold !important;
    font-style  : italic !important;
}
.THIS .categoryClass {
    font-weight : bold !important;
}
.THIS .benefitClass {
    font-weight : normal !important;
    font-style : normal !important;
}
.THIS #onselectplan{
    border: solid #dddbda 0.02rem;
    border-radius: 0.25rem;
    width: 53%;
}