.THIS .button_border {
    border-radius: 1px !important;
}

.THIS .Card_cls {
    font-size: 18px !important;
    font-weight: bold;
}
.THIS .slds-input__icon_left{
    display:none;
}
.THIS input[type='search']{
    padding-left:0.8rem;
}