.THIS .top_buttons {
	border-radius: unset !important;
}

.THIS .section_header .slds-accordion__summary-action {
	font-weight: bold !important;
}

.THIS .primary_indicator {
	width: 70px;
}

.THIS.umd-card .slds-card__header{
    padding: 1.2rem 1rem 1rem;
    margin: 0 0 .75rem;
    background-color: rgb(243, 242, 242);
}
.THIS .slds-input__icon_left{
    display:none;
}
.THIS input[type='search']{
    padding-left:0.8rem;
}
.THIS .updatebuttoncss{
    text-align: right;
}