.THIS .scrollbar{
  height:21rem;
  flex-shrink:0;
}

.THIS .fixedSize .slds-rich-text-editor__textarea:last-child .slds-rich-text-area__content{
  height: 6rem !important;
}

.THIS .divCss .slds-icon {
  width: 1rem;
  height: 1rem;
}

.THIS .slds-col span {
  color: #0070d2 !important; 
  text-decoration:none !important;
  font-size:14px !important;
  
}

.THIS .styling span {
  color: var(--lwc-colorTextDefault,rgba(18, 16, 16, 0.91)) !important;
}

.THIS .fileuploadButton .uiButton {
  padding-left: var(--lwc-spacingMedium,1rem) !important;
  padding-right: var(--lwc-spacingMedium,1rem) !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: var(--lwc-brandAccessible,rgb(0, 112, 210)) !important;
  border-color: var(--lwc-brandAccessible,rgb(0, 112, 210)) !important;
 /* background-color: #005fb2 !important;  
  border-color: #005fb2 !important;*/
  color: var(--lwc-colorTextButtonBrand,rgb(255, 255, 255)) !important;
}

.THIS .slds-button_brand {
  padding-left: var(--sds-c-button-brand-spacing-inline-start, var(--lwc-spacingMedium,1rem));
  padding-right: var(--sds-c-button-brand-spacing-inline-end, var(--lwc-spacingMedium,1rem));
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  background-color: #005fb2 !important;  
  border-color: #005fb2 !important;
  color: var(--sds-c-button-brand-color-text, var(--lwc-colorTextBrandPrimary,rgb(255, 255, 255))) !important;
}

                                                                                       
                                                            
.THIS .slds-button_neutral {
  padding-left: var(--sds-c-button-neutral-spacing-inline-start, var(--lwc-spacingMedium,1rem));
  padding-right: var(--sds-c-button-neutral-spacing-inline-end, var(--lwc-spacingMedium,1rem));
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  background-color: var(--sds-c-button-neutral-color-background, var(--lwc-buttonColorBackgroundPrimary,rgb(255, 255, 255)));
  border-color: var(--sds-c-button-neutral-color-border, var(--lwc-colorBorderPrimary,rgb(221, 219, 218)));
}

.THIS .tallTextArea textarea {
  min-height: 6rem;
  max-height: 6rem;
  resize: none;
}
.THIS .space{
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1900px) {
  .THIS .btnReply{
    margin-top: 162px;
  }
}

@media (max-width: 450px) {
  .THIS .mobileView {
    display: none;
  }
}
  
@media (min-width: 450px) {
  .THIS .desktopView {
    display: none;
  }
}

.THIS .test {
  color:black !important;
}