.THIS .inputSize {
    width:100%; 
}
.THIS .slds-listbox .slds-form-element__control{
    width: 40%;
}
.THIS .slds-button_icon-bare {
    display: block !important;
}

.THIS .noborder{
    border: 0px !important;
    box-shadow: none !important;
}

.THIS .input.middle:focus {
    outline-width: 0;
}
/* US1807421 - Sanka */
.THIS.cardTitle{
    height: 100%;
}
/* US2570805 - Sravan  - Start */
.THIS .nonEligibleTopic{
    background-color: #C8C8C8;
    color: white;
}
.THIS .warningText{
    color: red;
    padding-left: 12px;
}
/* US2570805 - Sravan  - Stop*/