.THIS .memCardWidthIo{
    width: 98%;
}
.THIS .memCardHeightIo{
    min-height: 250px;
}
.THIS .leftMargin{
    margin-left: -13px;
}
.THIS .leftMargins{
    margin-left: -2px;
}
.THIS .providerCardWidthIo{
    width: 99%;
}

.THIS .misdirect_button{
    width: auto !important;
}
/* DE380979 - Thanish - Snapshot duplicate fix */
.THIS .disableLink{
    pointer-events: none;
    color: gray;
    cursor: default;
}