.THIS {
}
.THIS .slds-section__title-action{
    background:none;
    box-shadow: none !important;
}
.THIS .slds-section__title-action hover{
    background:none;
}

.THIS .highlightPanelPositionSandbox {
	position: sticky;
    top: 10rem;
    width: 100%;
    z-index: 50;
    transition-delay: 500ms;
}
.THIS .highlightPanelPosition {
    position: sticky;
    top: 8rem;
    width: 100%;
    z-index: 50;
    transition-delay: 500ms;
}

.THIS .slds-pill__remove {
    display: none;
}

.THIS .matchActiveAffiliations {
    width: 49.5%;
    margin-left: 10px;
}