.THIS .messageInfoText {
    padding-right:20px;
}
.THIS .emptyBackground{
    min-height:40pc;
}
.THIS #messageInfoTextContainer {
    margin-top: auto;
    margin-bottom: auto;
}
.THIS .slds-box {
    background-color:#F3F2F2;  
}