.THIS .field-val {
    font-weight: bold;
}
.THIS .th {
    border: 1.5px solid #ddd;
    padding: 10px;
    background-color: #f2f2f2;
}
.THIS .td {
    border: 0.5px solid #ddd;
    word-wrap: break-word;
    padding: 5px;
}
.THIS .table {
    border-collapse: collapse;
}
.THIS .right {
  text-align: right;
}
.THIS .center {
  text-align: center;
}
.THIS .left {
  text-align: left;
}
.THIS.box{
   border: 2px solid orange ;
}
.THIS .cls-cart-title {
    font-size:12px;
}