.THIS .popover {
    border-radius: .25rem;
    min-height: 2rem;
    z-index: 6000;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid rgb(217, 219, 221);
}

.THIS .slds-nubbin_bottom-left{
    background-color: #16315C;
}

.THIS .slds-nubbin_bottom-right{
    background-color: #16315C;
}