.THIS .welcometext {
  font-weight: 600;
  margin: 5px 0 0;
  color: #0a0a0a;
}
.THIS .spacingLeftText{
      margin:15px 0 0;
}
.THIS .logoSpacing{
      margin-bottom:35px;
   min-width: 340px;
    margin-right: 0px;
}
.THIS .fllogomedia {
  display: none !important;
}

.THIS .subTextStyle{
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #323232;
	font-size: 14px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.THIS .p {
  display: block;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.THIS .h2 {
  display: block;
  text-align: center;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: x-large;
    color: #0a0a0a;
}

.THIS .root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



.THIS .welcome-text {
  width: 100%;
  padding: 20px 30px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 0;
  margin: 0;
}
.THIS .h3 {
  color: #323232;
}
.THIS .h4 {
  color: #323232;
}
.THIS .divstyle {
  position: relative;
  z-index: 50;
}

.THIS .loginFormStyle {
  width: auto;
  padding-left: 0%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.THIS .welcomeFormStyle {
    min-width: auto;
    padding-top: 10%;
    padding-left: 5%;
    display: static !important;
}

.THIS .leftSideSpacing {
  width: 95%;
  padding-right: 11%;
  padding-left: 0%;
}
.THIS .slds-theme_default{
   /* min-height: 100%;
    min-width: 100%;
    position: initial;
    left:20px;
    right:1px;
    bottom:0px;
    top:0px;
    left:0px;
    Padding-left: 5px;*/
}
.THIS .slds-box{
    
}

.THIS .BackImg{
   max-width: 900px;
    padding-bottom: 0px;
     
}
.THIS .welcomeFormStyleLayout {
    background: rgb(251,249,242,.8);
    opacity: 10;
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    
    
    /*
      background: rgb(251,249,242,.8);
    opacity: 10;
    left: 13%;
    background: rgba(255,255,255,.8);
    opacity:8;
    margin-top: 80px; 
    padding: 0px 0px 0px 0px !important;
    width: 200%;
    height:300%;
    position:relative;*/
 
}
.THIS .Loginthemelayout{
    width:auto;
    height: auto;
    position:fixed;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    overflow-y: scroll;
    
}
/* Hide scrollbar for Chrome, Safari and Opera */
.THIS .Loginthemelayout::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.THIS .Loginthemelayout {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.THIS .slds-border_right{
    
   border-right: 0.0px solid #fefbef;
}
/*
 * 
    background-size: cover;
    background: var(--lwc-LoginBackgroundImage,url()) 50% 50%/cover no-repeat fixed #fbf9f2;
    min-height: 200%;
    width: max-content;
    text-align: left;
    position: initial;
    font-family: var(--lwc-fontFamily,Lato);
    display: flex;
    align-items: start;
.THIS .salesforceIdentityLoginBody2 {
    overflow:hidden;
background-size: cover;
}

.THIS .salesforceIdentityLoginBody2 .cCenterPanel .slds-col--padded .ui-widget{
    width:100% !important;
}
*/
.THIS .welcomeTextRightSide{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #000000;
	font-size: 16px;
    line-height: 25px;
    text-align : left ;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.THIS .MobileBackImg{
    
    display: None !important;
}
/*
 * Mobile Version
 * */
@media only screen and (min-width: 320px) and (max-width: 600px){
    .THIS .mobilescreen{
        display: None !important;
    }
    .THIS .MobileBackImg{
    
       display: flex !important;
    width: 396px;
        
}
   .THIS .leftSideSpacing{
        width: 320px;
    padding-right: 1px;
    padding-left: 0px;
        
        
        
    }
    
     .THIS .welcomeFormStyle{
    
        width: 0px;
        left:0px;
    }
    
    .THIS .mobileCenterAlign{
        width: 110%;
        position: relative;
        
    }
    .THIS .logoSpacing{
        padding-left: 35px;
        width: 350px;
        padding-top: 0px;
        margin-bottom: 15px;
        
    }
    
    /*.THIS .BackImg{
    
    padding-top: 20px;
    height: 300px;
    width: 110px;
} */
     

    .THIS .welcomeTextRightSide{
        
    width: 140%;        
      padding-left: 28px;
    }
    
  
  .THIS .cLoginForm .forgot-password-link{
        width: 218px;
        padding-left: 28px;
    } 
    
  .THIS .cLoginForm #sfdc_username_container {
    padding-bottom: 1px;
    padding-left: 28px;
}
.THIS .cLoginForm #sfdc_password_container {
    padding-bottom: 0px;
    padding-left: 28px;
}    
 .THIS .cLoginForm button.sfdc_button {
        padding-bottom: 0px;
        margin-left: 28px;
        height: 40px;
        padding-top: 0px;
        font-size: 1.2em;
    }
    
    /*width: 480px ;
    width: 100vw !important;
    height:vw  !important;*/
    
}

/*
 * Mobile Version1
 * */
@media only screen and (max-width: 320px){
    .THIS .Loginthemelayout{
         width:auto;
    height: auto;
    position:fixed;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    }
    .THIS .MobileBackImg {
    display: flex!important;
    width: 320px;
    height: 150px;
    }
    .THIS .logoSpacing{
        padding-left: 10px;
        width: 200px;
        padding-top: 0px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
}

/*
 * MAC DeskView
 * */

@media only screen and (min-width: 1440px ) and (max-width:1950px){
     .THIS .BackImg{
        max-width: 100%;
        padding-bottom: 0;
        height: auto;
       
    }
     .THIS .welcomeFormStyle{
        width: 110%;
        padding-top: 10%;
        height: fit-content;
    }
    .THIS .welcomeFormStyleLayout {
        background: rgb(251,249,242,.8);
        opacity: 10;
        position: relative;
        width: auto;
        display: flex;
    
    }

}
/*
 * ipad  - vertical Version
 * */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
     .THIS .mobilescreen{
        display: None !important;
    }
    .THIS .MobileBackImg{
        display: flex!important;
        position: relative;
        left: -1%;
        right: 0%;
        width: 224%;
        top: 0px;
        height: auto;
        margin-top: 7px;  
        margin-bottom: 30px;
}
   .THIS .leftSideSpacing{
        width: 320px;
    padding-right: 1px;
    padding-left: 0px;
    
    }
    
     .THIS .welcomeFormStyle{
    
        width: 0px;
        left:0px;
    }
    
    .THIS .mobileCenterAlign{
        width: 110%;
        position: relative;
        
    }
    .THIS .logoSpacing{
        width: 175%;
        height: auto;
        position: relative;
        left: 25px;
        top: 651px;
        margin-top: -130px;
        margin-bottom: 40px;
      
    }
    
    
    .THIS .welcomeTextRightSide{
        
    width: 140%;        
      padding-left: 28px;
    }
    
  
  .THIS .cLoginForm .forgot-password-link{
        width: 218px;
        padding-left: 28px;
    } 
    
  .THIS .cLoginForm #sfdc_username_container {
    padding-bottom: 1px;
    padding-left: 28px;
}
.THIS .cLoginForm #sfdc_password_container {
    padding-bottom: 0px;
    padding-left: 28px;
}    
 .THIS .cLoginForm button.sfdc_button {
        padding-bottom: 0px;
        margin-left: 28px;
        height: 40px;
        padding-top: 0px;
        font-size: 1.2em;
    }
    
    .THIS .layoutFullLoginPage{
     width:auto;
    height: auto;
    position:fixed;
    display: block;
    
    
}
    .THIS .welcomeFormStyleLayout {
    background: rgb(251,249,242,.8);
    opacity: 10;
    position: relative;
    height: 1524px;
    width: auto;
    display: flex;
    }
    
}

/*
 * Ipad/tablet - horizontal Version
 * */
@media only screen and (min-width: 768px)and (max-width:1024px) and (orientation : landscape){
    
    .THIS .BackImg{
        height: 100%;
    	display: flex; 
        top: 0%;
		bottom: 0%;
    }
    
    .THIS .welcomeFormStyle{
        
             width: 389px;
        padding-top:15%;
        padding-right:0px;
    }
    .THIS .Loginthemelayout{
         width:auto;
    height: auto;
    position:fixed;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    }
    
     .THIS .welcomeFormStyleLayout {
    background: rgb(251,249,242,.8);
    opacity: 10;
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    }
}


/*
 * ipad air - horizontal Version
 * */
@media only screen and (min-width: 820px) and (max-width:1180px) and (orientation : landscape){
   .THIS .Loginthemelayout{
         width:auto;
    height: auto;
    position:fixed;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    }
    .THIS .cforgotPassword .input{
       font-size:20px;
    }
     .THIS .welcomeFormStyleLayout {
    background: rgb(251,249,242,.8);
    opacity: 10;
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    }
    
    .THIS .BackImg{
    display: flex !important;
      height: 100%; 
       
    }
    .THIS .welcomeFormStyle{
        
             width: 580px;
        padding-top:15%;
        padding-right:0px;
    }
     
}

/*
 * ipad air - vertical Version
 * */
@media only screen and (min-width: 820px) and (max-width: 1180px) and (orientation: portrait) {
    
    .THIS .Loginthemelayout{
         width:auto;
    height: 1178px;
    position:fixed;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    }
    
    .THIS .mobilescreen{
        display: None !important;
    }
    .THIS .MobileBackImg{
        display: flex!important;
        position: relative;
        left: -1%;
        right: 0%;
        width: 240%;
        top: 0px;
        height: auto;
        margin-top: 0px;  
        margin-bottom: 30px;
}
   .THIS .leftSideSpacing{
        width: 320px;
    padding-right: 1px;
    padding-left: 0px;
        
        
        
    }
    
     .THIS .welcomeFormStyle{
    
        width: 0px;
        left:0px;
    }
    
    .THIS .mobileCenterAlign{
        width: 110%;
        position: relative;
        
    }
    .THIS .logoSpacing{
        width: 175%;
        height: auto;
        position: relative;
        left: 25px;
        top: 668px;
        margin-top: -130px;
        margin-bottom: 40px;
      
    }
    

    .THIS .welcomeTextRightSide{
        
    width: 140%;        
      padding-left: 28px;
    }
    
  
  .THIS .cLoginForm .forgot-password-link{
        width: 218px;
        padding-left: 28px;
    } 
    
  .THIS .cLoginForm #sfdc_username_container {
    padding-bottom: 1px;
    padding-left: 28px;
}
.THIS .cLoginForm #sfdc_password_container {
    padding-bottom: 0px;
    padding-left: 28px;
}    
 .THIS .cLoginForm button.sfdc_button {
        padding-bottom: 0px;
        margin-left: 28px;
        height: 40px;
        padding-top: 0px;
        font-size: 1.2em;
    }
    
    .THIS .layoutFullLoginPage{
     width:auto;
    height: auto;
    position:fixed;
    display: block;
    
    
}
    .THIS .welcomeFormStyleLayout {
    background: rgb(251,249,242,.8);
    opacity: 10;
    position: relative;
    height: 1493px;
    width: auto;
    display: flex;
    }
    
    
    
}