.THIS .tableWidth{
    table-layout: auto;
    width: 100%;  
    table-layout: auto;
}

.THIS .tableHeader{
    background-color: #fafafa;
}

.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
}

.THIS .detailButton{
    background-color: #fafafa;
    font-weight: bold;
    color: black;
}

.THIS .sortingArrow{
    width:15px;
    height:12px;
}

.THIS .messageBold{
    font-weight:bold;
}

.THIS .content_wrapper{
    height: 450px;
    overflow: auto;
    padding-top:10px;
}