.THIS .heightText textarea {
  height: 9rem;
}
.THIS textarea {
    resize:none;
}
.THIS .display-none{
    display:none;
}
.THIS .submitterLabelCls .slds-form-element__icon{
    display: none;
}
.THIS .taxIdLabelCls .slds-form-element__icon{
    display: none;
}
.THIS .accountCls .slds-form-element__icon{
    display: none;
}
.THIS .red
{
    color:red;
}
.THIS .hideIcon .slds-form-element__icon{
    display: none !important;
}