.THIS {
}


.THIS .cACET_AutoDocCard .slds-form-element__label{
    display: flex;
}


.THIS .card_buttons {
    font-weight: normal;
    top: 20px;
    right: 110px;
    z-index: 1;
}

.THIS .neutral_button {
    font-size: 15px;
    background-color: #ffffff;
    border-color: #dddbda;
    color: black;
}

.THIS .cACET_AutoDocCard {
    margin-top: 0px;
    padding-top: 0px;
}