/* US2543182 - Thanish - 13th May 2020 */
.THIS .hide{
    display: none;
}

.THIS.FixHeight{
    height: 100%;
}

.THIS .floatRight{
    float: right;
}
.THIS .itemWidth{
    width: 20%;
}
.THIS .dashedLine{
    border-bottom: 1px dashed;
}
.THIS .bottomSpace
{
    margin-bottom: 16px;
}