.THIS{
    font-size: 14px;
}

.THIS .right-align{
    text-align: right;
}
.THIS .left-align{
    text-align: left;
}

.THIS .slds-progress-bar{
    background: #949494;
}

.THIS .slds-progress-bar__value{
    background:#3296ED;
}

.THIS .boldedTitle{
    font-weight: bold;
}

.THIS .dashedLine{
    border-bottom: 1px dashed;
}