.THIS .cardTitle{
	color: #080707;
    font-weight: bold;
    font-size:16px;
}

.THIS .btnSize{
    width: 80px;
}

.THIS .claimsTbl tbody tr, .THIS .claimsTbl tbody tr td td{
   height: 17px;
}

/*
.THIS .highlight{
    background : #F6FF33;
}
*/
.THIS .srchFilter{
    padding-left:90px;
    padding-right:1px;

}
.THIS .chckBx{
    padding-left:570px;
    padding-top:35px;
    position: relative;
    left: 100px;

}
.THIS .btnGroupClass {
	padding-left: 30% !important;
}
.THIS .clsSearch{
   padding-left:120px;

}