.THIS .slds-change-color{
    background-color: black;
}
.THIS .SNI_FL_ModalTitle{
    text-transform: uppercase;
    color: white !important;
    font-size: 22px;
    text-align: left !important;
}
.THIS .slds-modal__header,
.THIS .SNI_FL_GradientTitle{
    background: -webkit-gradient(linear, left top, right top, from(#122377), to(#009EB4)) !important;
}
.THIS .privacy-modal .modal-header h4 {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}
.THIS .slds-modal__container{
    padding-top: 6%;
    padding-bottom: 6%;
    width: 85% !important;
    max-width: 90% !important;
}
.THIS .privacy-modal .modal-body .body-content {
    position: relative;
    height: 100%;
    padding-bottom: 15px;
}
.THIS .privacy-modal h1 {
    font-weight: 500;
    color: #122377;
    font-size: 24px;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.THIS .privacy-modal h2 ,
.THIS .privacy-modal h3 {
    font-weight: 500;
    color: #122377;
}
.THIS .privacy-modal h4 {
    font-weight: 500;
    color: #122377;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.THIS .privacy-modal h5 {
    font-weight: 500;
    color: #122377;
    display: block;
    font-size: 1em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.THIS .privacy-modal .modal-body h4 {
    text-transform: uppercase;
    margin: 0;
}
.THIS .privacy-modal {
    line-height : 20px;
}
.THIS .privacy-modal p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #797972;
}
.THIS .slds-col {
    padding: 0 !important;
}
.THIS ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #797972;
}
.THIS li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.THIS.slds-modal.slds-fade-in-open {
    opacity: 1;
    background: rgba(14, 30, 107, 0.7) !important;
    visibility: visible;
    transition: opacity 0.1s linear;
}
.THIS .terms-modal h1 {
    font-weight: 500;
    color: #122377;
    font-size: 24px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.THIS .terms-modal p  {
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #797972 !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}
.THIS .ql-table-blob{
    color: #797972;
}
.THIS .terms-modal ul{
    color: #797972;
}
.THIS .SNI_FL_PolicyPage {
    background: white !important;
}

/* Regarding Mobile Devices*/
@media (max-width: 960px){
    .THIS .slds-modal__container {
        padding-top: 6%;
        padding-bottom: 6%;
        width: 90% !important;
        max-width: 90% !important;
    }  
}
@media (max-width: 567px){
    .THIS .slds-modal__container {
        padding-top: 30%;
        padding-bottom: 6%;
        width: 82% !important;
        max-width: 85% !important;
    }  
}