.THIS .statusIcon .slds-icon-action-approval{
    background:#76b74e;
    padding:0px;
}

.THIS .statusIcon .slds-icon-action-close{
    padding:0px;
}

.THIS .highlight{
    background : #F6FF33;
}

.THIS .truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.THIS .trunc {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .width10 {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.THIS .width20 {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}

.THIS .width4 {
    width: 4%;
    min-width: 4%;
    max-width: 4%;
}

.THIS .width12 {
    width: 12%;
    min-width: 12%;
    max-width: 12%;
}


.THIS .width15 {
    width: 15%;
    min-width: 15%;
    max-width: 15%;
}

.THIS .width16 {
    width: 16%;
    min-width: 16%;
    max-width: 16%;
}

.THIS .width22 {
    width: 22%;
    min-width: 22%;
    max-width: 22%;
}

.THIS .width17 {
    width: 17%;
    min-width: 17%;
    max-width: 17%;
}

.THIS .width6 {
    width: 6%;
    min-width: 6%;
    max-width: 6%;
}

.THIS .width7 {
    width: 7%;
    min-width: 7%;
    max-width: 7%;
}
.THIS .slds-card{
    margin-top: 0px !important;
}
/* DE373862 - Thanish - 8th Oct 2020 */
.THIS .noUnderline{
    text-decoration: none;
}
.THIS .noTopBorder{
    border-top: none;
}
.THIS .noBottomBorder{
    border-bottom: none;
}
.THIS .centerTexts{
    text-align: center;
}
.THIS .warningFont{
    color: gray;
    font-size: 16px;
}
.THIS .autodocWarningIcon svg{
    /* fill: white; */
}
.THIS .autodocWarningIcon{
    margin-right: 10px;
}