.THIS #sfdc_username_container .sfdc_usernameinput {
  padding: 3px;
  background-color: white;
  border: 1px solid #150803;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}

.THIS #sfdc_username_container{
    padding-bottom:10px;
    padding-top:12px;
    padding-right: 36px;
}
.THIS #sfdc_password_container{
    padding-top:12px;
    padding-right: 36px;
}
.THIS .UsernameStyle{
    
    color: #0a0505;
    font-weight: bold;
    font-weight: 700;
}

.THIS .sfdc_username_container:focus{
    outline:none;
    border-color:azure;
}

.THIS #sfdc_user {
  float: left;
  width: 23px;
  height: 25px;
  padding-top: 1px;
  padding-left: 2px;
  margin: 0px;
}

.THIS #sfdc_lock {
  float: left;
  width: 23px;
  height: 25px;
  padding-top: 1px;
  padding-left: 2px;
  margin: 0px;
}

.THIS #error {
  text-align: center;
  color: #FF0000;
}

.THIS #errorSpan {
  height: 100%;
}

.THIS .login-icon {
  color: #ccc;
  font-size: 22px;
}

.THIS #sfdc_password_container .sfdc_passwordinput {
  padding: 3px;
  background-color: white;
  border: 1px solid #150803;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}

.THIS button.sfdc_button {
  margin-top: 1px;
  margin-bottom: 5px;
  color: #fff;
  background-color: #0070d2;
  border-color: #357ebd;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 5px 5px 4px;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42857143;
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width:100px;
    margin-left:3px;
 	
 	
}

.THIS button:hover {
  background-color: #3276b1;
  border-color: #285e8e;
  cursor: pointer;
}

.THIS button .label {
  color: #fff;
}

.THIS input {
  margin-top: 3px;
  border: 0px solid transparent;
  width: 100%;
  -webkit-appearance: none;
  font-size: 14px;
}

.THIS .forgot-password-link{
	
    text-align: left;
    font-size: 0.0em;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding-top: 18px;
    font-weight: 700;
    
}
.THIS a {
  color: #2873c9 !important;
  text-decoration: none;
}
.THIS a:hover {
  color: white;
  text-decoration: none;
}

.THIS label.uiLabel-hidden {
  display: none;
}