.THIS .slds-truncate {
    text-overflow: inherit !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important; 
    
}


.THIS .slds-text-title_caps {
    font-size: .8rem;
    line-height: normal;
    color: rgb(81, 79, 77);
    font-weight: 700;
    text-transform: inherit !important;
    letter-spacing: .0rem !important;
    font-weight: bold !important;
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
}
.THIS .slds-button_icon-bare{
	display: none;
}
.THIS .slds-table thead th {
    background-color: rgba(255, 255, 255)!important;
}
.THIS .slds-table tbody tr:hover td {
     background-color: white !important;
 }
.THIS .slds-table tbody tr:hover th {
     background-color: white !important;
 }


.THIS .slds-table {
  table-layout: fixed;
  margin:  auto;

}

.THIS .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* TOOLIP */

.THIS .tblCase a.tooltip {
	outline: none;
}

.THIS .tblCase a.tooltip strong {
	line-height: 30px;
}

.THIS .tblCase a.tooltip:hover {
	text-decoration: none;
}

.THIS .tblCase a.tooltip span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 28px;
	width: 300px;
	line-height: 16px;
}

.THIS .tblCase a.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: white;
}

.THIS .tblCase .callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}


/*CSS3 extras*/

.THIS .tblCase a.tooltip span {
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}


.THIS .dataTables_filter{
    color: #333;
    margin-bottom: .5rem;
}
.THIS .tblCase tr:hover .spnTooltip {
	display: inline;
	width: auto;
    word-wrap: break-word !important;
	color: #111;
	background: white;
    z-index: 4000 !important;
    border: 1.5px solid black;
    position: fixed;
    padding: 14px 20px;
	top: 10%;
	left: 30%;
	

}

            
.THIS .tblCase .callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}


.THIS .tblCase td {
  white-space: nowrap !important;
    text-align: left;
    padding: 10px 18px !important;

}
.THIS .tblCase th {
  white-space: nowrap !important;
    text-align: left;
        padding: 10px 18px !important;

}
.THIS .selected_page_cls{
        color:orange;
}