.THIS .mainDiv {
    display: flex !important;
    align-items: flex-start !important;
}

.THIS .clsIcon {
    padding-top: 20px;
    padding-left: 16px;
    z-index: 9999;
    border-width: 2px;
    transform: scale(0.75);
}

.THIS .clsInfo {
    padding-left: 10px;
    padding-top: 10px;
}

.THIS .clsIcon:hover {
    opacity: 0.7;
}

.THIS .clsInfo:hover {
    text-decoration: underline;
    color: cornflowerblue;
    opacity: 0.9;
}