/*.THIS .header-column{
    margin:0 0 0 -5%;
}
.THIS .slds-form-element__label{
    padding-top:0px;
    width:100px;
    margin: -52% -1% 10% -17%;
}
.THIS .slds-form-element__control{
   width:60px;
    margin:-3% -1% 2% -15%
}
.THIS .slds-section__content slds-p-left_xx-large{
    width:3000Px;
    margin: 1 0 0 -4%;
}*/