/*
*@font-face is used to grab custom fonts from static resources through a Salesforce Community  
*/
@font-face{
    font-family: 'UHCSerifHeadline-Semibold';
    src: url(/myfamilylink/s/sfsites/c/resource/UHCSerifHeadlineSemibold) format('woff');   
}

@font-face{
    font-family: 'UHCSans-Medium';
    src: url(/myfamilylink/s/sfsites/c/resource/UHCSansMedium) format('woff');
}
@font-face{
    font-family: 'UHCSans-Bold';
    src: url(/myfamilylink/s/sfsites/c/resource/UHCSansBold) format('woff');
}

.THIS .TestVerifyBox{
    width: 450px;
    height: 250px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.THIS .custom-height{
    width: 695px;
    min-height: 675px;
    background: #F5F5F5;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 0px;
}
.THIS .custom-height1{
    padding-bottom:10px;
    padding-top: 50px;
    padding-left:50px;
    padding-right:50px
}
.THIS .headerImages{
    width: 40px;
    height: 40px;
    
}
.THIS .line {
    width: 15%;
    background-color: gray;
    height: 1px;
    display: inline-block;
    padding-bottom: 2px;
}
.THIS .buttonSpace {
    width: 46%;
}
.THIS .flogo{
    width:290px;
    margin-top:20px;
}
.THIS .identify{
    /*width: 77px;*/
    margin: 3% -3% 0 0%;
    color: rgb(21, 21, 21);
    font-size: 14px;
    /*font-family: OptumSans;*/
    font-weight: 500;
    text-align: center;
    letter-spacing: 0px;
}

.THIS .identify1{
    margin-left: 15%;
}

.THIS .content{
   /* width: 283px;
    color: rgb(74, 74, 74);
    font-size: 15px;
    font-family: OptumSans;
    font-weight: 500;
    margin-bottom:10px;*/
     width: 500px; 
    /*font-family: Optum Sans;*/
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;  
    
    padding-left: 20px;
}
.THIS .customdude{
    width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;  
    
    padding-right: 47px;
}

.THIS .customdude{
    width: 695px;
}

.THIS .inputField{
    width: 290px;
    padding-bottom :10px;
}
.THIS .slds-input{
    border-color: rgb(29, 29, 29);
    
    
}

.THIS .canbutton{
    width: 112px;
    border-radius: 20px;
    background: rgb(126, 123, 123);
    height: 40px;
    color: rgb(255, 255, 255);
    /*font-family: OptumSans;*/
    font-size: 18px;
    font-weight: 500;
}
.THIS .subButton{
    border-radius: 20px;
    background: rgb(218, 219, 220);
    height: 40px;
    width: 112px;
    color: rgb(255, 255, 255);
    /*font-family: OptumSans;*/
    font-size: 14px;
    font-weight: 500;
}
.THIS .subButton1{
    border-radius: 20px;
    height: 40px;
    width: 112px;
    color: rgb(255, 255, 255);
   /* font-family: OptumSans;*/
    font-size: 14px;
    font-weight: 500;
    background: rgb(0, 38, 119);
}

.THIS .receive{
    width: 320px;
    color: rgb(58, 57, 57);
    font-size: 14.22px;
    /*font-family: 'Optum Sans';*/
    font-weight:  700;
    letter-spacing: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 20px;
    font-style: normal;
}

.THIS .receive1{
    width: 435px;
    height: 20px;
    /*font-family: 'Optum Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 14.22px;
    line-height: 20px;
    color: #333333;
}
.THIS .span.slds-form-element__label{
    /*height: 14px;
    color: rgb(58, 57, 57);
    font-size: 12px;
    font-family: 'Optum Sans';
    font-weight: normal;
    letter-spacing: 0px;
    font-family: 'Optum Sans';*/
    font-style: normal;
    font-weight: 700;
    font-size: 14.22px;
    line-height: 20px;
    color: rgb(58, 57, 57);
    padding-top:10px;
    
}
.THIS .confirm{
    /*margin-left:-10px;*/
    margin-top:10px;
    
    width: 290px;
    height: 22.4px;
    color: rgb(58, 57, 57);
    font-size: 14px;
    /*font-family:OptumSans;*/
    font-weight: 500;
    line-height: 22.4px;
}
.THIS .BackImage{
    
    min-width: 100%;
    height: 122%;
}
.THIS .logoSpacing{
    padding-top:10px;
    margin-left:20px;
    width:390px;
}


/* Verification screen css */

.THIS .divbox{
    width: 430px;
    height: 400px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}
.THIS .left{
    float:left;
}
.THIS .logo{
    width:340px;
}
.THIS .pTag{
    width: 250px;
    height: 20px;
    color: rgb(58, 57, 57);
    font-size: 26px;
    /*font-family: OptumSans;*/
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    
}
.THIS .verify{
    /*
    width: 370px;
    color: rgb(58, 57, 57);
    font-size: 16px;
    font-family: OptumSans;
    font-weight: 500;
    letter-spacing: 0px;
    margin-top:6px; */
    
    width: 347px;
    height: 84px;
   /* font-family: 'Optum Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.THIS .inputVerification{
    width: 370px;  
    color: rgb(58, 57, 57);
    font-size: 18px;
    /*font-family: OptumSans;*/
    font-weight: 500;
    letter-spacing: 0px;
    margin-top:5px;
    text-align : left;
}
.THIS .slds-form-element__label{
    color: rgb(58, 57, 57);
    font-size: 14px;
   /* font-family: OptumSans;*/
    font-weight: bold;
    letter-spacing: 0px;
    padding-top:10px;
    
}
.THIS .cbutton{
    width: 182px;
    height: 32px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1px;
    color: black;
    font-size: 18px;
    /*font-family: OptumSans;*/
    font-weight: 500;
    text-align: center;
    margin-top:6px;
    
}
.THIS .vbutton{
    
    width: 150px;
    height: 32px;
    background: rgb(0, 38, 119);
    border: 1px solid rgb(126, 123, 123);
    border-radius: 20px;
    color:white;
    margin-top:6px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
   /* font-family: OptumSans;*/
    font-weight: 500;
    
    /*width: 69px;
    height: 24px;
    
    font-family: 'Frutiger LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center; */
}
.THIS .vbutton1{
    width: 150px;
    height: 32px;
    background: rgb(126, 123, 123);
    border: 1px solid rgb(126, 123, 123);
   border-radius: 15px;
    color:white;
    margin-top:6px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
   /* font-family: OptumSans;*/
    font-weight: 500;
}
.THIS .resend{
    
    margin-top:6px;
    text-align: center;
}
.THIS .resend1{
    color:#002677;
    font-size: 16px;
    /*font-family: 'Frutiger LT Pro';*/
    font-weight: 500;
    letter-spacing: 0px;
    font-weight: bold;
    
}

/* 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

.THIS .tpolicy {
margin-bottom: -12%;
}
.THIS .field{
margin-bottom:5px;
}
.THIS .ubutton{
width: 112px;
height: 40px;
color:white;
background: rgb(126, 123, 123);
border-radius: 20px;
}

.THIS .activebutton{
width: 112px;
height: 40px;
color:white;
background: rgb(0, 38, 119);
border-radius: 20px;
}
}*/

@media only screen and (max-width : 600px) {
    
    
    .THIS.custom-height{
        width: 50vw;
        background: rgb(244, 244, 244);
        
    }
    .THIS .slds-card{
        border: none !important;
    }
    .THIS .content{
        /*width: 248px;
        font-family: 'Optum Sans';*/
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px; 
        color: #000000;
        padding-left: 80px;
        padding-bottom: 20px;
    }
    .THIS .inputField{
        width: 290px;
        padding-bottom :10px;
    }
    
    .THIS .field{
        margin-bottom:5px;
    }
    .THIS .line {
        width: 15%;
        background-color: gray;
        height: 1px;
        display: inline-block;
        padding-bottom: 2px;
    }
    .THIS .identify{
        width: 77px;
        color: rgb(21, 21, 21);
        font-size: 12px;
        /*font-family: OptumSans;*/
        font-weight: 500;
        text-align: center;
        letter-spacing: 0px;
    }
    .THIS .confirm{
        margin-left:5px;
        margin-top:10px;
    }
    .THIS .canbutton{
        width: 112px;
        border-radius: 20px;
        background: rgb(126, 123, 123);
        height: 40px;
        color: rgb(255, 255, 255);
       /* font-family:OptumSans;*/
        font-size: 18px;
        font-weight: 500;
    }
    .THIS .subButton{
        border-radius: 20px;
        background: rgb(218, 219, 220);
        height: 40px;
        width: 112px;
        color: rgb(255, 255, 255);
        /*font-family: OptumSans;*/
        font-size: 14px;
        font-weight: 500;
    }
    
    .THIS .subButton1{
        border-radius: 20px;
        height: 40px;
        width: 112px;
        color: rgb(255, 255, 255);
       /* font-family: OptumSans;*/
        font-size: 14px;
        font-weight: 500;
        background: rgb(0, 38, 119);
    }
    
    /* Verification Screen css  */
    
    .THIS .mbl{
        width:250
            px;
        height: 500px;
    }
    .THIS .card{
        background: rgba(255,255,255,.8);
    	opacity:0.5;
        text-align: center;
        padding:50px;
        height:500px;
    }
    .THIS .divbox{
        width: 430px;
        height: 350px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 3px;
        padding : 20px;
        text-align: center;
    }
    .THIS .logo{
        width:240px;
    }
    .THIS .pTag{
        width: 184px;
        height: 18px;
        color: rgb(58, 57, 57);
        font-size: 18px;
       /* font-family: OptumSans;*/
        font-weight: bold;
        letter-spacing: 0px;
        text-align: center;
    }
    .THIS .verify{
        width: 278px;
        color: rgb(58, 57, 57);
        font-size: 14px;
       /* font-family:'Optum Sans';*/
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0px;
        margin-top:6px;
        text-align: center;
    }
    .THIS .inputVerification{
        width: 278px;
        margin-top:5px;
    }
    .THIS .slds-form-element__label{
        color: rgb(58, 57, 57);
        font-size: 12px;
        /*font-family: OptumSans;*/
        font-weight: 500;
        padding-top:10px;
        
    }
    .THIS .cbutton{
        width: 136px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 1px;
        margin-top:4px;
        color: black;
        font-size: 14px;
       /* font-family: OptumSans;*/
        font-weight: bold;
    }
    .THIS .vbutton{
        
        width: 136px;
        background: rgb(0, 38, 119);
        border: 1px solid rgb(126, 123, 123);
        border-radius: 10px;
        margin-top:3px;
        color: rgb(255, 255, 255);
        font-size: 14px;
       /* font-family: OptumSans;*/
        font-weight: bold; 
        
        
    }
    .THIS .vbutton1{
        width: 136px;
        background: rgb(126, 123, 123);
        border: 1px solid rgb(126, 123, 123);
        border-radius: 10px;
        margin-top:3px;
        color: rgb(255, 255, 255);
        font-size: 14px;
       /* font-family: OptumSans;*/
        font-weight: bold;
    }
    .THIS .resend{
        width: 82px;
        margin-top:4px;
        margin-left:8px;
    }
    .THIS .resend1{
        color:#002677;
        font-size: 14px;
       /* font-family: 'Frutiger LT Pro';*/
        font-weight: 500;
        letter-spacing: 0px;
        text-align:center;
    }
    
}
/*
.THIS{
background-image: url('/myportal/resource/1655105536000/SNI_FL_backgroundImage_min') !important; 
}
*/