.THIS .centerTexts{
    text-align: center;
}
.THIS .closeCross{
    float: right;
    margin-top: -3%;
    border-color: white;
    font-weight: bold;
    padding-bottom: 2%;
    background-color: white;
}
.THIS .component_title 
{
    font-weight: bold;
}
.THIS .popupStyle
{
    padding-left: 15px;
    padding-top: 15px;
    margin-left: -30%;
    width: 170%;
}
.THIS .FixedHeader {
    overflow-y: auto;
    max-height: 316px;
    width: 100%;

}
.THIS .paddingAdd {
    padding-left: 14px !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-right: 14px !important;

}
.THIS .FixedHeader thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}
.THIS .card_element_bottom_margin {
    margin-bottom: 12px;
}

.THIS .slds-spinner_container.sendToSpinner  {
    margin-top: 20%;
    margin-bottom: 20%; 
}

.THIS .disableLink{
    pointer-events: none !important;
    cursor: default;
    color: gray;
}