.THIS {
    
}

.THIS .card_buttons{     
    font-weight: normal;
    top:18px;
    right:18px;    
    z-index: 1;
}

.THIS .providerLink{
    position: absolute;
    top: 50px;
    left: 16px;
    font-size: 16px;
    z-index: 1;
}

.THIS .contentSection{
    margin-top: 40px;
}

.THIS .cACET_AutodocCard{
    background: transparent;
}