.THIS .contractDetailsWidth{
    width: 65%;    
}
.THIS .timelyfilingWidth{
    width: 35%;    
}
.THIS .closeBtn svg{
    color: black !important;
    border: none !important;
}
.THIS .floatLeft{
    float: left;
}
/* US2848719 - Thanish - 26th Mar 2021 */
.THIS .feeScheduleBtn{
    float: right;
}