.THIS .divbox {
    border: 1px solid #00BED5; 
    background:#FFFFFF;
    border-radius:6px;
    max-width:815px;
    width: 100%;
    margin-left:-10px;
    padding-top:16px;
    padding-bottom: 12px;
}
.THIS .recent{
    font-family:Arial, Helvetica, sans-serif;
    margin-left:20px;
    font-size:24px;
    color:#000000;
    text-align: left;
}

.THIS .name {
    margin-left: 10px;
    font-size:16px;
    color: #002677;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.THIS .message {
    margin-left: 40px;
    font-size:16px;
    color: #6E6E6E;
    text-align:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;

}
.THIS .message span{
    color:#000000 !important;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .iconmoving svg{
    margin-left: -34px;
    width: 34px;
    height: 24px;
    fill : #196ECF;
        
}
.THIS .message1 {
    margin-left: 40px;
    font-size:15px;
    color: #000000;
    text-align:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    /*font-weight:bold;*/
}
.THIS .view {
    color:#196ECF;
    font-size:14px;
    margin-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 17px;
  }
.THIS .view1 {
    color:#196ECF;
    font-size:14px;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 14px;
  } 
.THIS .empty{
    text-align: left;
    font-size:14px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.THIS .icon svg {
    fill:red;
   
}

.THIS .slds-form-element__label  {
    display: none;
}

@media only screen and (min-width: 576px) and (max-width:  992px){

    .THIS .grid-element-field {
        margin-top: 10px;
        margin-left: 26px;
        width: 100%;
        max-width: 300px;
        min-width: 200px;
    }
    
}
@media (max-width: 575px){

.THIS .divbox {
   border: 1px solid #00BED5; 
   background:#FFFFFF;
   border-radius:6px;
   width: 100%;
   margin: 0 auto;
   margin-bottom: 16px;
   padding-top:16px;
   padding-bottom: 12px;
}

.THIS .slds-col {
   padding-left: 0px;
}
.THIS .recent{
    font-family:Arial, Helvetica, sans-serif;
    margin-left:20px;
    font-size:24px;
    color:#000000;
    text-align: left;
}
.THIS .message {
    margin-left: 38px;
    font-size:16px;
    color:#000000;
    text-align:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
}    
.THIS .message1 {
    margin-top: 4px;
    margin-left: 42px;
    font-size:16px;
    color:#000000;
    text-align:justify;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .name {
   margin-left: 9px;
   font-size:16px;
   color:#002677;
   text-align:left;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
}
    
.THIS .view {
   color:#196ECF;
   font-size:10px;
   margin-left: 14px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 17px;
}
.THIS .view1 {
   color:#196ECF;
   font-size:10px;
   margin-left: 6px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 17px;
}     
.THIS .slds-form-element__control {
    }

}