.THIS .backPanel{
    background:white;
    width: 100%;
    min-height:5rem;
    padding-bottom: 2%;
    padding-right: 2%;
}
.THIS .button-panel{
    padding-bottom:20px;
}
.THIS .button-style{
    margin-right:20px;
}
.THIS .slds-button_icon-bare{
    display: none;
}
.THIS .slds-checkbox_faux{
    display: none;
}