.THIS .slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
    font-family: Arial;
}
.THIS .slds-form-element__control{
    color: #080707 !important;
    font-size: 14px;
    font-family: Arial;
}

/*.THIS .slds-form-element{
	height: 50px !important;
    margin-bottom:8%; 
}*/
.THIS .slds-input{
	height: 42px !important;
}
.THIS .toastClose {
    display:none;
}

.THIS .border{
    border-right:1px solid rgb(221, 219, 218);
}
.THIS .leftAlign{
    margin-left: -3%;
}
.THIS .leftAlign1{
    margin-left: 3%;
}

.THIS .boxHeadings{
    color: #080707;
    font-weight: bold;
    font-family:Arial;
    font-size:16px;
    padding-top: 16px;
    /*border-bottom: 1.2px solid lightgray;*/
    padding-bottom: 17px;
}
.THIS .pageTitle{
    color:#080707;
    font-family:Arial;
    font-weight:bold;
    font-size:18px;
}

.THIS .aSearch{
    color:#005FB2;
    font-size: 14px;
    font-family: Arial;
}
.THIS .insideDivWidth{
   width:53%;
}
.THIS .continueBtn{
    font-size:12px;
    color:#FFFFFF;
   /* border:#FFFFFF;*/
    font-family:Arial;
    width:107px;
}

.THIS .flexipageHeader {
    display:none;
}

.THIS .slds-button_icon-bare{
    height:42%;
}

.THIS .searchBtn{
    margin-top: -52px;
    font-size:12px;
    width:107px;
    color:#FFFFFF;
   /* background:#FFFFFF;*/
   /* border:#FFFFFF;*/
    font-family:Arial;
}

.THIS .prsearchBtn{
    font-size:12px;
     color:#FFFFFF;
    /*background:#FFFFFF;
    border:#FFFFFF;*/
    width:107px;
    font-family:Arial;
    margin-top: -3%;
}
.THIS .slds-button_icon{
    margin-top: -6px;
    color: black;
}

.THIS .clearBtn{
    float:right;
    font-family:Arial;
    font-size: 12px;
    color:#006DCC;
    font-weight:400;
    /*border-radius:0px;*/
}

.THIS .procSearchIcon{
     margin-top: 11px;
}  
.THIS .memSearchIcon{
 	margin-top: -14px;
}
.THIS .excludeInputPad{
   
}
.THIS .excludeInputPad input{
    /* Thanish - 17th July 2019 - Removed "border-radius: 0px" to fit the mockup */
    /*text-align:center;*/
    font-size:14px;
  
}
.THIS .chkClass span.slds-form-element__label{
    color: #3e3e3c;
    font-size: 12px;
    font-family: Arial;
}

.THIS .excludeInputPad .slds-listbox__option{
    padding:0px !important;
    color: #080707 !important;
    font-size: 14px;
    font-family: Arial;
   /*margin-left: 19%;*/
}
.THIS .excludeInputPad .slds-dropdown-trigger_click{
   
}
.THIS .inputsMemID{
    margin-top:5px;
}
.THIS .slds-checkbox_faux{
    /*height:21px;
    border:1.5px solid lightgrey;*/
}

.THIS .slds-th__action{
    background:white;
}
.THIS .providerType .slds-form-element__control {
   display: inline-flex;
}
.THIS .dobErrorAllign .slds-form-element__help{
    margin-top: 0%;
    color:#C23934;
    font-family:Arial;
    font-size:12px;
}
.THIS .groupLabel span.slds-form-element__label{  
    font-size:12px !important;
    font-family:Arial;
    color:#3e3e3c;
}

.THIS .customBorders{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-top: -5%;
    background:white !important;
}
.THIS .disableBtn{
    background: grey;
    color: white;
    border: grey;
}
.THIS .slds-button__icon{
    color:grey;
}
.THIS .downArrowCls svg {
    width: 1rem;
    height: 1rem;
    margin-top:10px;
}
.THIS .slds-icon-utility-chevrondown{
    margin-top:4px;
}
.THIS .alignmentDifComps{
    /*width:98.89% !important;*/
    width: calc(100% - 17px);
    position:fixed;
}

@media only screen and (device-width: 768px) {
  .THIS .memArrowIcon {
  	margin-left:75%;
  }
  .THIS .provArrowIcon{
       margin-left:75%;
   }
}

@media only screen and (device-width: 1024px) {
  .THIS .memArrowIcon {
  	margin-left:84%;
  }
  .THIS .provArrowIcon{
       margin-left:84%;
   }
}
.THIS .uiInputCls{
    height:41px;
    top:65% !important;
}
.THIS .uiInput{
    margin-bottom: 15px;
    margin-top: 9%;
}

.THIS .form-element__help{
    margin-top:-3% !important;
}

.THIS .hide-error-message  .slds-form-element__help {
    display: none !important;
}
.THIS .uiInputCls{
    height:41px;
    top:65% !important;
}
.THIS .slds-align_absolute-center{
    margin-top:-15px;
}
.THIS .errorMsg{
     color:#C23934;
    font-family:Arial;
    font-size:12px;
}
.THIS .field-value{
		color: #080707 !important;
		font-size: 14px;
		font-family: Arial;
}
.THIS .stateErrorDisplay{
    box-shadow: rgb(194, 57, 52) 0 0 0 2px inset;
}
.THIS .removeBorderState{
	border-color: rgb(194, 57, 52);
}
/* .THIS .oneConsoleLayoutContainer2 .fullLeft .split-left{
    z-index: 3 !important;
} */
.THIS  .slds-has-error .slds-input  {
   border-color: rgb(194, 57, 52) !important;
}