.THIS .slds-table_bordered {
      
}
.THIS .slds-card__header {
  background-color: rgb(243, 242, 242);
  padding-bottom: 14px;  
}
.THIS .slds-text-title_bold{
   font-size:14px !important;
   color:black;
}
.THIS .slds-icon-custom-custom55{
    background-color: rgb(242, 207, 91);
}
.THIS .slds-gutters_xxx-small {
    margin-right: -.125rem;
    margin-left: -.125rem;
    margin-top: .25rem !important;
}
.THIS .slds-col {
    padding-right: .30rem;
    padding-left: .30rem;
}
.THIS .slds-tabs_default__content {
    padding: 0rem 0; 
}

.THIS .slds-table thead th{
    padding: .25rem;
}
.THIS .titleBold .slds-accordion__summary-heading, 
.THIS .titleBold .slds-accordion__summary-heading:hover, 
.THIS .titleBold .slds-accordion__summary-heading:active{
    text-decoration: none;
    font-weight: bold;
    font-size:16px;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .uiScrollerWrapper.scrollable {
    background-color: white !important;
}
.THIS .margin-sides-full-size{
    margin-left: 8px;
    margin-right: 8px;
}
.THIS .paddingVal {
    padding-right: 12px;
}
.THIS .margin-top-full-size {
    margin-top: 10px;
}
.THIS .margin-top-full-size-save {
    margin-top: 10px;
    
}