.THIS .slds-accordion__summary{
    background: #f3f2f2 !important;
    padding: 10px !important;
    border-radius: 4px !important;
}
.THIS .hideLabel .slds-form-element__label {
    display : none !important;
}
.THIS .globalSearhDiv{
    margin-top:4%;
}
.THIS.iconWhite svg {
    fill : white;
}
.THIS .infoDiv{
    width:100%;
    padding: 1%;
}
.THIS .info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding:1%
}