.THIS {
}
.THIS .slds-progress-bar_large{
    height : 1.75rem;
}

.THIS .titleBold{
    margin-top: -5px;
    font-weight: bold;
}

.THIS .CenterAlignText{
    text-align: center;
    margin-top: 20px;
   	width: 160px;
    font-size: 12px;
    
}

.THIS .networkStatusCombo{
    margin-top: 10px;
    width: 200px;

}

.THIS .IndividualDiv{
    height: 17% !important;
     margin-left: -6px;
}

.THIS .ooPocketLeft{
    margin-top: -24px;
}

.THIS .ooPocketRight{
    margin-top: -24px;
}

.THIS .resetMargin {
    margin-left: -6px;
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}
.THIS .slds-truncate{
    font-weight:bold;
    font-size:16px;
}