.THIS noBorder{
  border: 0 !important;
}

.THIS textFont{
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS .valueFont{
    font-size: .875rem;
    font-weight: 400;
}

.THIS .detailStyle{
    word-wrap: break-word !important;
    
    width: 200px;
}

.THIS .break-word-container {
    display: table;
    table-layout: fixed;
    width: min-content;
    word-wrap: break-word;
}

.THIS .break-word-text {
   	width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    height: auto;
    
}