.THIS .cACETLGTMemberDetailInterim .slds-button_icon-bare {
    display: block !important;
}
.THIS.outerScroller {
    /* fix innerScroller not scrollable */
    border-radius: 1px;
}
.THIS.innerScroller {
    /* make innerScroller rounded */
    border-radius: 10px;
}