.THIS {
}
.THIS .secondSpinnerCls .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 0px;
    margin-bottom: 0px; 
}
.THIS .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.THIS .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.THIS .alert-dismissible {
    padding-right: 4rem;
}
.THIS .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.THIS .fade.show {
    opacity: 1;
}
.THIS .mb-0 {
    margin-bottom: 0!important;
}