.THIS.margin-sides-full-size{
    margin-left: 8px;
    margin-right: 8px;
}

.THIS.margin-top-full-size {
    margin-top: 10px;
}

.THIS .insuring-dates {
    margin-right: 15%;
    float: right;
    display: flex;
}

.THIS .population {
    margin-right: 10%;
    float: right;
    display: flex;
}

.THIS .bold-headers {
    font-weight: bold;
}
.THIS .activecol{
    background-color: yellow;
}
.THIS .grpinspop{
    display:none;
}