.THIS .noborder {
    border: 0px !important;
    box-shadow: none !important;
}
.THIS .asOfDateWidth{
    width: 130px;
}
.THIS .search_btn{
    width: 100px;
}
.THIS .disabled{
    pointer-events:none; 
    opacity:0.6;
}
.THIS .slds-pill__remove{
    display: block !important;
}
.THIS .subCategory{
    padding-left: 20px;
}