.THIS {
}
.THIS .demo-only{
    width:120% !important;
}
.THIS .sectionbg{
    
    margin : 5px;
      background-color :#f4f2f5 !important;
}
.THIS .marginval{
    margin : 4px; 
}
.THIS .sectionhd{
  
    margin : 8px;
}
.THIS .footerStyles{
    margin : 20px;   
}
.THIS.layout-background{
    background : rgba(238, 238, 238, 1);
}
.THIS.text-style {
     font-weight: bold !important;
    font-size: medium !important;
}

.THIS .label-textStyle .slds-form-element__label {
    display: none !important;
}

.THIS .label-textStyle{
    font-weight: bold !important;
}
.THIS .slds-text-title_bold{
   font-size:14px !important;
    color:black;
}