.THIS {
    padding :10px;
}
.THIS.cardStyle{
    overflow :scroll !important;
    height: 250px;
}
.THIS.scrollerSize {
    height: 200px;
}
.THIS .slds-table thead th {
    padding-left: 10px !important;
    white-space: initial !important;
}
.THIS .slds-table tbody td {
    padding-left: 12px !important;
    white-space: initial !important;
}
.THIS .no-text-overflow {
    white-space: normal;
    word-wrap: break-word;
}
.THIS.modal_size {
    width : 30% !important;
}
.THIS .customRequired{
 font-weight: 400; }
.THIS .customRequired:before{
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; }
.THIS .none{
 display:none; }
.THIS .commentTextArea .slds-textarea{
    height :180px !important;
}
.THIS .slds-text-title_bold{
   font-size:14px !important;
    color:black;
}
.THIS.h2 {
  font-size: 30px;
}
.THIS .slds-card__header {
  background-color: rgb(243, 242, 242);
  padding-bottom: 14px;  
  margin-left: -10px !important;
  margin-top: -10px !important;
  margin-right: -12px !important;
}