.THIS .col-mar {
  margin-top:-20px;
  font-size:14px;
}
.THIS .lab-text{
  font-size:12px;      
}
.THIS .botposstion{
   margin-bottom:26px;
}
.THIS .valposition{
   margin-top:8px;
   margin-left:-7px;
}
.THIS .lblvalposition{
   margin-left:-7px;
}
.THIS .headerpos{
    margin-left:16px; 
}