.THIS .conAlign{
    margin-top:-10% !important;
    width:85% !important;
}
.THIS .justifys{
    text-align: justify;
}
.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS.toggle {
    color:red;
}
.THIS.toggle1 {
    color: blue;
}
.THIS.toggle2 {
    color: blue;
}
.THIS.toggle3 {
    color: blue;
}
.THIS .slds-radio {
    display: inline !important;
}
.THIS  .dotted{
              border-bottom: 1px dashed #999;
          text-decoration: none;
}