.THIS .existinglist{
    font-style: italic;
}

.THIS .save-failed{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
    width:80%;
}

.THIS .noDataMsg{
    color: red;
    font-weight:bold;
    border:1px solid;
    border-radius:0.2rem;
    width: 250px;
}

.THIS span[class="uiImage"]{
    display:none;
}