.THIS .blueBtn{
    font-size:12px;
    color:#FFFFFF;
    font-family:Arial;
    width:auto;
    
}

.THIS .dropdownBackdrop {
	position: absolute;
	z-index: 55;
	height:100%;
	width:100%;
}

.THIS textarea {
  height: 10rem;
}

.THIS .slds-file-selector__dropzone{
    height: 7rem;
    width:100%;  /*US2564216 || US2564216*/
    padding:0rem; 
    margin:0rem;                 
   
                        
}
  /*US2564216 || US2564216*/
.THIS .uploadcss .slds-file-selector_files {
    
    width: 100%!important;
}

.THIS .headCls tr th{
    width:100%; 
   
}

.THIS slot{
	height: 7rem;
    width: 35rem;
}
.THIS .highlight{
    background : #F6FF33;
}

.THIS .docSpacetble{             /*US2564216 || US2564216*/
    justify-content: space-between;  
}