.slds-card{
    padding: 10px !important;
    background: rgb(243, 242, 242) !important;
}
.searchsection{
    padding-top: 10px !important;
}
.searchcss{
    float: right;
}
.tableDivClass {
    height:640px;
    overflow-y:auto;
}
.noresultcss{
    padding: 0.3%;
}
table thead th span {
    font-family: Salesforce Sans, Arial, sans-serif;
    font-size: 0.75rem;
    color: rgb(62, 62, 60);
    letter-spacing: .0625rem;
}