.THIS .chevBody {
  background-color: white !important;
}

.THIS .hideVal {
    display: none;
  }
.THIS .field_label_padding {
    width: 200px;
}
.THIS .slds-float_right {
    margin-right: 10px;
}
.THIS .slds-form-element {

    margin-bottom: -5px;
}
.THIS .header-column{
    width: fit-content;
}
/*.THIS .uiDatePicker {
    opacity: 1;
    display: block;
    margin-left: 15rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
}
.THIS .uiDatePicker.visible {
    opacity: 1;
    display: block;
    margin-left: 15rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
}
.THIS .uiDatePicker.DESKTOP.visible {
    opacity: 1;
    display: block;
    margin-left: 15rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
}*/

/*.THIS .visible DESKTOP .uiDatePicker--default .uiDatePicker{
    opacity: 1;
    display: block;
    margin-right: 15rem !important;
    top: 38.1875px !important;
    left: 906.7px !important;
    position: absolute !important;
    
}*/