.THIS .basicAdvanceRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .marginRightDiv{
    margin-left: 11px !important;
}
.THIS .basicAdvanceRadioCls .slds-form-element__label{
  padding-right: 50px !important;
}
.THIS .button_border{
    border-radius: 1px !important;
}
.THIS .Card_cls{
    font-size: 18px !important;
    font-weight: bold;
}
.THIS  .slds-has-error .slds-input  {
   border-color: rgb(194, 57, 52) !important;
}
.THIS .slds-icon-action-approval {
    background-color: #32b917;
}
.THIS .slds-icon-action-close {
    background-color: #fd5447;
}
.THIS .benefitErrorMessage {
    padding-left: 11px;
}
.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}
.THIS .slds-input__icon_left{
    display:none;
}
.THIS input[type='search']{
    padding-left:0.8rem;
}