.THIS .slds-modal__container{
    max-height: 50rem !important;
    height:80% !important;
}
.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .hide{
    
}


.THIS .btnCustomStyle{
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
}