.THIS {
}

.THIS ::placeholder {
    color:#C6C0BB;
   
}
.THIS .slds-input__icon{
    top: 0 !important;
    margin-top:0rem;
}
.THIS .slds-col span{
    color:black !important;
}
.THIS .slds-datepicker tbody>tr>td{
    padding:0px !important;
}

.THIS .slds-addFamilyMem-btn{
    color:white;
    border-radius:0.6rem;
    text-decoration:none;
    font-size:16px;
    background:#ffb111;
    /*padding-top:0.3rem;*/
    height:3rem;
    width:10rem;
    text-align:center;
    font-weight:bold;
    
}
.THIS .slds-addFamilyMem-btn a:hover{
    text-decoration:none;
}
/*
.THIS .slds-addFamilyMem-box a{
    color:white;
}
.THIS .slds-addFamilyMem-box a:hover{
    text-decoration:none;
}
*/
.THIS .slds-label-styles{
  color:#797972 !important;
  font-size:1rem !important;  
  font-weight:bold;
}
.THIS .slds-headingColor{
    color: #10276D;
    font-size:1.2rem;
}
.THIS .slds-rightside-styles{
    background : #242c4f;
    height:100%;
}
.THIS .slds-grid-style{
    height:100%;
    padding-right:0px!important;
}

@media (max-width : 450px){ 
    .THIS .slds-modal__content{
  width:80vw !important;
    height:60vh !important;
    }
    .THIS .slds-modal__header_empty {
    padding: 0 !important;
    border-bottom: 0 !important;
    width:80vw !important;
}
      .THIS .slds-paddingtop{
    padding-top:0.3rem !important;
}
.THIS .slds-paddingbottom{
     padding-bottom:0.8rem !important;
}
.THIS .slds-headingColor{
    color: #10276D;
    font-size:1.2rem;
}
.THIS .slds-modal__container{
        top:2.5rem !important;
}
}
@media only screen and (min-device-width: 600px) and (max-device-width: 700px) and (orientation:landscape) {
 .THIS .slds-modal__content{
     width:75vw !important;
    height:90vh !important;
    }
    .THIS .slds-modal__header_empty {
    padding: 0 !important;
    border-bottom: 0 !important;
    width:75vw !important;
}
       .THIS .slds-paddingtop{
    padding-top:0.3rem !important;
}
.THIS .slds-paddingbottom{
     padding-bottom:0.4rem !important;
}
.THIS .slds-headingColor{
    color: #10276D;
    font-size:1.2rem;
}
}
 @media (min-width : 768px){ 
.THIS .slds-modal__content{
   width:80vw !important;
    height:65vh !important;
}
.THIS .slds-modal__header_empty {
    padding: 0 !important;
    border-bottom: 0 !important;
    width:80vw;
}
    .THIS .slds-paddingtop{
    padding-top:0.7rem !important;
}
.THIS .slds-paddingbottom{
     padding-bottom:0.8rem !important;
}
}