.THIS {
   background-color: white;

}
.THIS header-text{
    font-weight: bold;
    font-family: default;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}
.THIS .slds-button-group .slds-button:first-child{
    border-radius: 0px;
}

.THIS .buttonBorderRadius{
    border-radius: 4px !important;
}

.THIS cls-FieldSet{
    border: 1px solid black;
    border-radius: 0px;
}

.THIS .cls-Interaction {    
    font-family: default;
    font-size: 12px;
    
    margin-right: 12px;
 }

.THIS .cls-ID {    
    font-family: default;
    font-size: 12px;
    
    margin-right: 12px;
 }

.THIS .cls-AS {    
    font-family: default;
    font-size: 14px;
    font-weight:bold;
    margin-left: 12px;
    margin-right: 12px;
 }

.THIS .hide-error-message .slds-form-element .slds-form-element__help {
    display: none;
}
.THIS .cls-Ad { 
   font-size: 14px;
}