.THIS .border-class{
    border: solid .5px #d4d4d4;
    border-radius: 5px;
    height: 5.5rem;
}
.THIS .colour {
    background-color:transparent !important;
}
/*.THIS .slds-scrollable{
    overflow-x:hidden !important;
}
.THIS .parent{
    width:120%;
    height:100%;
    border:1px;
    overflow:hidden !important;
    overflow-x:hidden !important;
    
}

.THIS .child{
    height:100%;
    margin-right:-50px;
    padding-right:50px;
    overflow-y:scroll !important;
    overflow-x:hidden !important;
    
} */
.THIS a:hover {
  background-color: transparent !important;
}
.THIS .colour svg{
    fill:red !important;
}
 /*ACDC added by Pavithra*/
 .THIS .notificationIcon {
    float:right;
    box-align:right;
    align-content: center;
    fill:blue;
}

  .THIS .notificationIcon svg {
    fill:blue;
    /*width:1.5rem;*/
   
}
.THIS .notificationIcon {
    background-color:transparent !important;
}
.THIS a:hover {
  background-color: transparent !important;
}
.THIS .current{
    background:white;
    border-left: solid;
    border-width: 0 0 0 5px;
    border-left-color: #2574a9;
    height: 5rem;
}