.THIS {
}
.THIS .dynamic_table td {
  white-space: nowrap !important;
  text-align: left;
  padding: 7px 18px !important;
}
.THIS .dynamic_table th {
  background-color: #fafaf9 !important;
  white-space: nowrap !important;
  text-align: left;
  padding: 9px 18px !important;
}

.THIS.pagenation_div_position{
position: relative;
    top: -32px;
}
.THIS .thbackgroundcolorcls {
      background-color: #fafaf9 !important;

}
.THIS .hidetable{
        display: none;
}